<mat-card-title
  class="mat-dialog-title mat-elevation-z6">
  {{ this.isEdit ? "Edit Leave" : helperService.translated.SITETITLE.ADDLEAVES}}
  <button mat-button class="close-dialog" [mat-dialog-close]="'NO'"><i class="material-icons">close</i></button>
</mat-card-title>
<div mat-dialog-content>
  <div class="spinner-wrap" *ngIf="leavesModel.loading">
    <mat-spinner [diameter]="helperService.constants.appConstant.spinnerConstant"></mat-spinner>
  </div>
  <form [formGroup]="leavesModel.leaveForm"
        (ngSubmit)=addLeavesSubmit(leavesModel.leaveForm)>
    <div class="field-inline">
      <mat-form-field appearance="outline">
        <mat-label>{{helperService.translated.MESSAGES.ENTITYNAME}}</mat-label>
        <input matInput type="text" [formControlName]="helperService.appConstants.entity">
        <mat-error class="text-right" *ngIf="addLeaveFormValidations.errors">
          <span
            *ngIf="addLeaveFormValidations.entityName.errors.required">Entity is required.</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>{{leavesModel.selectedLeave.name}}</mat-label>
        <mat-select [(value)]="leavesModel.selectedLeave"
                    [formControlName]="helperService.appConstants.leaveType">
          <mat-option *ngFor="let leaves of leavesModel.leaveTypes" [value]="leaves">
            {{ leaves.name }}
          </mat-option>
        </mat-select>
        <mat-error class="text-right" *ngIf="addLeaveFormValidations.errors">
          <span
            *ngIf="addLeaveFormValidations.leaveTypes.errors.required">Leave type is required</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput [matDatepicker]="picker1"
               [matDatepickerFilter]="myFilter"
               [formControlName]="helperService.appConstants.dateFrom" [min]="leavesModel.startAt"
               placeholder="Date From" readonly
               (dateChange)="dateSelected('change', $event)">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker [startAt]="leavesModel.startAt" #picker1></mat-datepicker>
        <mat-error class="text-right" *ngIf="addLeaveFormValidations.errors">
          <span
            *ngIf="addLeaveFormValidations.dateFrom.errors.required">Date From is required</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput [matDatepicker]="picker2"
               [matDatepickerFilter]="myFilter"
               [formControlName]="helperService.appConstants.dateTo"
               [min]="rangeAt"
               placeholder="Date To">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2 [startAt]="rangeAt"></mat-datepicker>
        <mat-error class="text-right" *ngIf="addLeaveFormValidations.errors">
            <span
              *ngIf="addLeaveFormValidations.dateTo.errors.required">Date To is required</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" fullWidth>
        <mat-label>{{helperService.translated.STRINGS.DESCRIPTION}}</mat-label>
        <textarea maxlength="500" rows="6" cols="6" matInput
                  [formControlName]="helperService.appIcons.description">
          </textarea>
        <mat-error class="text-right" *ngIf="addLeaveFormValidations.errors">
            <span
              *ngIf="addLeaveFormValidations.description.errors.required">Description is required</span>
        </mat-error>
      </mat-form-field>
      <mat-dialog-actions>
        <button class="mat-elevation-z1" mat-raised-button cdkFocusInitial custom-btn color="primary"
                [disabled]="leavesModel.leaveForm.invalid || leavesModel.loading">
          {{ this.isEdit ? "Edit Leave" : "Add Leave" }}
          <div class="main-loader" *ngIf="leavesModel.loading">
            <span class="loader1"></span>
            <span class="loader2"></span>
            <span class="loader3"></span>
          </div>
        </button>
      </mat-dialog-actions>
    </div>
  </form>
</div>
