@mixin amte-addleaves($primary, $accent, $warn) {
  :host,
  app-addleaves {
    .field-inline {
      display: flex;
      flex-wrap: wrap;
      mat-form-field {
        margin: 0 5px;
        flex: 1 1 auto;
        width: 40%;
      }
    }
    @media (max-width: 768px) {
      .field-inline {
        mat-form-field {
          width: 100%;
        }
      }
    }
  }
}