@mixin amte-ImportSiteModal($primary, $accent, $warn) {
  :host,
  app-ImportSiteModal {
    mat-card-title {
      mat-icon {
        float: right;
      }
    }
    .file-upload {
      position: relative;
      input[type="file"] {
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        cursor: pointer;
      }
    }
  }
}
