<div class="top-nav">
  <a class="logo-text" href="#">SafetyBeat</a>
  <ul>
    <li><a href="#">About</a></li>
    <li><a href="#">Why SafetyBeat</a></li>
    <li><a href="#">Pricing</a></li>
    <li><a class="login" href="#">Login</a></li>
  </ul>
</div>
<img class="backimg" src="/assets/images/wireframe.png" />
<div class="text-wrapper">
  <div class="content-box">
    <img class="sb-logo" src="/assets/images/safetybeat-icon-primary.png" />
    <h1>Welcome to <span>SafetyBeat</span></h1>
    <p>
      The only safety app that allows you to easily manage the safety of your
      mobile, remote and lone workers, anytime, anywhere
    </p>
    <form [formGroup]="validateForm" (ngSubmit)="validateUser(validateForm)">
      <mat-form-field>
        <input matInput type="email" placeholder='Please enter email' formControlName='email' required />
        <mat-error *ngIf="formValidation.email.errors">
          <span *ngIf="formValidation.email.errors.required">Enter valid email first</span>
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" btn-primary custom-btn>get Started</button>
    </form>
    <p class="trial-info">Free 7-day trial. Sign Up now!</p>
  </div>
  <app-particle-container></app-particle-container>
</div>
