<div class="spinner-wrap" *ngIf="dashboardObj.loading">
  <mat-spinner [diameter]="helperService.constants.appConstant.spinnerConstant"></mat-spinner>
</div>
<div [class]="dashboardObj.loading ? 'preloading-wrap blur' : 'preloading-wrap'">
  <mat-grid-list cols="2" rowHeight="fit" gutterSize="10px" class="dashboard-widgets">
    <mat-grid-tile class="mat-elevation-z2">
      <div id="container" class="hightchart-span"></div>
    </mat-grid-tile>
    <mat-grid-tile class="mat-elevation-z2">
      <div id="severityReport" class="hightchart-span"></div>
    </mat-grid-tile>
    <mat-grid-tile class="mat-elevation-z2">
      <div id="statusReport" class="hightchart-span"></div>
    </mat-grid-tile>
    <mat-grid-tile class="mat-elevation-z2">
      <div id="pulseReport"></div>
    </mat-grid-tile>

  </mat-grid-list>
</div>
