@mixin amte-dashboard($primary, $accent, $warn) {
  :host,
  app-dashboard {
    position: relative;
    height: $fullValue;
    mat-grid-list {
      height: 90vh;
    }
    .hightchart-span {
      height: 100%;
    }
    .dashboard-card-content {
      text-align: center;
    }
    chart,
    .highcharts-container,
    .highcharts-root {
      width: $fullValue !important;
    }
    .dashboard-widgets {
      .mat-card {
        width: $fullValue;
      }
      mat-grid-tile {
        figure > div {
          width: $fullValue;
        }
      }
    }
  }
}
