<div class="paddingbox">
  <div class="page-title">
    <h3>{{ helperService.translated.SITETITLE.DOCUMENTS }}</h3>
    <div class="buttonRow">
      <button btn-primary mat-raised-button color="primary" (click)="uploadDoc()">
        <mat-icon>{{ helperService.appIcons.createEntity }}</mat-icon>
        {{ helperService.translated.BUTTONS.UPLOAD_DOCUMENT }}
      </button>
    </div>
  </div>

  <!--Go to root folder-->
  <button class="go-back" (click)="goBack()" mat-button type="button">
    <mat-icon>{{helperService.appIcons.arrowBack}}</mat-icon> {{helperService.translated.BUTTONS.BACK}}
  </button>


  <!--Search-->
  <div class="search-bar">
    <form autocomplete="off">
      <mat-form-field autocomplete="off" appearance="outline">
        <mat-label>Search file or folder</mat-label>
        <input matInput placeholder="Search file or folder">
        <mat-icon matSuffix>{{ helperService.appIcons.search }}</mat-icon>
      </mat-form-field>
    </form>
  </div>
  <!--/Search-->

  <!--Files-->
  <div class="files-wrapper">
    <h4 class="wrapper-heading">Files</h4>
    <p class="no-data mat-small mat-caption" *ngIf="!documentsData.folderDoc">No documents found.</p>
    <div class="content-area">
      <ng-container *ngFor="let doc of documentsData.docList">
        <mat-card class="file-inline">
          <button class="file-options" mat-icon-button [matMenuTriggerFor]="menu"
                  aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>{{ helperService.appIcons.edit }}</mat-icon>
              <span>{{helperService.translated.BUTTONS.RENAME}}</span>
            </button>
            <button mat-menu-item (click)="deleteDoc(doc.id)">
              <mat-icon>{{ helperService.appIcons.deleteForever }}</mat-icon>
              <span>{{helperService.translated.BUTTONS.DELETE}}</span>
            </button>
          </mat-menu>
          <div class="content" (click)="viewDoc(doc.file)">
            <div class="filetype">
              <span class="document-type">{{(doc.title.split('.'))[1]}}</span>
            </div>
            <span class="mat-body-2 mat-small">{{doc.title}}</span>
          </div>
        </mat-card>
      </ng-container>
    </div>
  </div>
  <!--Files-->
</div>

