<div class="paddingbox">
  <div class="page-title">
    <h3>{{ helperService.translated.SITETITLE.DOCUMENTS }}</h3>
    <div class="buttonRow">
      <button btn-primary mat-raised-button color="primary" (click)="uploadDoc()">
        <mat-icon>{{ helperService.appIcons.createEntity }}</mat-icon>
        {{ helperService.translated.BUTTONS.UPLOAD_DOCUMENT }}
      </button>
      <button btn-primary mat-raised-button color="primary" (click)="newFolder()">
        <mat-icon>{{ helperService.appIcons.createFolder }}</mat-icon>
        {{ helperService.translated.BUTTONS.CREATE_FOLDER }}
      </button>
    </div>
  </div>

  <!--Go to root folder-->
  <button class="go-back" (click)="goBack()" mat-button mat-dialog-close type="button">
    <mat-icon>{{helperService.appIcons.arrowBack}}</mat-icon> {{helperService.translated.BUTTONS.BACK}}
  </button>

  <!--Files-->
  <div class="files-wrapper">
    <h4 class="wrapper-heading">Files</h4>
    <p class="no-data mat-small mat-caption">No documents found.</p>
    <div class="content-area">
      <ng-container *ngFor="let doc of documentsData.docList">
        <mat-card class="file-inline">
          <span class="file-label mat-caption">PDF</span>
          <img mat-card-image
            src="https://docs.google.com/gview?url=https://s3-ap-southeast-2.amazonaws.com/2testbucket786/Faisal+Usman.pdf&embedded=true width='560px' height='623px"
            alt="no preview available">
          <span class="mat-body-strong">{{doc.title}}</span>
        </mat-card>
      </ng-container>
    </div>
  </div>
  <!--Files-->
</div>

<!-- <div class="files-wrapper">
    <h4 class="wrapper-heading">Files</h4>
    <div class="content-area">
      <ng-container *ngFor="let doc of documentsData.docList">
        <mat-card class="file-inline">
          <div class="file-info">
            <mat-icon class="file-type">{{ helperService.appIcons.insertDriveFile }}</mat-icon>
            <span>{{doc.title}}</span>
          </div>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="no preview available">
        </mat-card>
      </ng-container>
    </div>
  </div> -->