<div class="paddingbox">
  <div class="page-title">
    <h3>{{ helperService.translated.SITETITLE.DOCUMENTS }}</h3>
    <div class="buttonRow">
      <button btn-primary mat-raised-button color="primary" (click)="uploadDoc()">
        <mat-icon>{{ helperService.appIcons.createEntity }}</mat-icon>
        {{ helperService.translated.BUTTONS.UPLOAD_DOCUMENT }}
      </button>
    </div>
  </div>

  <!--Go to root folder-->
  <button class="go-back" (click)="goBack()" mat-button type="button">
    <mat-icon>{{helperService.appIcons.arrowBack}}</mat-icon> {{helperService.translated.BUTTONS.BACK}}
  </button>


  <!--Search-->
  <div class="search-bar">
    <form autocomplete="off">
      <mat-form-field autocomplete="off" appearance="outline">
        <mat-label>Search file or folder</mat-label>
        <input matInput placeholder="Search file or folder">
        <mat-icon matSuffix>{{ helperService.appIcons.search }}</mat-icon>
      </mat-form-field>
    </form>
  </div>
  <!--/Search-->

  <!--Files-->
  <div class="files-wrapper">
    <h4 class="wrapper-heading">Files</h4>
    <p class="no-data mat-small mat-caption" *ngIf="!documentsData.folderDoc">No documents found.</p>
    <div class="content-area">
      <ng-container *ngFor="let doc of documentsData.docList">
        <mat-card class="file-inline" (click)="viewDoc(doc.file)">
          <span class="file-label mat-caption">PDF</span>
          <!-- <iframe
            src="doc.sourceUrl"
            width='150' height='150'></iframe> -->
<!--          <iframe [src]=doc.file width='100%' height='150'></iframe>-->
          <br>
          <span class="mat-body-strong">{{doc.title}}</span>
        </mat-card>
      </ng-container>
    </div>
  </div>
  <!--Files-->
</div>

<!-- <div class="files-wrapper">
    <h4 class="wrapper-heading">Files</h4>
    <div class="content-area">
      <ng-container *ngFor="let doc of documentsData.docList">
        <mat-card class="file-inline">
          <div class="file-info">
            <mat-icon class="file-type">{{ helperService.appIcons.insertDriveFile }}</mat-icon>
            <span>{{doc.title}}</span>
          </div>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="no preview available">
        </mat-card>
      </ng-container>
    </div>
  </div> -->
