@mixin amte-app-package-settings($primary, $accent, $warn) {
  :host,
  app-package-settings {
    .add-users-input {
      border: 0;
      outline: 0 none;
      width: 100px;
      padding: 0.5rem;
      margin-top: 1rem;
      border-radius: 4px;
      -webkit-appearance: none;
    }
    .paddingbox {
      padding: 16px 100px;
    }
    .packages-wrapper {
      display: flex;
      justify-content: center;
    }
    .package-features {
      ul {
        list-style-type: none;
        padding: 0;
        li {
          margin-top: 35px;
        }
        mat-icon {
          vertical-align: middle;
          color: mat-color($primary, 500);
          margin-right: 10px;
        }
      }
    }
    .pricing-section {
      display: flex;
      align-self: flex-start;
      justify-content: space-evenly;
      .package-row {
        background-color: mat-color($primary, 50);
        display: inline-block;
        border-radius: 4px;
        position: relative;
        align-items: center;
        text-align: center;
        width: 33%;
        margin: 4px;
        padding: 2rem;
        &:nth-child(2) {
          background-color: mat-color($primary);
          color: #fff;
        }
        & > div {
          padding: 1rem;
        }
        h1 {
          display: inline-block;
          margin: 0;
        }
        p {
          margin: 0;
        }
        .person-count {
          margin-left: auto;
        }
        &.custom {

        }
      }
    }
    .call-to-action {
      background: mat-color($primary, 500);
      padding: 4rem 10rem;
      text-align: center;
      color: #fff;
      margin-top: 5rem;
      [custom-btn] {
        color: initial;
      }
      h1 {
        font-weight: 500;
        margin: 0;
      }
      p {
        margin: 10px 0 20px;
      }
      a {
        color: #fff;
        display: flex;
        margin: 0 auto;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 150px;
        text-decoration: none;
      }
    }
    @media (max-width: 768px) {
      [fullWidth] {
        .mat-form-field-infix {
          width: 100%;
        }
      }
      .legend-header {
        padding: 20px;
        mat-card-title {
          font-size: 1.4rem;
        }
      }
      .packages-wrapper {
        display: block;
        .package-box {
          width: 100%;
          margin: 10px 0;
          .package-price {
            font-size: 1.4rem;
          }
        }
      }
      .call-to-action {
        padding: 20px;
        h1 {
          font-size: 1.4rem;
        }
        p {
          font-size: 14px;
        }
      }
      .paddingbox {
        padding: 16px;
      }
      .mat-card {
        padding: 0;
      }
      .pricing-section {
        margin-top: 2rem;
      }
    }
    @media (max-width: 992px) {
      .packages-wrapper {
        .package-box {
          .package-price {
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}
