@mixin amte-profile($primary, $accent, $warn) {
  :host,
  app-profile {
    .pagehead {
      height: auto !important;
      margin-bottom: 50px;
      padding: 20px 16px !important;
      .user-avatar {
        width: 150px;
        margin-bottom: -80px;
        position: relative;
        img {
          max-width: 100%;
          border-radius: 100px;
          overflow: hidden;
          box-shadow: 0 0 10px 0px #00000075;
          border: 2px solid #fff;
        }
        .change-avatar {
          background: rgba(0, 0, 0, 0.6);
          position: absolute;
          left: 2px;
          top: 2px;
          height: 150px;
          width: 150px;
          border-radius: 100px;
          transition: all ease 0.3s;
          transform: scale(0);
          opacity: 0;
          cursor: pointer;
          color: #fff;
          font-size: 14px;
          text-align: center;
          line-height: 11;
        }
        &:hover {
          .change-avatar {
            opacity: 1;
            transform: scale(1);
          }
        }
      }
      .user-info {
        display: inline-block;
        padding: 30px;
        text-transform: capitalize;
        p {
          margin: 0;
          font-size: 14px;
        }
      }
    }
    .grid-container {
      .mat-figure {
        position: relative;
        display: block;
        height: auto;
        margin: 16px;
      }
      .mat-grid-tile {
        padding: 0 !important;
        width: 50% !important;
      }
    }
    .more-button {
      position: absolute;
      top: 5px;
      right: 10px;
    }
    .dashboard-card-content {
      text-align: center;
    }
    .btn {
      position: inherit;
      padding-left: 87%;
    }
    .dashboard-card {
      mat-card-content {
        text-align: left;
        margin: 10px 0;
      }
      mat-list {
        padding-top: 0;
      }
      .mat-list-item {
        font-size: 14px;
      }
    }
    .profile-form {
      .mat-input-element {
        background-color: transparent;
        border: 0;
        &.active {
          outline: 0 none;
          color: inherit;
        }
      }
    }
    .btn-grids {
      a {
        margin: 5px;
        text-align: center;
        padding: 10px;
        font-size: 12px;
        text-transform: capitalize;
        mat-icon {
          margin: 0 auto;
          border-radius: 100px;
          background: mat-color($primary);
          padding: 5px;
          color: #fff;
          font-size: 14px;
          height: auto;
          width: auto;
        }
      }
    }
    .btn-grp {
      button[btn-primary] {
        margin-left: 10px;
      }
    }
  }
  @media (max-width: 768px) {
    app-profile {
      .grid-container {
        .mat-grid-tile {
          width: 100% !important;
          left: 0 !important;
          position: relative;
        }
      }
    }
  }
}
