@mixin amte-profile($primary, $accent, $warn) {
  :host,
  app-profile {
    $boxShadow: -1px 1px 2px 0 rgba(0, 0, 0, 0.18);
    .settings-btn {
      margin-left: auto;
    }
    mat-grid-list {
      min-height: 550px;
    }
    mat-card-title {
      font-size: 18px;
    }
    .mat-list-item-content {
      padding: 0 !important;
    }
    .navigator {
      width: 100%;
      .mat-list {
        padding-top: 0;
      }

      mat-list-item {
        font-size: 14px;
        cursor: pointer;
        mat-icon {
          font-size: 20px;
          margin-right: 10px;
        }
        span {
          cursor: pointer;
          font-size: 12px;
          display: flex;
          align-items: center;
        }
      }
    }
    .view-team {
      mat-list-item {
        height: auto !important;
        padding: 8px 0 !important;
        border-bottom: 1px solid #ddd;
        img {
          width: 50px;
          border-radius: 100px;
          margin-right: 10px;
        }
        label {
          font-weight: 600;
          display: block;
          margin: 0 0 6px;
        }
        .list-content {
          width: 100%;
          span {
            display: flex;
            align-items: center;
            font-size: 14px;
            margin: 5px 0;
            opacity: 0.8;
            mat-icon {
              width: auto;
              height: auto;
              font-size: 16px;
              padding: 0 6px 0 0;
            }
          }
        }
        .remove-btn {
          background-color: #fff;
          box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.25);
          border-radius: 100px;
          padding: 4px;
          cursor: pointer;
        }
      }
    }

    .pagehead {
      height: auto !important;
      padding: 10px 16px !important;
      background: url("~assets/images/legend-headerbg.jpg") no-repeat center/cover;
      .user-avatar {
        width: 100px;
        position: relative;
        overflow: hidden;
        border-radius: 100px;
        height: 100px;
        img {
          max-width: 100%;
          border-radius: 100px;
          overflow: hidden;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          margin: 0 auto;
          right: 0;
        }
        .change-avatar {
          position: absolute;
          left: 0;
          right: 0;
          background: rgba(0, 0, 0, 0.6);
          top: 0;
          z-index: 0;
          font-size: 12px;
          color: #fff;
          height: 100%;
          width: 100%;
          display: flex;
          white-space: normal;
          text-align: center;
          align-items: center;
          justify-content: center;
          line-height: 1.5;
          opacity: 0;
          visibility: hidden;
          cursor: pointer;
          input {
            opacity: 0;
            width: 100%;
            position: absolute;
            height: 100%;
            cursor: pointer;
          }
        }
        &:hover .change-avatar {
          opacity: 1;
          visibility: visible;
        }
      }
      .user-info {
        padding: 0 30px;
        width: 100%;
        text-transform: capitalize;
        p {
          margin: 0;
          font-size: 14px;
        }
      }
      .data-counts {
        display: flex;
        text-align: center;
        justify-content: center;
        .countbox {
          padding: 0 20px;
          &:nth-child(2) {
            border-left: 1px solid rgba(0, 0, 0, 0.2);
            border-right: 1px solid rgba(0, 0, 0, 0.2);
          }
          p {
            margin: 0;
          }
        }
      }
    }
    .more-button {
      position: absolute;
      top: 5px;
      right: 10px;
    }
    .btn {
      position: inherit;
      padding-left: 87%;
    }
    .mat-figure {
      align-items: normal;
    }
    .dashboard-card {
      padding: 0;
      width: 100%;
      table {
        width: 100%;
      }
      .infoTitle {
        color: #fff;
        border-radius: 4px 4px 0 0;
        padding: 10px 16px;
        align-items: center;
        height: 30px;
        mat-card-title {
          font-size: 16px;
          margin: 0;
        }
        .mat-card-header-text {
          margin: 0;
          width: 100%;
        }
        &:before {
          content: "";
          display: block;
          width: 30px;
          height: 3px;
          border-radius: 100px;
          float: left;
          margin-right: 8px;
          background: #fff;
        }
        .filter-results {
          float: right;
          label {
            padding: 10px;
          }
          select {
            border: 0;
            outline: 0 none;
            border-radius: 2px;
            padding: 4px;
          }
        }
      }
      mat-list {
        padding-top: 0;
      }
      .mat-list-item {
        font-size: 14px;
      }
      .activity-card {
        padding: 10px;
        position: relative;
        box-shadow: $boxShadow;
        &:last-child {
          box-shadow: none;
        }
        .row {
          margin: 0 0 4px;
          position: relative;
          z-index: 1;
          span {
            float: right;
          }
          a {
            text-decoration: none;
            mat-icon {
              height: auto;
              width: auto;
              display: inline-block;
              line-height: 0;
              top: 6px;
              position: relative;
            }
          }
        }
      }
      .header-btn {
        color: #fff;
        font-size: 12px;
        text-decoration: none;
        padding: 6px;
        border: 1px solid rgba(255, 255, 255, 0.25);
        display: block;
        width: 150px;
        text-align: center;
        border-radius: 4px;
        &:hover {
          border: 1px solid rgba(255, 255, 255, 0.5);
        }
      }
      tr.mat-row,
      tr.mat-header-row {
        height: 35px;
      }
      tr.mat-row:last-child {
        td {
          border-bottom: 0;
        }
      }
      .mat-paginator-page-size {
        display: none;
      }
      .mat-paginator-container {
        min-height: auto;
      }
      mat-card-content {
        height: 80%;
        overflow: auto;
      }
    }
    .profile-form {
      .mat-input-element {
        background-color: transparent;
        border: 0;
        &.active {
          outline: 0 none;
          color: inherit;
        }
      }
    }
    .mat-card {
      margin: 3px;
    }
  }
  @media (max-width: 768px) {
  }
}
