<mat-toolbar class="pagehead mat-elevation-z5">
  <div class="user-avatar">
    <img src="{{ profileModel.profileImage != null ? profileModel.profileImage : helperService.appConstants.avatar}}" />
    <span class="change-avatar" *ngIf="profileModel.currentUserProfile">
      <input type='file' name="{{helperService.appConstants.profileImage}}"
        id="{{helperService.appConstants.profileImage}}" accept='image/*' (change)=uploadProfileImage($event) />
      Change Picture</span>
  </div>
  <div class="user-info" *ngIf="profileModel.profileData">
    <h3>
      <strong matTooltipPosition="after" matTooltip="{{profileModel.email}}"
        aria-label="Button that displays a tooltip when focused or hovered over">{{ profileModel.username }}</strong>
    </h3>
    <p>{{profileModel.role}} <strong>{{profileModel.entityName}}</strong></p>
  </div>
  <div class="data-counts">
    <div class="countbox">
      <h4 class="mat-display-1">30</h4>
      <p class="mat-small">Connections</p>
    </div>
  </div>
</mat-toolbar>
<div class="grid-container" style="max-height: 500px">
  <mat-grid-list cols="4" rowHeight="fit">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card activities" *ngIf="card.title==='Activities'">
        <mat-card-header class="infoTitle">
          <mat-card-title>{{card.title}}</mat-card-title>
          <div class="filter-results">
            <label>Filter:</label>
            <select>
              <option>Most Recent</option>
              <option>Last Day</option>
              <option>Last Week</option>
              <option>Last Month</option>
              <option>Last Year</option>
            </select>
          </div>
        </mat-card-header>
        <mat-card-content>
          <ng-container *ngIf="profileModel.noActivity !== true">
            <div class="activity-card" *ngFor="let activity of profileModel.recentActivities">
              <div class="row"><strong>{{activity.siteData.name}}</strong><span (click)="viewSite(activity.siteData.longitude, activity.siteData.latitude,
             activity.siteData.name, activity.siteData.location)"><a>
                    <mat-icon>link</mat-icon> View Site
                  </a></span></div>
              <div class="row">
                <strong>{{helperService.translated.STRINGS.CHECK_IN}}</strong><span>{{activity.checkInCheckOut.checkedInAt | date:'medium'}}</span>
              </div>
              <div class="row"><strong>{{helperService.translated.STRINGS.CHECK_OUT}}</strong>
                <span
                  *ngIf="activity.checkInCheckOut.checkedOutAt === null">{{helperService.translated.MESSAGES.NOT_CHECKED_OUT}}</span>
                <span
                  *ngIf="activity.checkInCheckOut.checkedOutAt !== null">{{activity.checkInCheckOut.checkedOutAt | date:'medium'}}</span>
              </div>
              <div class="row"><strong>{{helperService.translated.STRINGS.DURATION}}</strong><span
                  *ngIf="activity.checkInCheckOut.checkedOutAt !== null">{{activity.duration}}</span>
                <span
                  *ngIf="activity.checkInCheckOut.checkedOutAt === null">{{helperService.translated.MESSAGES.NOT_CHECKED_OUT}}</span>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="profileModel.noActivity === true">
            <mat-card style="text-align: center;">{{helperService.translated.STRINGS.NO_ACTIVITIES}}</mat-card>
          </ng-container>
        </mat-card-content>
      </mat-card>
      <mat-card class="dashboard-card activities" *ngIf="card.title==='Connections'">
        <mat-card-header class="infoTitle">
          <mat-card-title>{{card.title}}</mat-card-title>
          <div class="filter-results">
            <label>Filter:</label>
            <select>
              <option>Most Recent</option>
              <option>Last Day</option>
              <option>Last Week</option>
              <option>Last Month</option>
              <option>Last Year</option>
            </select>
          </div>
        </mat-card-header>

        <mat-card-content class="view-team">
          <ng-container *ngIf="profileModel.noConnection !== true">
            <mat-list role="list">
              <mat-list-item role="listitem" *ngFor="let connection of profileModel.allConnectionsData">
                <img src="{{ connection.photos != null ? connection.photos : helperService.appConstants.avatar}}">
                <div class="list-content">
                  <label>{{connection.name}} </label>
                  <span>
                    <mat-icon>{{helperService.appIcons.email}}</mat-icon>{{connection.email}}
                  </span>
                </div>
                <div *ngIf="profileModel.currentUserProfile">
                  <mat-icon (click)="removeConnection(connection.id)">remove_circle_outline</mat-icon>
                </div>
              </mat-list-item>
            </mat-list>
          </ng-container>
          <ng-container *ngIf="profileModel.noConnection === true">
            <mat-card style="text-align: center;">{{helperService.translated.MESSAGES.NO_CONNECTIONS}}</mat-card>
          </ng-container>
        </mat-card-content>
      </mat-card>


      <mat-card class="dashboard-card activities" *ngIf="card.title==='Leaves'">
        <mat-card-header class="infoTitle">
          <mat-card-title>{{card.title}}</mat-card-title>
          <a routerLink="" class="header-btn">Request Leave</a>
        </mat-card-header>
        <mat-card-content>
          <div class="">
            <table class="customTable mat-elevation-z3" mat-table [dataSource]="dataSource">
              <!-- Position Column -->
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No.</th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
              </ng-container>
              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name</th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>
              <!-- Weight Column -->
              <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef> Weight</th>
                <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
              </ng-container>
              <!-- Symbol Column -->
              <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef> Symbol</th>
                <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="dashboard-card activities" *ngIf="card.title==='Entities'">
        <mat-card-header class="infoTitle">
          <mat-card-title>{{card.title}}</mat-card-title>
          <a routerLink="/home/adminControl/entityControl" class="header-btn"
            *ngIf="profileModel.currentUserProfile">View All</a>
        </mat-card-header>
        <mat-card-content>
          <div class="">
            <table class="customTable mat-elevation-z3" mat-table [dataSource]="profileModel.dataSource">
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>
                  {{ helperService.translated.TABLEHEADINGS.ENTITY_NAME }}
                </th>
                <td mat-cell *matCellDef="let element">{{ element.entityInfo.name }}</td>
              </ng-container>

              <ng-container matColumnDef="headOffice">
                <th mat-header-cell *matHeaderCellDef>
                  {{ helperService.translated.TABLEHEADINGS.ENTITY_HEADOFFICE }}
                </th>
                <td mat-cell *matCellDef="let element">{{ element.entityInfo.headOffice }}</td>
              </ng-container>

              <ng-container matColumnDef="role">
                <th mat-header-cell *matHeaderCellDef>
                  {{ helperService.translated.TABLEHEADINGS.ACCESS_LEVEL }}
                </th>
                <td mat-cell *matCellDef="let element">{{ element.role }}</td>
              </ng-container>
              <ng-container matColumnDef="administrator">
                <th mat-header-cell *matHeaderCellDef>
                  {{ helperService.translated.TABLEHEADINGS.ADMINISTRATED_BY }}
                </th>
                <td mat-cell *matCellDef="let element">{{ element.administrator.username }}<br>
                  {{ element.administrator.email }}</td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="profileModel.displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: profileModel.displayedColumns;"></tr>
            </table>
            <div class="paddingbox text-center" *ngIf="profileModel.noRecords">
              {{helperService.translated.MESSAGES.NO_RECORD_AVAILABLE}}</div>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
