@mixin amte-profile($primary, $accent, $warn) {
  :host,
  app-profile {
    .grid-container {
      overflow-y: auto;
      height: 100%;
    }
    .dashboard-card {
      position: absolute;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
    }
    .more-button {
      position: absolute;
      top: 5px;
      right: 10px;
    }
    .dashboard-card-content {
      text-align: center;
    }
    .btn {
      position: inherit;
      padding-left: 87%;
    }
    .dashboard-card {
      mat-card-content {
        text-align: left;
        margin: 10px 0;
      }
      mat-list {
        padding-top: 0;
      }
      .mat-list-item {
        font-size: 14px;
      }
    }
    .btn-grids {
      a {
        margin: 5px;
        text-align: center;
        padding: 10px;
        font-size: 12px;
        text-transform: capitalize;
        border: 1px solid mat-color($primary, 50);
        mat-icon {
          margin: 0 auto;
          border-radius: 100px;
          background: mat-color($primary);
          padding: 5px;
          color: #fff;
          font-size: 14px;
          height: auto;
          width: auto;
        }
      }
    }
    .btn-grp {
      button[btn-primary] {
        margin-left: 10px;
      }
    }
  }
}
