<mat-toolbar class="pagehead mat-elevation-z6">
  <div>
    <div class="user-avatar mat-elevation-z2">
      <img
        src="{{ profileModel.profileImage != null ? profileModel.profileImage : helperService.appConstants.avatar}}" />
      <span class="change-avatar" *ngIf="profileModel.currentUserProfile">
        <input type='file' name="{{helperService.appConstants.profileImage}}"
          id="{{helperService.appConstants.profileImage}}" accept='image/*' (change)=uploadProfileImage($event) />
        {{ helperService.translated.STRINGS.CHANGEPICTURE }}</span>
    </div>
  </div>
  <div class="user-info" *ngIf="profileModel.profileData">
    <h3 class="mat-body-strong" matTooltipPosition="after" matTooltip="{{profileModel.email}}"
      aria-label="Button that displays a tooltip when focused or hovered over">{{ profileModel.name }}
    </h3>
    <p>{{profileModel.role}} <strong>{{profileModel.entityName}}</strong></p>
  </div>
  <div class="data-counts">
    <div class="countbox">
      <h4 class="mat-display-1 mat-body-strong">30</h4>
      <p class="mat-small">{{helperService.translated.MESSAGES.CONNECTIONS}}</p>
    </div>
    <div class="countbox">
      <h4 class="mat-display-1 mat-body-strong">30</h4>
      <p class="mat-small">{{helperService.translated.MESSAGES.LEAVES}}</p>
    </div>
    <div class="countbox">
      <h4 class="mat-display-1 mat-body-strong">30</h4>
      <p class="mat-small">{{helperService.translated.MESSAGES.ENTITIES}}</p>
    </div>
  </div>
</mat-toolbar>

<div class="paddingbox">
  <div class="grid-container">
    <mat-grid-list cols="3" rowHeight="300px" gutterSize="10px">
      <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
        <mat-card class="dashboard-card" fullWidth *ngIf="card.title=='links'">
          <div class="navigator">
            <mat-list role="list">
              <mat-list-item class="mat-body-strong" role="listitem" matRipple [matRippleColor]="red"
                (click)="onChangeFeatures('activities')">
                <mat-icon color="primary">{{ helperService.appIcons.activities }}</mat-icon>
                {{ helperService.translated.MESSAGES.ACTIVITIES }}
              </mat-list-item>
              <mat-list-item class="mat-body-strong" role="listitem" matRipple
                (click)="onChangeFeatures('connections')">
                <mat-icon color="primary">{{helperService.appIcons.connections}}</mat-icon>
                {{ helperService.translated.MESSAGES.CONNECTIONS }}
              </mat-list-item>
              <mat-list-item class="mat-body-strong" role="listitem" matRipple (click)="onChangeFeatures('leaves')">
                <mat-icon color="primary">{{helperService.appIcons.groupAdd}}</mat-icon>
                {{ helperService.translated.MESSAGES.LEAVES }}
              </mat-list-item>
              <mat-list-item class="mat-body-strong" role="listitem" matRipple (click)="onChangeFeatures('entities')">
                <mat-icon color="primary">{{helperService.appIcons.business}}</mat-icon>
                {{ helperService.translated.MESSAGES.ENTITIES }}
              </mat-list-item>
              <mat-list-item class="mat-body-strong" role="listitem" matRipple (click)="onChangeFeatures('myTeam')">
                <mat-icon color="primary">{{helperService.appIcons.permSettings}}</mat-icon>
                {{ helperService.translated.SITETITLE.MY_TEAM }}
              </mat-list-item>
            </mat-list>
          </div>
        </mat-card>

        <mat-card class="dashboard-card" fullWidth *ngIf="card.title=='accountInfo'">
          <mat-card-title>{{ helperService.translated.SITETITLE.ACCOUNTINFO }}</mat-card-title>
          <mat-list role="list">
            <mat-list-item role="listitem">
              <span class="mat-body-strong">{{profileModel.email}}</span>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item role="listitem">
              <span class="mat-body-strong">{{profileModel.contactNo}}</span>
            </mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>
        </mat-card>

        <!-- for leaves insert content here -->
        <mat-card class="dashboard-card" fullWidth *ngIf="card.title=='userData'">
          <mat-card-content *ngIf="profileFeatures.leaves">
            <div class="table-wrap">
              <mat-card-title>Your Leaves</mat-card-title>
              <table fullWidth mat-table class="customTable" [dataSource]="dataSource">
                <ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef> No. </th>
                  <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                </ng-container>
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
                <ng-container matColumnDef="weight">
                  <th mat-header-cell *matHeaderCellDef> Weight </th>
                  <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                </ng-container>
                <ng-container matColumnDef="symbol">
                  <th mat-header-cell *matHeaderCellDef> Symbol </th>
                  <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </mat-card-content>

          <!-- ========================================================================================== -->
          <!-- for activites insert data here -->

          <mat-card-content *ngIf="profileFeatures.activities">
            <div class="table-wrap">
              <mat-card-title>Your Activities</mat-card-title>
              <table mat-table [dataSource]="profileModel.recentActivities" class="customTable">
<!--                <ng-container matColumnDef="position">-->
<!--                  <th mat-header-cell *matHeaderCellDef> No. </th>-->
<!--                  <td mat-cell *matCellDef="let element"> {{element.position}} </td>-->
<!--                </ng-container>-->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.siteData.name}} </td>
                </ng-container>
                <ng-container matColumnDef="checkIn">
                  <th mat-header-cell *matHeaderCellDef> Check-in </th>
                  <td mat-cell *matCellDef="let element"> {{element.checkInCheckOut.checkedInAt | date}} </td>
                </ng-container>
                <ng-container matColumnDef="checkOut">
                  <th mat-header-cell *matHeaderCellDef> Check-Out </th>
                  <td mat-cell *matCellDef="let element"> {{element.checkInCheckOut.checkedOutAt | date}} </td>
                </ng-container>
                <ng-container matColumnDef="duration">
                  <th mat-header-cell *matHeaderCellDef> Duration </th>
                  <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="activitiesColumn"></tr>
                <tr mat-row *matRowDef="let row; columns: activitiesColumn;"></tr>
              </table>
              <mat-card *ngIf="profileModel.noActivity">No Activities</mat-card>
            </div>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </mat-card-content>

          <!-- ================================================================================================= -->
          <!-- for connections insert data here -->
          <mat-card-content *ngIf="profileFeatures.connections">
            <div class="table-wrap">
              <mat-card-title>Your Connections</mat-card-title>
              <table mat-table [dataSource]="profileModel.allConnectionsData" class="customTable">
                <ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef> No. </th>
                  <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                </ng-container>
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
                <ng-container matColumnDef="weight">
                  <th mat-header-cell *matHeaderCellDef> Weight </th>
                  <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                </ng-container>
                <ng-container matColumnDef="symbol">
                  <th mat-header-cell *matHeaderCellDef> Symbol </th>
                  <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </mat-card-content>

          <!-- ================================================================================================= -->
          <!-- for entities insert data here -->
          <mat-card-content *ngIf="profileFeatures.entities">
            <div class="table-wrap">
              <mat-card-title>Your Entities</mat-card-title>
              <table mat-table [dataSource]="dataSource" class="customTable">
                <ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef> No. </th>
                  <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                </ng-container>
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
                <ng-container matColumnDef="weight">
                  <th mat-header-cell *matHeaderCellDef> Weight </th>
                  <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                </ng-container>
                <ng-container matColumnDef="symbol">
                  <th mat-header-cell *matHeaderCellDef> Symbol </th>
                  <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </mat-card-content>
          <!-- ================================================================================================= -->
          <!-- for myTeam insert data here -->
          <mat-card-content *ngIf="profileFeatures.myTeam">
            <div class="table-wrap">
              <mat-card-title>My team</mat-card-title>
              <table mat-table [dataSource]="dataSource" class="customTable">
                <ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef> No. </th>
                  <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                </ng-container>
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
                <ng-container matColumnDef="weight">
                  <th mat-header-cell *matHeaderCellDef> Weight </th>
                  <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                </ng-container>
                <ng-container matColumnDef="symbol">
                  <th mat-header-cell *matHeaderCellDef> Symbol </th>
                  <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
