<mat-toolbar class="pagehead">
  <div class="user-avatar">
    <img src="../../../../../assets/images/useravatar.jpg" />
  </div>
  <div class="user-info">
    <h3><strong>{{ username }}</strong></h3>
    <p>Production Manager - <strong>TheCompany</strong></p>
  </div>
</mat-toolbar>

<div class="text-right paddingbox">
  <button mat-raised-button color="primary">
    <mat-icon>edit</mat-icon>{{translated.BUTTONS.EDIT_ACCOUNT}}
  </button>
</div>

<div class="grid-container">
  <mat-grid-list cols="2" rowHeight="250px">
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title class="infoTitle">About you</mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content btn-grids">
          <a mat-button mat-raised-button routerLink="."><mat-icon>work_off</mat-icon> Your leave</a>
          <a mat-button mat-raised-button routerLink="."><mat-icon>style</mat-icon> your entities</a>
          <a mat-button mat-raised-button routerLink="."><mat-icon>local_activity</mat-icon> your activity</a>
          <a mat-button mat-raised-button routerLink="."><mat-icon>question_answer</mat-icon> your answers</a>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="2">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title class="infoTitle">Profile Information</mat-card-title>
        </mat-card-header>
        <form>
        <mat-card-content *ngIf="userData | async; let userData">
          <mat-list role="list">
            <mat-list-item role="listitem">
              <span matLine>
                <strong>First Name: </strong> <span>{{ userData.first_name }}</span>
              </span>
            </mat-list-item>
            <mat-list-item role="listitem">
              <span matLine>
                <strong>Last Name: </strong> <span>{{ userData.last_name }} </span>
              </span>
            </mat-list-item>
            <mat-list-item role="listitem">
              <span matLine>
                <strong>Email: </strong> <span>{{ userData.email }} </span>
              </span>
            </mat-list-item>
            <mat-list-item role="listitem">
              <span matLine>
                <strong>Mobile: </strong> <span>{{ userData.mobile_no }} </span>
              </span>
            </mat-list-item>
            <mat-list-item role="listitem">
              <span matLine>
                <strong>Medical Condition: </strong> <span>Disabled</span>
              </span>
            </mat-list-item>
            <mat-list-item role="listitem">
              <span matLine>
                <strong>Emergency Contact: </strong> <span>N/A</span>
              </span>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </form>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
