<h3 class="setting-title">Security Settings</h3>
<form [formGroup]="changePasswordForm" #formDirective="ngForm"
  (ngSubmit)="changePassword(changePasswordForm, formDirective)">
  <mat-list role="list" class="settings-list">
    <mat-form-field role="listitem">
      <label>Current Password</label>
      <input matInput type="password" autocomplete="password"
        [formControlName]="helperService.appConstants.currentPassword" required />
      <mat-error class="text-right" *ngIf="changePasswordFormValidations.currentPassword.errors">
        <span
          *ngIf="changePasswordFormValidations.currentPassword.errors.required">{{helperService.translated.AUTH.PASSWORD_REQ}}</span>
        <span
          *ngIf="changePasswordFormValidations.currentPassword.errors.minlength">{{helperService.translated.MESSAGES.PASSWORD_ERROR}}</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field role="listitem">
      <label>New Password</label>
      <input matInput type="password" autocomplete="password" [formControlName]="helperService.appConstants.password1"
        required />
      <mat-error class="text-right" *ngIf="changePasswordFormValidations.password1.errors  ">
        <span
          *ngIf="changePasswordFormValidations.password1.errors.required">{{helperService.translated.AUTH.PASSWORD_REQ}}</span>
        <span
          *ngIf="changePasswordFormValidations.password1.errors.minlength">{{helperService.translated.MESSAGES.PASSWORD_ERROR}}</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field role="listitem">
      <label>Confirm Password</label>
      <input matInput type="password" autocomplete="password" [formControlName]="helperService.appConstants.password2"
        required />
      <mat-error class="text-right" *ngIf="changePasswordFormValidations.password2.errors">
        <span
          *ngIf="changePasswordFormValidations.password2.errors.required ">{{helperService.translated.AUTH.PASSWORD_REQ}}</span>
        <span
          *ngIf="changePasswordFormValidations.password2.errors?.notSame">{{helperService.translated.MESSAGES.MATCH_ERROR}}</span>
        <span
          *ngIf="changePasswordFormValidations.password2.errors.minlength">{{helperService.translated.MESSAGES.PASSWORD_ERROR}}</span>
      </mat-error>
    </mat-form-field>
  </mat-list>
  <div class="btn-grp">
    <button type="submit" mat-raised-button custom-btn btn-primary [disabled]="!changePasswordForm.valid"> Save
    </button>
    <img *ngIf="loading" [src]="helperService.translated.MESSAGES.LOADING_URL" />
  </div>
</form>
