@mixin amte-memberCenter($primary, $accent, $warn) {
  :host,
  app-memberCenter {
    position: relative;
    height: $fullValue;
    .customTable td,
    .customTable th {
      padding: 3px !important;
    }
  }
}
