<mat-card-title class="mat-dialog-title mat-elevation-z6">{{helperService.translated.MESSAGES.CREATEENTITY_MSG}}</mat-card-title>
<div mat-dialog-content>
  <div class="spinner-wrap" *ngIf="createEntity.loading">
    <mat-spinner [diameter]="helperService.constants.appConstant.spinnerConstant"></mat-spinner>
  </div>
    <form [formGroup]="createEntity.createEntityForm" (ngSubmit)="entityCreation(createEntity.createEntityForm)"
          (keydown.enter)="$event.preventDefault()">
        <div class="form-group">
            <mat-form-field appearance="outline" fullWidth>
                <mat-label>{{helperService.translated.MESSAGES.ENTITYNAME}}</mat-label>
                <input matInput type="text" [formControlName]="helperService.appConstants.name" required/>
                <mat-error *ngIf="formValidation.name.errors">
                    <span *ngIf="formValidation.name.errors.required">{{helperService.translated.MESSAGES.ENTITYNAME_REQ}}</span>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field appearance="outline" fullWidth>
                <mat-label>{{helperService.translated.MESSAGES.HEADOFFICE_LOCATION}}</mat-label>
                <input matInput type="text" appGooglePlaces
                       (onSelect)="helperService.setAddress($event,gMapElement,formValidation.headOffice)"
                       [formControlName]="helperService.appConstants.headOffice"
                       (keyup)="helperService.setFalse($event)" required/>
                <mat-error *ngIf="formValidation.headOffice.errors">
          <span
                  *ngIf="formValidation.headOffice.errors.required">{{helperService.translated.MESSAGES.OFFICELOCATION_REQ}}</span>
                    <span
                            *ngIf="formValidation.headOffice.errors.invalid">{{helperService.translated.MESSAGES.INVALIDADDRESS}}</span>
                </mat-error>
            </mat-form-field>

        </div>
        <mat-card>
            <div #gmap class="site-map"></div>
        </mat-card>
        <mat-dialog-actions>
            <button class="mat-elevation-z1" mat-raised-button cdkFocusInitial custom-btn color="primary"
                    [disabled]="!helperService.displayButton || createEntity.loading">
                {{ helperService.translated.BUTTONS.CREATE_ENTITY }}
                <div class="main-loader" *ngIf="createEntity.loading">
                    <span class="loader1"></span>
                    <span class="loader2"></span>
                    <span class="loader3"></span>
                </div>
            </button>

            <!-- <img *ngIf="createEntity.loading" [src]="helperService.translated.MESSAGES.LOADING_URL" /> -->
            <button mat-button [mat-dialog-close]="'NO'" type="button">
                {{ helperService.translated.BUTTONS.CANCEL }}
            </button>
        </mat-dialog-actions>
    </form>
</div>
