<mat-toolbar class="pagehead">
    <button class="go-back" (click)="goBack()" mat-button type="button">
        <mat-icon>{{helperService.appIcons.arrowBack}}</mat-icon>
    </button>
    <mat-icon class="siteicon" color="primary">language</mat-icon>

    <div class="user-info" *ngIf="viewSiteObj.siteInfo">
        <h3>
            <strong>{{viewSiteObj.siteInfo.name}}</strong>
        </h3>
        <p class="mat-small mat-body-strong">{{viewSiteObj.siteInfo.location}}</p>
    </div>
</mat-toolbar>

<div class="grid-container">
    <mat-grid-list cols="2" rowHeight="300px">
        <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
            <mat-card class="dashboard-card activities" *ngIf="card.title==='activity'">
                <mat-card-header class="infoTitle">
                    <mat-card-title>{{card.title}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="activity-card">
                        <div class="row"><strong>BlueSky Software</strong><span><a routerLink="">
                  <mat-icon>link</mat-icon> View Site
                </a></span></div>
                        <div class="row"><strong>Check-in</strong><span>12-Mar | 12:40 PM</span></div>
                        <div class="row"><strong>Check-out</strong><span>13-Apr | 06:12 AM</span></div>
                        <div class="row"><strong>Duration</strong><span>10 days</span></div>
                    </div>
                    <mat-divider></mat-divider>

                    <div class="activity-card">
                        <div class="row"><strong>BlueSky Software</strong><span><a routerLink="">
                  <mat-icon>link</mat-icon> View Site
                </a></span></div>
                        <div class="row"><strong>Check-in</strong><span>12-Mar | 12:40 PM</span></div>
                        <div class="row"><strong>Check-out</strong><span>13-Apr | 06:12 AM</span></div>
                        <div class="row"><strong>Duration</strong><span>10 days</span></div>
                    </div>
                    <mat-divider></mat-divider>

                    <div class="activity-card">
                        <div class="row"><strong>BlueSky Software</strong><span><a routerLink="">
                  <mat-icon>link</mat-icon> View Site
                </a></span></div>
                        <div class="row"><strong>Check-in</strong><span>12-Mar | 12:40 PM</span></div>
                        <div class="row"><strong>Check-out</strong><span>13-Apr | 06:12 AM</span></div>
                        <div class="row"><strong>Duration</strong><span>10 days</span></div>
                    </div>
                    <mat-divider></mat-divider>

                    <div class="activity-card">
                        <div class="row"><strong>BlueSky Software</strong><span><a routerLink="">
                  <mat-icon>link</mat-icon> View Site
                </a></span></div>
                        <div class="row"><strong>Check-in</strong><span>12-Mar | 12:40 PM</span></div>
                        <div class="row"><strong>Check-out</strong><span>13-Apr | 06:12 AM</span></div>
                        <div class="row"><strong>Duration</strong><span>10 days</span></div>
                    </div>
                    <mat-divider></mat-divider>

                    <div class="activity-card">
                        <div class="row"><strong>BlueSky Software</strong><span><a routerLink="">
                  <mat-icon>link</mat-icon> View Site
                </a></span></div>
                        <div class="row"><strong>Check-in</strong><span>12-Mar | 12:40 PM</span></div>
                        <div class="row"><strong>Check-out</strong><span>13-Apr | 06:12 AM</span></div>
                        <div class="row"><strong>Duration</strong><span>10 days</span></div>
                    </div>
                    <mat-divider></mat-divider>

                    <div class="activity-card">
                        <div class="row"><strong>BlueSky Software</strong><span><a routerLink="">
                  <mat-icon>link</mat-icon> View Site
                </a></span></div>
                        <div class="row"><strong>Check-in</strong><span>12-Mar | 12:40 PM</span></div>
                        <div class="row"><strong>Check-out</strong><span>13-Apr | 06:12 AM</span></div>
                        <div class="row"><strong>Duration</strong><span>10 days</span></div>
                    </div>
                    <mat-divider></mat-divider>

                    <div class="activity-card">
                        <div class="row"><strong>BlueSky Software</strong><span><a routerLink="">
                  <mat-icon>link</mat-icon> View Site
                </a></span></div>
                        <div class="row"><strong>Check-in</strong><span>12-Mar | 12:40 PM</span></div>
                        <div class="row"><strong>Check-out</strong><span>13-Apr | 06:12 AM</span></div>
                        <div class="row"><strong>Duration</strong><span>10 days</span></div>
                    </div>
                </mat-card-content>
            </mat-card>

            <mat-card class="dashboard-card activities" *ngIf="card.title==='information'">
                <mat-card-header class="infoTitle">
                    <mat-card-title>{{card.title}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div *ngIf="viewSiteObj.siteInfo">
                        <div class="siteinfo-row" *ngIf="viewSiteObj.siteSafetyManager">
              <span>
                <mat-icon color="primary">{{helperService.appIcons.permIdentity}}</mat-icon>
              </span>
                            <strong>{{helperService.translated.STRINGS.SITESAFETYMANAGER}}</strong>
                            <p>{{viewSiteObj.siteSafetyManager.first_name}}
                                {{viewSiteObj.siteSafetyManager.last_name}}</p>
                        </div>
                        <mat-divider></mat-divider>
                        <div class="siteinfo-row">
              <span>
                <mat-icon class="safe-icon safe" *ngIf="viewSiteObj.siteInfo.safeZone">{{helperService.appIcons.check}}
                </mat-icon>
              </span>
                            <span>
                <mat-icon class="safe-icon unsafe" *ngIf="!viewSiteObj.siteInfo.safeZone">
                  {{helperService.appIcons.clear}}</mat-icon>
              </span>
                            <strong>{{helperService.translated.STRINGS.SAFEZONE}}</strong>
                            <p *ngIf="viewSiteObj.siteInfo.safeZone">
                                {{viewSiteObj.siteInfo.name}}{{helperService.translated.MESSAGES.SITE_IS_SAFE}}</p>
                            <p *ngIf="!viewSiteObj.siteInfo.safeZone">
                                {{viewSiteObj.siteInfo.name}}{{helperService.translated.MESSAGES.SITE_IS_NOT_SAFE}}</p>
                        </div>
                        <mat-divider></mat-divider>
                        <div class="siteinfo-row">
                            <mat-icon color="primary">{{helperService.appIcons.security}}</mat-icon>
                            <strong>{{helperService.translated.STRINGS.SITESAFETYPLAN}}</strong>
                            <p>{{viewSiteObj.siteInfo.siteSafetyPlan}}</p>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card class="dashboard-card activities" *ngIf="card.title==='hazards'">
                <mat-card-header class="infoTitle">
                    <mat-card-title>{{card.title}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div *ngIf="viewSiteObj.siteInfo">
                        <div class="activity-card">
                            <div class="row"><strong>BlueSky Software</strong><span><a routerLink="">
                    <mat-icon>link</mat-icon> View Site
                  </a></span></div>
                            <div class="row"><strong>Check-in</strong><span>12-Mar | 12:40 PM</span></div>
                            <div class="row"><strong>Check-out</strong><span>13-Apr | 06:12 AM</span></div>
                            <div class="row"><strong>Duration</strong><span>10 days</span></div>
                        </div>
                        <mat-divider></mat-divider>
                        <div class="activity-card">
                            <div class="row"><strong>BlueSky Software</strong><span><a routerLink="">
                    <mat-icon>link</mat-icon> View Site
                  </a></span></div>
                            <div class="row"><strong>Check-in</strong><span>12-Mar | 12:40 PM</span></div>
                            <div class="row"><strong>Check-out</strong><span>13-Apr | 06:12 AM</span></div>
                            <div class="row"><strong>Duration</strong><span>10 days</span></div>
                        </div>
                        <mat-divider></mat-divider>
                        <div class="activity-card">
                            <div class="row"><strong>BlueSky Software</strong><span><a routerLink="">
                    <mat-icon>link</mat-icon> View Site
                  </a></span></div>
                            <div class="row"><strong>Check-in</strong><span>12-Mar | 12:40 PM</span></div>
                            <div class="row"><strong>Check-out</strong><span>13-Apr | 06:12 AM</span></div>
                            <div class="row"><strong>Duration</strong><span>10 days</span></div>
                        </div>
                        <mat-divider></mat-divider>
                        <div class="activity-card">
                            <div class="row"><strong>BlueSky Software</strong><span><a routerLink="">
                    <mat-icon>link</mat-icon> View Site
                  </a></span></div>
                            <div class="row"><strong>Check-in</strong><span>12-Mar | 12:40 PM</span></div>
                            <div class="row"><strong>Check-out</strong><span>13-Apr | 06:12 AM</span></div>
                            <div class="row"><strong>Duration</strong><span>10 days</span></div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card class="dashboard-card activities" *ngIf="card.title==='location'">
                <mat-card-header class="infoTitle">
                    <mat-card-title>{{card.title}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div #gmap class="site-map"></div>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>
