<mat-card-title class="mat-dialog-title" *ngIf="!registerTeamObj.editTeam">
  {{helperService.translated.MESSAGES.REGISTER_TEAM}}</mat-card-title>
<mat-card-title class="mat-dialog-title" *ngIf="registerTeamObj.editTeam">
  {{helperService.translated.MESSAGES.EDIT_TEAM}}</mat-card-title>
<div class="mat-dialog-content">
  <!-- <form [formGroup]="registerTeamObj.registerTeamForm" (ngSubmit)="teamFormSubmit(registerTeamObj.registerTeamForm)">
    <div class="input">
      <mat-form-field appearance="outline" full-width>
        <mat-label>{{helperService.translated.MESSAGES.TEAM_TITLE}}</mat-label>
        <input matInput type="text" [formControlName]=helperService.appConstants.title required />
        <mat-error *ngIf="formValidation.title.errors">
          <span
            *ngIf="formValidation.title.errors.required">{{helperService.translated.MESSAGES.SAFETY_PLAN_REQ}}</span>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="input">
      <mat-form-field appearance="outline" full-width>
        <mat-label>{{helperService.translated.MESSAGES.TEAM_LEAD}}</mat-label>
        <mat-select [formControlName]="helperService.appConstants.teamLead">
          <mat-option *ngFor="let user of registerTeamObj.allUsersList" [value]="user.id">
            {{user.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formValidation.teamLead.errors">
          <span
            *ngIf="formValidation.teamLead.errors.required">{{helperService.translated.MESSAGES.SAFETY_PLAN_REQ}}</span>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="input">
      <mat-form-field appearance="outline" full-width>
        <mat-label>{{helperService.translated.MESSAGES.TEAM_MEMBER}}</mat-label>
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let user of registerTeamObj.users" [removable]="registerTeamObj.removable"
            (removed)="helperService.removeFromList(user,registerTeamObj.users)">
            {{user.name}}
            <mat-icon matChipRemove *ngIf="registerTeamObj.removable">cancel</mat-icon>
          </mat-chip>
          <input #userInput [formControl]="registerTeamObj.userCtrl" [matAutocomplete]="auto"
            [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="registerTeamObj.separatorKeysCodes">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event, registerTeamObj.users)">
          <mat-option *ngFor="let user of registerTeamObj.filteredUsers | async" [value]="user">
            {{user.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="input">
      <mat-dialog-actions>
        <button class="mat-elevation-z1" mat-raised-button cdkFocusInitial custom-btn btn-primary
          *ngIf="registerTeamObj.editTeam"
          [disabled]="!registerTeamObj.registerTeamForm.valid || !registerTeamObj.valid"
          color="primary">{{helperService.translated.BUTTONS.SAVE}}
          <div class="main-loader" *ngIf="registerTeamObj.loading">
            <span class="loader1"></span>
            <span class="loader2"></span>
            <span class="loader3"></span>
          </div>
        </button>
        <button class="mat-elevation-z1" mat-raised-button cdkFocusInitial custom-btn btn-primary
          *ngIf="!registerTeamObj.editTeam"
          [disabled]="!registerTeamObj.registerTeamForm.valid || !registerTeamObj.valid"
          color="primary">{{helperService.translated.BUTTONS.REGISTER}}
          <div class="main-loader" *ngIf="registerTeamObj.loading">
            <span class="loader1"></span>
            <span class="loader2"></span>
            <span class="loader3"></span>
          </div>
        </button>
        <button mat-button mat-dialog-close>{{helperService.translated.BUTTONS.CANCEL}}</button>
      </mat-dialog-actions>
    </div>
  </form> -->

  <form>
    <div class="data-search">
      <mat-form-field fullWidth appearance="outline">
        <mat-label>{{helperService.translated.STRINGS.SEARCHUSERS}}</mat-label>
        <input type="text" matInput [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}} <img
              src="/assets/images/useravatar.jpg" width="20px"></mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <div class="data-result">
        <mat-list role="list">
          <mat-list-item matRipple class="mat-elevation-z2" role="listitem">
            <div class="user-thumbnail">
              <img src="/assets/images/useravatar.jpg">
            </div>
            <h4 class="user-name align-items-center" mat-line>
              <mat-icon class="remove-member" color="warn">{{helperService.appIcons.close}}</mat-icon> User name
            </h4>
          </mat-list-item>
          <mat-list-item matRipple class="mat-elevation-z2" role="listitem">
            <div class="user-thumbnail">
              <img src="/assets/images/useravatar.jpg">
            </div>
            <h4 class="user-name align-items-center" mat-line>
              <mat-icon class="remove-member" color="warn">{{helperService.appIcons.close}}</mat-icon> User name
            </h4>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </form>
  <mat-dialog-actions>
    <button mat-raised-button cdkFocusInitial custom-btn btn-primary
      color="primary">{{ helperService.translated.TABLEHEADINGS.REGISTER_TEAM }}</button>
    <button mat-button mat-dialog-close>{{ helperService.translated.BUTTONS.CANCEL }}</button>
  </mat-dialog-actions>
</div>