<div class="paddingbox">
  <div class="page-title">
    <h3>{{ helperService.translated.SITETITLE.DOCUMENTS }}</h3>
    <div class="buttonRow">
      <button btn-primary mat-raised-button color="primary" (click)="uploadDoc()">
        <mat-icon>{{ helperService.appIcons.createEntity }}</mat-icon>
        {{ helperService.translated.BUTTONS.UPLOAD_DOCUMENT }}
      </button>
      <button btn-primary mat-raised-button color="primary" (click)="newFolder()">
        <mat-icon>{{ helperService.appIcons.createFolder }}</mat-icon>
        {{ helperService.translated.BUTTONS.CREATE_FOLDER }}
      </button>
    </div>
  </div>

  <!--Search-->
  <div class="search-bar">
    <form autocomplete="off">
      <mat-form-field fullWidth autocomplete="off" appearance="outline">
        <mat-label>Search file or folder</mat-label>
        <input matInput placeholder="Search file or folder">
        <mat-icon matSuffix>{{ helperService.appIcons.search }}</mat-icon>
      </mat-form-field>
    </form>
  </div>
  <!--/Search-->

  <!-- Folders -->
  <div class="folders-wrapper">
    <h4 class="wrapper-heading">Folders</h4>
    <p class="no-data mat-caption" *ngIf="!documentsData.folderExist">No folders
      found.</p>
    <div class="content-area">
      <ng-container *ngFor="let folder of documentsData.folderList">
        <mat-card class="document-inline">
          <button class="file-options" mat-icon-button [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="renameFolder(folder)">
              <mat-icon>{{ helperService.appIcons.edit }}</mat-icon>
              <span>{{helperService.translated.BUTTONS.RENAME}}</span>
            </button>
            <button mat-menu-item (click)="deleteFolder(folder.id)">
              <mat-icon>{{ helperService.appIcons.deleteForever }}</mat-icon>
              <span>{{helperService.translated.BUTTONS.DELETE}}</span>
            </button>
          </mat-menu>
          <div class="content" (click)="showDocs(folder.id)">
            <mat-icon class="document-type">{{ helperService.appIcons.folder }}</mat-icon>
            <span class="mat-body-2 mat-small">{{folder.name}}</span>
          </div>
        </mat-card>
      </ng-container>
    </div>
  </div>
  <!--/Folders-->

  <!--Files-->
  <div class="files-wrapper">
    <h4 class="wrapper-heading">Files</h4>
    <p class="no-data mat-caption" *ngIf="!documentsData.documentExist">No documents
      found.</p>
    <div class="content-area">
      <ng-container *ngFor="let doc of documentsData.rootDocs">
        <mat-card class="file-inline">
          <button class="file-options" mat-icon-button [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item >
              <a  [download]="doc.title" target="_blank" [href]=doc.file></a>
              <mat-icon>{{ helperService.appIcons.cloudDownload }}</mat-icon>
              <span>{{helperService.translated.BUTTONS.DOWNLOAD}}</span>
            </button>
            <button mat-menu-item (click)="renameDoc(doc)">
              <mat-icon>{{ helperService.appIcons.edit }}</mat-icon>
              <span>{{helperService.translated.BUTTONS.RENAME}}</span>
            </button>
            <button mat-menu-item (click)="deleteDoc(doc.id)">
              <mat-icon>{{ helperService.appIcons.deleteForever }}</mat-icon>
              <span>{{helperService.translated.BUTTONS.DELETE}}</span>
            </button>
          </mat-menu>
          <div class="content">
            <div class="filetype" (click)="viewDoc(doc.file)">
              <span>{{(doc.title.split('.'))[1]}}</span>
            </div>
<!--            <input type="text" (keyup.enter)="editedValue($event.target.value, doc)" *ngIf="doc.editable" [(ngModel)]="(doc.title.split('.'))[0]"/>-->
            <span class="mat-body-2 mat-small" *ngIf="!doc.editable">{{(doc.title.split('.'))[0]}}</span>
          </div>
        </mat-card>
      </ng-container>
    </div>
  </div>
  <!--Files-->

</div>
