#particle-container{
    width:100%;
    top:0;
    position:fixed;
}
.loginbox{
    text-align: center;
    width:50%;
    mat-card-title{
        margin-top:60px;
    }
        .form-group{
            width:100%;
        }
        [btn-danger]{
            margin-right:10px;
        }
}
.mat-step-icon-content{
    display: none !important;
}
[backtologin]{
    display: block;
    text-decoration: none;
    padding:20px 0 0;
}
.monogram{
    top: -60px;
    transform: none;
    border: 5px solid #fff;
    box-shadow: 0px 6px 10px 2px #00000017;
}