<div id="particle-container">
  <div class="particle"><mat-icon>change_history</mat-icon></div>
  <div class="particle"><mat-icon>data_usage</mat-icon></div>
  <div class="particle"><mat-icon>crop_din</mat-icon></div>
  <div class="particle"><mat-icon>panorama_horizontal</mat-icon></div>
  <div class="particle"><mat-icon>all_inclusive</mat-icon></div>
  <div class="particle"><mat-icon>change_history</mat-icon></div>
  <div class="particle"><mat-icon>radio_button_unchecked</mat-icon></div>
  <div class="particle"><mat-icon>panorama_wide_angle</mat-icon></div>
  <div class="particle"><mat-icon>my_location</mat-icon></div>
  <div class="particle"><mat-icon>share</mat-icon></div>
  <div class="particle"><mat-icon>waves</mat-icon></div>
  <div class="particle"><mat-icon>gps_not_fixed</mat-icon></div>
  <div class="particle"><mat-icon>scatter_plot</mat-icon></div>
  <div class="particle"><mat-icon>details</mat-icon></div>
  <div class="particle"><mat-icon>texture</mat-icon></div>
  <div class="particle"><mat-icon>change_history</mat-icon></div>
  <div class="particle"><mat-icon>data_usage</mat-icon></div>
  <div class="particle"><mat-icon>crop_din</mat-icon></div>
  <div class="particle"><mat-icon>panorama_horizontal</mat-icon></div>
  <div class="particle"><mat-icon>all_inclusive</mat-icon></div>
  <div class="particle"><mat-icon>change_history</mat-icon></div>
  <div class="particle"><mat-icon>radio_button_unchecked</mat-icon></div>
  <div class="particle"><mat-icon>panorama_wide_angle</mat-icon></div>
  <div class="particle"><mat-icon>my_location</mat-icon></div>
  <div class="particle"><mat-icon>share</mat-icon></div>
  <div class="particle"><mat-icon>waves</mat-icon></div>
  <div class="particle"><mat-icon>gps_not_fixed</mat-icon></div>
  <div class="particle"><mat-icon>scatter_plot</mat-icon></div>
  <div class="particle"><mat-icon>details</mat-icon></div>
  <div class="particle"><mat-icon>texture</mat-icon></div>
</div>
