<ng-container>
    <mat-card class="file-inline">
        <div class="spinner-wrap" *ngIf="this.showLoader">
            <mat-spinner color="primary"
                         [diameter]="helperService.constants.appConstant.spinnerConstantModal"></mat-spinner>
        </div>
        <button class="file-options" mat-icon-button [matMenuTriggerFor]="menu"
                aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="renameDoc(docData)">
                <mat-icon>{{ helperService.appIcons.edit }}</mat-icon>
                <span>{{helperService.translated.BUTTONS.RENAME}}</span>
            </button>
            <button mat-menu-item (click)="deleteDoc(docData.id)">
                <mat-icon>{{ helperService.appIcons.deleteForever }}</mat-icon>
                <span>{{helperService.translated.BUTTONS.DELETE}}</span>
            </button>
        </mat-menu>
        <a class="file-wrap" [href]="docData.file" download="{{docData.title}}">
        <div class="content">
            <div class="filetype">
                <span>{{(docData.title.split('.'))[1]}}</span>
            </div>
            <span class="mat-body-2 mat-small">{{docData.title}}</span>
        </div>
        </a>
    </mat-card>
</ng-container>
