<h3 class="setting-title">Organization Info</h3>
<mat-list role="list" class="settings-list">
  <mat-list-item role="listitem">
    <label>Change Password</label>
    <input matInput type="text" class="showonly" placeholder="******"/>
  </mat-list-item>
  <mat-list-item role="listitem">
    <label>Confirm Password</label>
    <input matInput type="text" class="showonly" placeholder="BlueSky Software"/>
  </mat-list-item>
  <mat-list-item role="listitem">
    <label>Security Question 1</label>
    <input matInput type="text" class="showonly" placeholder="Where did you born?"/>
  </mat-list-item>
  <mat-list-item role="listitem">
    <label>Security Question 2</label>
    <input matInput type="text" class="showonly" placeholder="Where did your father born?"/>
  </mat-list-item>
  <mat-list-item role="listitem">
    <label>Contact Number</label>
    <input matInput type="text" class="showonly" placeholder="+923157118511"/>
  </mat-list-item>
</mat-list>
<div class="btn-grp">
  <button type="button" mat-raised-button routerLink="" custom-btn btn-primary>Save</button>
  <button type="button" mat-raised-button routerLink="" color="warn" custom-btn btn-danger>Cancel</button>
</div>
