<mat-card-title class="mat-dialog-title">
    {{helperService.translated.MESSAGES.CHECKIN_CATEGORIES}}
    <button mat-button class="close-dialog" [mat-dialog-close]="'NO'"><i class="material-icons">close</i></button>
</mat-card-title>
<div class="mat-dialog-content">
    <form [formGroup]="checkInCategoryModal.addCheckInTypeForm"
          (ngSubmit)="addCheckIn(checkInCategoryModal.addCheckInTypeForm)">
        <mat-form-field fullWidth appearance="outline">
            <mat-label>{{helperService.translated.MESSAGES.CHECKIN_CATEGORY_TITLE}}</mat-label>
            <input matInput type="text" [formControlName]=helperService.appConstants.title>
            <button class="add-cat" type="submit">
                <mat-icon color="primary" class="pointer"
                          matSuffix>
                    {{helperService.appIcons.addCircle}}
                </mat-icon>
            </button>
        </mat-form-field>
    </form>
    <div class="data-search">
        <div class="data-result">
            <ng-container>
                <mat-list *ngFor="let element of checkInCategoryModal.checkInTypes">
                    <mat-list-item>
                        {{element.checkInType.name}}
                        <button custom-btn mat-raised-button class="remove-type mat-elevation-z1"
                                [disabled]="checkInCategoryModal.disableRemove"
                                (click)="archiveCheckIn(element.id)">Remove
                        </button>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                </mat-list>
            </ng-container>
        </div>
    </div>
</div>
