<mat-card-title class="mat-dialog-title">
  {{helperService.translated.MESSAGES.CHECKIN_CATEGORIES}}
</mat-card-title>
<div class="mat-dialog-content">
  <form [formGroup]="checkInCategoryModal.addCheckInTypeForm">
    <mat-form-field fullWidth appearance="outline">
      <mat-label>{{helperService.translated.MESSAGES.CHECKIN_CATEGORY_TITLE}}</mat-label>
      <input matInput type="text" [formControlName]=helperService.appConstants.title required/>
    </mat-form-field>
  </form>
  <mat-dialog-actions>
    <button mat-raised-button (click)="addCheckIn(checkInCategoryModal.addCheckInTypeForm)"
            matTooltip="{{helperService.translated.STRINGS.ADD}}"
            color="primary"
            class="mat-elevation-z1 remove-member">
      Add
    </button>
  </mat-dialog-actions>
  <mat-form-field class="searchbar" fullWidth appearance="outline">
    <mat-label>{{helperService.translated.STRINGS.SEARCHUSERS}}</mat-label>
    <input type="text" matInput>
    <mat-icon matSuffix>{{helperService.appIcons.search}}</mat-icon>
  </mat-form-field>
  <div class="data-search">
    <div class="data-result">
      <!--      <mat-card class="text-center"-->
      <!--                *ngIf="registerTeamObj.allUsersList.length === 0">-->
      <!--        {{this.helperService.translated.MESSAGES.NO_USER}}-->
      <!--      </mat-card>-->
      <ng-container>
        <mat-list>
          <mat-list-item *ngFor="let element of this.checkInCategoryModal.checkInTypes">
            <!--          <div class="user-thumbnail">-->
            <!--            <img src="{{ user.thumbnail != null ? user.thumbnail : helperService.appConstants.avatar}}">-->
            <!--          </div>-->
            <h5 class="user-name align-items-center" mat-line>
              {{element.name}}
            </h5>
            <button class="safe-icon unsafe" (click)="deleteCheckIn(element.id)">
              Remove</button>
          </mat-list-item>
        </mat-list>
      </ng-container>
    </div>
  </div>
</div>
