<div class="spinner-wrap" *ngIf="myTeam.loading">
    <mat-spinner [diameter]="helperService.constants.appConstant.spinnerConstantModal"></mat-spinner>
  </div>
  <mat-card-title class="mat-dialog-title mat-elevation-z12">
    {{helperService.translated.BUTTONS.ARCHIVED_TEAMS}}
  </mat-card-title>
  <div class="paddingbox">
    <!--Filter-->
    <div class="page-title">
      <div class="buttonRow"></div>
      <div class="data-filter">
        <div class="input-wrap">
          <input class="search-input" autocomplete="off" matInput placeholder="Search"
                 (keyup)=getAllTeams(myTeam.firstIndex,$event.target.value)>
          <mat-icon matSuffix>{{ helperService.appIcons.search }}</mat-icon>
        </div>
      </div>
    </div>
    <!--/Filter-->
    <div class="table-wrap">
      <table matSort mat-table [dataSource]="myTeam.dataSource" class="customTable mat-elevation-z3">
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>
            {{ helperService.translated.TABLEHEADINGS.TITLE }}
          </th>
          <td mat-cell *matCellDef="let element">{{ element.title }}</td>
        </ng-container>
  
        <ng-container matColumnDef="teamLead">
          <th mat-header-cell *matHeaderCellDef>
            {{ helperService.translated.TABLEHEADINGS.TEAM_LEAD }}
          </th>
          <td mat-cell *matCellDef="let element">{{ element.teamLead }}</td>
        </ng-container>
        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef>
            {{ helperService.translated.TABLEHEADINGS.ACTIONS }}
          </th>
          <td mat-cell *matCellDef="let element">
            <button class="btn-table" mat-raised-button (click)="unarchiveTeam(element)" mat-button color="primary">
              <mat-icon style="padding-right:0;">{{ helperService.appIcons.undo }}</mat-icon>
              Revert
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  
    <div class="paddingbox text-center" *ngIf="!myTeam.loading && !myTeam.dataSource">
      {{helperService.translated.MESSAGES.NO_RECORD_AVAILABLE}}
    </div>
  
    <mat-paginator class="mat-elevation-z1" [pageSize]="myTeam?.pageSize" [length]="myTeam?.pageCount"
                   (page)="getAllTeams(paginator.pageIndex, myTeam?.search)"></mat-paginator>
  
    <mat-dialog-actions>
      <button mat-button [mat-dialog-close]="'NO'">{{ helperService.translated.BUTTONS.CANCEL }}
      </button>
    </mat-dialog-actions>
  </div>
  
  