<div class="paddingbox">
  <mat-list class="theme-selector">
    <h3 mat-subheader>{{translated.STRINGS.CHANGETHEME}}</h3>
    <mat-card>
      <mat-list-item>
        <mat-radio-group [(ngModel)]="themeSelected" (change)="changed()">
          <mat-radio-button value={{appTheme.lightTheme}}>{{translated.STRINGS.LIGHTDEFAULT}}</mat-radio-button>
          <mat-radio-button value={{appTheme.darkTheme}}>{{translated.STRINGS.EVILDARK}}</mat-radio-button>
          <mat-radio-button value={{appTheme.oliveLight}}>{{translated.STRINGS.OLIVEGREEN}}</mat-radio-button>
          <mat-radio-button value={{appTheme.darkForest}}>{{translated.STRINGS.DARKFOREST}}</mat-radio-button>
        </mat-radio-group>
      </mat-list-item>
    </mat-card>
    <br>
    <!-- <h3 mat-subheader>{{translated.STRINGS.OTHERSETTINGS}}</h3>
    <mat-card>
       <mat-list-item *ngFor="let note of notes">
        <mat-icon mat-list-icon>{{appIcons.note}}</mat-icon>
        <h4 mat-line>{{note.name}}</h4>
        <p mat-line> {{note.updated | date}} </p>
      </mat-list-item> 
    </mat-card> -->
  </mat-list>
</div>