<div class="paddingbox">
  <div class="page-title">
    <h3>{{ helperService.translated.SITETITLE.DOCUMENTS }}</h3>
  </div>
  <div class="buttonRow">
    <button btn-primary mat-raised-button color="primary">
      <mat-icon>{{ helperService.appIcons.createEntity }}</mat-icon>
      {{ helperService.translated.BUTTONS.UPLOAD_DOCUMENT }}
    </button>
  </div>
  <mat-tab-group class="documents-tab">
    <mat-tab label="All">
      <!-- Document Row -->
      <mat-card class="document-row">
        <mat-icon class="document-type">{{ helperService.appIcons.insertDriveFile }}</mat-icon>
        <div class="document-data">
          <span class="document-title">Sample Document</span>
          <span>
            <mat-icon>{{ helperService.appIcons.clock }}</mat-icon> Added 10 days ago
          </span>
        </div>
        <div class="document-options">
          <mat-icon color="warn">{{helperService.appIcons.deleteSweep}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.viewSite}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.cloudDownload}}</mat-icon>
        </div>
      </mat-card><!-- /Document Row -->
      <!-- Document Row -->
      <mat-card class="document-row">
        <mat-icon class="document-type">{{ helperService.appIcons.insertDriveFile }}</mat-icon>
        <div class="document-data">
          <span class="document-title">Sample Document</span>
          <span>
            <mat-icon>{{ helperService.appIcons.clock }}</mat-icon> Added 10 days ago
          </span>
        </div>
        <div class="document-options">
          <mat-icon color="warn">{{helperService.appIcons.deleteSweep}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.viewSite}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.cloudDownload}}</mat-icon>
        </div>
      </mat-card><!-- /Document Row -->
      <!-- Document Row -->
      <mat-card class="document-row">
        <mat-icon class="document-type">{{ helperService.appIcons.insertDriveFile }}</mat-icon>
        <div class="document-data">
          <span class="document-title">Sample Document</span>
          <span>
            <mat-icon>{{ helperService.appIcons.clock }}</mat-icon> Added 10 days ago
          </span>
        </div>
        <div class="document-options">
          <mat-icon color="warn">{{helperService.appIcons.deleteSweep}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.viewSite}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.cloudDownload}}</mat-icon>
        </div>
      </mat-card><!-- /Document Row -->
      <!-- Document Row -->
      <mat-card class="document-row">
        <mat-icon class="document-type">{{ helperService.appIcons.insertDriveFile }}</mat-icon>
        <div class="document-data">
          <span class="document-title">Sample Document</span>
          <span>
            <mat-icon>{{ helperService.appIcons.clock }}</mat-icon> Added 10 days ago
          </span>
        </div>
        <div class="document-options">
          <mat-icon color="warn">{{helperService.appIcons.deleteSweep}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.viewSite}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.cloudDownload}}</mat-icon>
        </div>
      </mat-card><!-- /Document Row -->
      <!-- Document Row -->
      <mat-card class="document-row">
        <mat-icon class="document-type">{{ helperService.appIcons.insertDriveFile }}</mat-icon>
        <div class="document-data">
          <span class="document-title">Sample Document</span>
          <span>
            <mat-icon>{{ helperService.appIcons.clock }}</mat-icon> Added 10 days ago
          </span>
        </div>
        <div class="document-options">
          <mat-icon color="warn">{{helperService.appIcons.deleteSweep}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.viewSite}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.cloudDownload}}</mat-icon>
        </div>
      </mat-card><!-- /Document Row -->
      <!-- Document Row -->
      <mat-card class="document-row">
        <mat-icon class="document-type">{{ helperService.appIcons.insertDriveFile }}</mat-icon>
        <div class="document-data">
          <span class="document-title">Sample Document</span>
          <span>
            <mat-icon>{{ helperService.appIcons.clock }}</mat-icon> Added 10 days ago
          </span>
        </div>
        <div class="document-options">
          <mat-icon color="warn">{{helperService.appIcons.deleteSweep}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.viewSite}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.cloudDownload}}</mat-icon>
        </div>
      </mat-card><!-- /Document Row -->
      <!-- Document Row -->
      <mat-card class="document-row">
        <mat-icon class="document-type">{{ helperService.appIcons.insertDriveFile }}</mat-icon>
        <div class="document-data">
          <span class="document-title">Sample Document</span>
          <span>
            <mat-icon>{{ helperService.appIcons.clock }}</mat-icon> Added 10 days ago
          </span>
        </div>
        <div class="document-options">
          <mat-icon color="warn">{{helperService.appIcons.deleteSweep}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.viewSite}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.cloudDownload}}</mat-icon>
        </div>
      </mat-card><!-- /Document Row -->
      <!-- Document Row -->
      <mat-card class="document-row">
        <mat-icon class="document-type">{{ helperService.appIcons.insertDriveFile }}</mat-icon>
        <div class="document-data">
          <span class="document-title">Sample Document</span>
          <span>
            <mat-icon>{{ helperService.appIcons.clock }}</mat-icon> Added 10 days ago
          </span>
        </div>
        <div class="document-options">
          <mat-icon color="warn">{{helperService.appIcons.deleteSweep}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.viewSite}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.cloudDownload}}</mat-icon>
        </div>
      </mat-card><!-- /Document Row -->
    </mat-tab>
    <mat-tab label="Recent">
      <!-- Document Row -->
      <mat-card class="document-row">
        <mat-icon class="document-type">{{ helperService.appIcons.insertDriveFile }}</mat-icon>
        <div class="document-data">
          <span class="document-title">Sample Document</span>
          <span>
            <mat-icon>{{ helperService.appIcons.clock }}</mat-icon> Added 10 days ago
          </span>
        </div>
        <div class="document-options">
          <mat-icon color="warn">{{helperService.appIcons.deleteSweep}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.viewSite}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.cloudDownload}}</mat-icon>
        </div>
      </mat-card><!-- /Document Row -->
      <!-- Document Row -->
      <mat-card class="document-row">
        <mat-icon class="document-type">{{ helperService.appIcons.insertDriveFile }}</mat-icon>
        <div class="document-data">
          <span class="document-title">Sample Document</span>
          <span>
            <mat-icon>{{ helperService.appIcons.clock }}</mat-icon> Added 10 days ago
          </span>
        </div>
        <div class="document-options">
          <mat-icon color="warn">{{helperService.appIcons.deleteSweep}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.viewSite}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.cloudDownload}}</mat-icon>
        </div>
      </mat-card><!-- /Document Row -->
      <!-- Document Row -->
      <mat-card class="document-row">
        <mat-icon class="document-type">{{ helperService.appIcons.insertDriveFile }}</mat-icon>
        <div class="document-data">
          <span class="document-title">Sample Document</span>
          <span>
            <mat-icon>{{ helperService.appIcons.clock }}</mat-icon> Added 10 days ago
          </span>
        </div>
        <div class="document-options">
          <mat-icon color="warn">{{helperService.appIcons.deleteSweep}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.viewSite}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.cloudDownload}}</mat-icon>
        </div>
      </mat-card><!-- /Document Row -->
      <!-- Document Row -->
      <mat-card class="document-row">
        <mat-icon class="document-type">{{ helperService.appIcons.insertDriveFile }}</mat-icon>
        <div class="document-data">
          <span class="document-title">Sample Document</span>
          <span>
            <mat-icon>{{ helperService.appIcons.clock }}</mat-icon> Added 10 days ago
          </span>
        </div>
        <div class="document-options">
          <mat-icon color="warn">{{helperService.appIcons.deleteSweep}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.viewSite}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.cloudDownload}}</mat-icon>
        </div>
      </mat-card><!-- /Document Row -->
      <!-- Document Row -->
      <mat-card class="document-row">
        <mat-icon class="document-type">{{ helperService.appIcons.insertDriveFile }}</mat-icon>
        <div class="document-data">
          <span class="document-title">Sample Document</span>
          <span>
            <mat-icon>{{ helperService.appIcons.clock }}</mat-icon> Added 10 days ago
          </span>
        </div>
        <div class="document-options">
          <mat-icon color="warn">{{helperService.appIcons.deleteSweep}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.viewSite}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.cloudDownload}}</mat-icon>
        </div>
      </mat-card><!-- /Document Row -->
      <!-- Document Row -->
      <mat-card class="document-row">
        <mat-icon class="document-type">{{ helperService.appIcons.insertDriveFile }}</mat-icon>
        <div class="document-data">
          <span class="document-title">Sample Document</span>
          <span>
            <mat-icon>{{ helperService.appIcons.clock }}</mat-icon> Added 10 days ago
          </span>
        </div>
        <div class="document-options">
          <mat-icon color="warn">{{helperService.appIcons.deleteSweep}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.viewSite}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.cloudDownload}}</mat-icon>
        </div>
      </mat-card><!-- /Document Row -->
      <!-- Document Row -->
      <mat-card class="document-row">
        <mat-icon class="document-type">{{ helperService.appIcons.insertDriveFile }}</mat-icon>
        <div class="document-data">
          <span class="document-title">Sample Document</span>
          <span>
            <mat-icon>{{ helperService.appIcons.clock }}</mat-icon> Added 10 days ago
          </span>
        </div>
        <div class="document-options">
          <mat-icon color="warn">{{helperService.appIcons.deleteSweep}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.viewSite}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.cloudDownload}}</mat-icon>
        </div>
      </mat-card><!-- /Document Row -->
    </mat-tab>
    <mat-tab label="Pinned">
      <!-- Document Row -->
      <mat-card class="document-row">
        <mat-icon class="document-type">{{ helperService.appIcons.insertDriveFile }}</mat-icon>
        <div class="document-data">
          <span class="document-title">Sample Document</span>
          <span>
            <mat-icon>{{ helperService.appIcons.clock }}</mat-icon> Added 10 days ago
          </span>
        </div>
        <div class="document-options">
          <mat-icon color="warn">{{helperService.appIcons.deleteSweep}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.viewSite}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.cloudDownload}}</mat-icon>
        </div>
      </mat-card><!-- /Document Row -->
      <!-- Document Row -->
      <mat-card class="document-row">
        <mat-icon class="document-type">{{ helperService.appIcons.insertDriveFile }}</mat-icon>
        <div class="document-data">
          <span class="document-title">Sample Document</span>
          <span>
            <mat-icon>{{ helperService.appIcons.clock }}</mat-icon> Added 10 days ago
          </span>
        </div>
        <div class="document-options">
          <mat-icon color="warn">{{helperService.appIcons.deleteSweep}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.viewSite}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.cloudDownload}}</mat-icon>
        </div>
      </mat-card><!-- /Document Row -->
      <!-- Document Row -->
      <mat-card class="document-row">
        <mat-icon class="document-type">{{ helperService.appIcons.insertDriveFile }}</mat-icon>
        <div class="document-data">
          <span class="document-title">Sample Document</span>
          <span>
            <mat-icon>{{ helperService.appIcons.clock }}</mat-icon> Added 10 days ago
          </span>
        </div>
        <div class="document-options">
          <mat-icon color="warn">{{helperService.appIcons.deleteSweep}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.viewSite}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.cloudDownload}}</mat-icon>
        </div>
      </mat-card><!-- /Document Row -->
      <!-- Document Row -->
      <mat-card class="document-row">
        <mat-icon class="document-type">{{ helperService.appIcons.insertDriveFile }}</mat-icon>
        <div class="document-data">
          <span class="document-title">Sample Document</span>
          <span>
            <mat-icon>{{ helperService.appIcons.clock }}</mat-icon> Added 10 days ago
          </span>
        </div>
        <div class="document-options">
          <mat-icon color="warn">{{helperService.appIcons.deleteSweep}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.viewSite}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.cloudDownload}}</mat-icon>
        </div>
      </mat-card><!-- /Document Row -->
    </mat-tab>
  </mat-tab-group>
</div>