<mat-card-title class="mat-dialog-title">
  {{addSiteModel.translated.MESSAGES.ADDSITE_MSG}}
</mat-card-title>
<div mat-dialog-content>
  <form [formGroup]="addSiteModel.addSiteForm" (ngSubmit)= addSite(addSiteModel.addSiteForm)>
    <div class="form-group">
      <mat-form-field full-width>
        <input
          matInput
          type="text"
          placeholder="{{ addSiteModel.translated.TABLEHEADINGS.SITE_NAME }}"
          formControlName="{{ addSiteModel.appConstants.siteName }}"
          required
        />
      </mat-form-field>
      <mat-form-field full-width>
        <input
          matInput
          type="text"
          placeholder="{{ addSiteModel.translated.STRINGS.SITESAFETYPLAN }}"
          formControlName="{{ addSiteModel.appConstants.siteSafetyPlan }}"
          required
        />
      </mat-form-field>
      <mat-form-field full-width>
        <input matInput type="text" placeholder="{{ addSiteModel.translated.STRINGS.SITEADDRESS }}" appGooglePlaces
               (onSelect)="setAddress($event)" formControlName="{{ addSiteModel.appConstants.siteAddress }}" required />
        <mat-error *ngIf="formValidation.siteAddress.errors">
        <span *ngIf="formValidation.siteAddress.errors.required">{{
          addSiteModel.translated.MESSAGES.OFFICELOCATION_REQ
          }}</span>
          <span *ngIf="formValidation.siteAddress.errors.invalid">{{addSiteModel.translated.MESSAGES.INVALIDADDRESS}}</span>
        </mat-error>
      </mat-form-field>
      <div #gmap style="width:100%;height:250px"></div>
      <mat-slide-toggle formControlName="{{ addSiteModel.appConstants.safeZone }}">
        Safe Zone
      </mat-slide-toggle>
    </div>
    <mat-dialog-actions>
      <button
        mat-raised-button
        cdkFocusInitial
        custom-btn
        btn-primary
        [disabled]="addSiteModel.loading"
        color="primary">
        {{ addSiteModel.translated.BUTTONS.ADD_SITE }}
      </button>
      <img *ngIf="addSiteModel.loading" [src]=addSiteModel.translated.MESSAGES.LOADING_URL/>
      <button mat-button mat-dialog-close>
        {{ addSiteModel.translated.BUTTONS.CANCEL }}
      </button>
    </mat-dialog-actions>
  </form>
</div>
