@mixin amte-addHazard($primary, $accent, $warn) {
  :host,
  app-addHazard {
    .current-site {
      text-align: center;
      h2 {
        color: mat-color($primary);
        margin: 0;
      }
      p {
        mat-icon {
          vertical-align: middle;
        }
      }
    }
    .review-thumbnail {
      width: 100px;
      height: 100px;
      margin: 0 auto;
      display: block;
      border-radius: 100px;
    }
    .hazard-summary {
      p {
        margin: 0 0 10px;
      }
    }
    .multiple-inputs {
      mat-form-field {
        width: 48%;
        margin: 1%;
      }
    }
    .nav-btn {
      text-align: center;
      margin: 20px 0 0;
    }
    .change-picture {
      width: 100px;
      height: 100px;
      margin: 10px auto;
      overflow: hidden;
      border-radius: $fullValue;
      position: relative;
      span {
        @include midBlock;
        background: rgba(0, 0, 0, 0.6);
        z-index: 1;
        font-size: 12px;
        color: #fff;
        height: $fullValue;
        width: $fullValue;
        display: flex;
        align-items: center;
        white-space: normal;
        text-align: center;
        line-height: 1.5;
        opacity: 0;
        visibility: hidden;
        cursor: pointer;
        justify-content: center;
        border-radius: 100px;
      }
      .remove-picture {
        @include midBlock;
        z-index: 2;
        background: mat-color($warn);
        color: #fff;
        font-size: 18px;
        text-align: center;
        line-height: 1.4;
        top: 20px;
        cursor: pointer;
        opacity: 0;
        visibility: hidden;
        border-radius: 100px;
      }
      &:hover {
        span {
          opacity: 1;
          visibility: visible;
        }
        .remove-picture {
          opacity: 1;
          visibility: visible;
        }
      }
      img {
        max-width: $fullValue;
        @include midBlock;
        z-index: 0;

      }
      input {
        @include midBlock;
        opacity: 0;
        width: $fullValue;
        height: $fullValue;
        cursor: pointer;
        z-index: 1;
      }
    }
  }
}
