@mixin amte-hazardCenter($primary, $accent, $warn) {
  :host,
  app-hazardCenter {
    .customTable td,
    .customTable th {
      padding: 0 10px !important;
    }
    position: relative;
    height: 100%;
  }
}
