<mat-card-title class="mat-dialog-title">{{inviteTeamModel.translated.MESSAGES.INVITETEAMTITLE}}</mat-card-title>
<div mat-dialog-content>
  <mat-form-field class="example-chip-list">
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let user of inviteTeamModel.users" [removable]="inviteTeamModel.removable"
        (removed)="remove(user)">
        {{user.first_name}}
        <mat-icon matChipRemove *ngIf="inviteTeamModel.removable">cancel</mat-icon>
      </mat-chip>
      <input placeholder="{{inviteTeamModel.translated.MESSAGES.INVITETEAMPLACEHOLDER}}" #userInput
        [formControl]="inviteTeamModel.userCtrl" [matAutocomplete]="auto" [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="inviteTeamModel.separatorKeysCodes">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let user of inviteTeamModel.filteredUsers | async" [value]="user">
        {{user.first_name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-dialog-actions>
    <button mat-raised-button cdkFocusInitial custom-btn btn-primary color="primary"
      [disabled]="inviteTeamModel.loading" (click)='inviteTeam()'>
      {{ inviteTeamModel.translated.BUTTONS.INVITETEAM }}
    </button>
    <img *ngIf="inviteTeamModel.loading" [src]=inviteTeamModel.translated.MESSAGES.LOADING_URL />
    <button mat-button mat-dialog-close (click)='onNoClick()'>
      {{ inviteTeamModel.translated.BUTTONS.CANCEL }}
    </button>
  </mat-dialog-actions>
</div>
