@mixin amte-navigation($primary, $accent, $warn) {
  :host,
  .example-container {
    width: 400px;
    height: 200px;
    margin: 10px;
    border: 1px solid #555;
  }
  app-navigation {
    .container {
      display: flex;
      flex-direction: row;
      height: 100%;
    }
    .notification-icon{
      top: 5px;
      position: relative;
      font-size: 22px;
      height: auto;
      width: auto;
      cursor: pointer;
      padding: 0 20px;
      .notifcount{
        font-size: 11px;
        border-radius: 100px;
        padding: 4px;
        position: absolute;
        top: -20px;
        right: 0;
        width: 17px;
        height: 17px;
        text-align: center;
        line-height: 1.7;
        box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.5);
      }
    }
    .close-notif{
      padding:20px 20px 0;
      cursor:pointer;
    }
    mat-sidenav {
      width: 200px;
      .nav-link {
        font-size: 14px;
        width:100%;
      }
    }
    mat-sidenav-container {
      flex: 1;
    }
    .app-content {
      display: flex;
      flex-flow: column;
      height: 100%;
    }
    .header {
      flex: 0 1 auto;
    }
    .page-content {
      display: flex;
      flex-flow: column;
      flex: 1 1 0;
      overflow-y: auto;
    }
    .more-button {
      position: absolute;
      top: 5px;
      right: 10px;
    }
    .dashboard-card-content {
      text-align: center;
    }
    .top-btns {
      width: 100%;
      text-align: right;
    }
    .sidenav-logo {
      max-width: 84%;
      margin: 20px auto 0;
      display: block;
      width: 100%;
    }
    .menu-button {
      button {
        margin: 0 auto;
      }
    }
  }
}
