<div class="container">
  <app-fixed-nav class="mini-sidenav" (sidenavToggle)="sideNav.toggle()"></app-fixed-nav>
  <mat-sidenav-container hasBackdrop="false">
    <mat-sidenav #sideNav mode="side" class="mat-sidenav mat-elevation-z6">
      <img src='../../../../../assets/images/logo.png' class="sidenav-logo">
      <mat-nav-list>
        <app-nav-list [navLinks]="navLinks" [navLinksBottom]="navLinksBottom"></app-nav-list>
      </mat-nav-list>
    </mat-sidenav>
    <!-- Content of rest of section -->
    <mat-sidenav-content class="app-content">
      <!-- Router outlet for the rest of the app -->
      <!-- <optergy-header class="header"></optergy-header> -->
      <mat-toolbar class="topbar">
        <div class="top-btns">
          <button mat-button *ngIf="core.isAuthenticated" (click)="core.logoutUser()">
            Logout
          </button>
        </div>
      </mat-toolbar>
      <div class="page-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>