<div class="container">
  <app-fixed-nav class="mini-sidenav" (sidenavToggle)="sideNav.toggle()" (switchNavList)="switchList()"
    (switchNavListDefault)="switchListDefault()"></app-fixed-nav>
  <mat-sidenav-container hasBackdrop="false">
    <mat-sidenav #sideNav mode="side" class="mat-sidenav mat-elevation-z6">
      <div>
        <img src="../../../../../assets/images/logo-full.png" class="sidenav-logo" />
      </div>
      <div class="entity-switcher">
        <!-- <mat-select [(value)]="selected" (selectionChange)="switchSideMenu(selected)">
            <mat-option
            *ngFor="let entity of entityUserData.entities"
            [value]="entity">
            <img src="https://pbs.twimg.com/profile_images/1105824643796090882/2Xp9Hlqz.jpg" class="entity-avatar" />
            <span class="entity-name">{{entity.entityInfo.name}}</span>
            <span class="user-role">Administrator</span></mat-option>
        </mat-select> -->

        <!-- <button mat-button [matMenuTriggerFor]="menu">Menu</button>
        <mat-menu (selectionChange)="switchSideMenu(selected)" #menu="matMenu">
          <button class="single-entity" *ngFor="let entity of entityUserData.entities" [value]="entity" mat-menu-item>
              <img src="https://pbs.twimg.com/profile_images/1105824643796090882/2Xp9Hlqz.jpg" class="entity-avatar" />
              <div class="entity-data">
                <span class="entity-name">{{entity.entityInfo.name}}</span>
                <span class="user-role">Administrator</span>
              </div>
          </button>
        </mat-menu> -->

      </div>
      <mat-nav-list>
        <app-nav-list [navLinks]="navLinks"></app-nav-list>
      </mat-nav-list>
    </mat-sidenav>
    <!-- Content of rest of section -->
    <mat-sidenav-content class="app-content">
      <!-- Router outlet for the rest of the app -->
      <mat-toolbar class="topbar">
        <div class="top-btns">
          <button mat-button *ngIf="core.isAuthenticated" (click)="core.logoutUser()">
            Logout
          </button>
          <mat-icon class="notification-icon" (click)="drawer.toggle()">notification_important
            <span class="notifcount">90+</span></mat-icon>
        </div>
      </mat-toolbar>

      <div class="page-content">
        <!-- <mat-drawer-container class="example-container" hasBackdrop="true"> -->
        <mat-drawer #drawer mode="push" position="start">
          <mat-icon class="close-notif" (click)="drawer.toggle()">arrow_back</mat-icon>
          <app-notificationNav></app-notificationNav>
        </mat-drawer>
        <!-- </mat-drawer-container> -->
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
