@mixin amte-navigation($primary, $accent, $warn) {
  :host,
  app-navigation {
    .container {
      display: flex;
      flex-direction: row;
      height: 100%;
    }
    mat-sidenav {
      width: 160px;
      .nav-link {
        font-size: 14px;
      }
    }
    mat-sidenav-container {
      flex: 1;
    }
    .app-content {
      display: flex;
      flex-flow: column;
      height: 100%;
    }
    .header {
      flex: 0 1 auto;
    }
    .page-content {
      display: flex;
      flex-flow: column;
      flex: 1 1 0;
      overflow-y: auto;
    }
    .more-button {
      position: absolute;
      top: 5px;
      right: 10px;
    }
    .dashboard-card-content {
      text-align: center;
    }
    .top-btns {
      width: 100%;
      text-align: right;
    }
    .sidenav-logo {
      max-width: 84%;
      margin: 20px auto;
      display: block;
      width: 100%;
    }
    .menu-button {
      button {
        margin: 0 auto;
      }
    }
  }
}
