@mixin amte-averageDailyActionsReport($primary, $accent, $warn) {

  :host,
  app-averageDailyActionsReport {
    position: relative;
    height: 100%;
    mat-grid-list {
      height: 50vh;
      margin-top: 20px;
    }
    #checkInContainer,
    #checkOutContainer {
      border-radius: 4px;
      height: 100%;
      width: 100%;
    }
  }
}