<div class="paddingbox">
  <div class="page-title">
    <h3>{{ helperService.translated.SITETITLE.DOCUMENTS }}</h3>
  </div>
  <div class="buttonRow">
    <button btn-primary mat-raised-button color="primary" (click)="uploadDoc()">
      <mat-icon>{{ helperService.appIcons.createEntity }}</mat-icon>
      {{ helperService.translated.BUTTONS.UPLOAD_DOCUMENT }}
    </button>
    <button btn-primary mat-raised-button color="primary" (click)="newFolder()">
      <mat-icon>{{ helperService.appIcons.createFolder }}</mat-icon>
      {{ helperService.translated.BUTTONS.CREATE_FOLDER }}
    </button>
  </div>

  <!-- Folders -->

  <div class="folders-wrapper">
    <h4 class="wrapper-heading">Folders</h4>
    <div class="content-area">
      <ng-container *ngFor="let folder of documentsData.folderList">
      <mat-card class="element-inline">
        <mat-icon class="document-type">{{ helperService.appIcons.folder }}</mat-icon>
        <span>{{folder.name}}</span>
      </mat-card>
      </ng-container>
    </div>
  </div><!-- Folders -->

  <!-- Files -->
  <div class="files-wrapper">
    <h4 class="wrapper-heading">Files</h4>
    <div class="content-area">
      <ng-container *ngFor="let doc of documentsData.rootDocs">
      <mat-card class="file-inline">
        <div class="file-info">
          <mat-icon class="file-type">{{ helperService.appIcons.insertDriveFile }}</mat-icon>
          <span>{{doc.title}}</span>
        </div>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      </mat-card>
      </ng-container>
    </div>
  </div><!-- Files -->

  <mat-tab-group style="display:none;" class="documents-tab">
    <mat-tab label="Documents">
      <!-- Document Row -->
      <ng-container *ngFor="let doc of documentsData.rootDocs">
      <mat-card class="document-row">
        <mat-icon class="document-type">{{ helperService.appIcons.insertDriveFile }}</mat-icon>
        <div class="document-data">
          <span class="document-title">{{doc.title}}</span>
          <!--          <span>-->
          <!--            <mat-icon>{{ helperService.appIcons.clock }}</mat-icon> Added 10 days ago-->
          <!--          </span>-->
        </div>
        <div class="document-options">
          <mat-icon (click)="deleteDoc(doc.id)" color="warn" matTooltip="Delete File" >{{helperService.appIcons.deleteSweep}}</mat-icon>
          <mat-icon (click)="viewDoc(doc.file)" color=primary matTooltip="View File">{{helperService.appIcons.view}}</mat-icon>
<!--          <mat-icon (click)="downloadDoc()" color="primary" matTooltip="Download">{{helperService.appIcons.cloudDownload}}</mat-icon>-->
        </div>

      </mat-card>
      </ng-container>
      <!-- /Document Row -->
      <ng-container *ngIf="!documentsData.documentExist">
      <div class="document-row text-align-center">
        <span class="document-title">{{helperService.translated.STRINGS.NO_DOCUMENTS}}</span>
      </div><!-- /Document Row -->
      </ng-container>
    </mat-tab>

    <!--Folders Tab-->
    <mat-tab label="Folders">
      <!-- Document Row -->
      <mat-accordion class="documents-tab folder-expansion">
        <!--Folder-->
        <div>
        <ng-container *ngFor="let folder of documentsData.folderList">
        <mat-expansion-panel (closed)="documentsData.panelOpenState = false" (opened)="docsOfFolder(folder.id)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon class="folder-icon">{{helperService.appIcons.folder}}</mat-icon>
              {{folder.name}}
            </mat-panel-title>
            <!--            <mat-panel-description>-->
            <!--              25 Documents-->
            <!--            </mat-panel-description>-->
          </mat-expansion-panel-header>
          <ng-container class="folder-option">
            <button class="menubtn" mat-button [matMenuTriggerFor]="menu">
              <mat-icon>{{helperService.appIcons.moveVert}}</mat-icon>
            </button>
            <mat-menu #menu="matMenu" >
              <button mat-menu-item (click)="deleteFolder(folder.id)">
                <mat-icon >{{helperService.appIcons.deleteForever}}</mat-icon>
                {{helperService.translated.STRINGS.DELETE_FOLDER}}
              </button>
              <button mat-menu-item (click)="renameFolder(folder)">
                <mat-icon >{{helperService.appIcons.edit}}</mat-icon>
                {{helperService.translated.STRINGS.RENAME}}
              </button>
            </mat-menu>
          </ng-container>

          <!--Document Row-->
          <ng-container *ngIf="documentsData.docList">
          <ng-container *ngFor="let doc of documentsData.docList">
          <mat-card class="document-row">
            <mat-icon class="document-type">{{ helperService.appIcons.insertDriveFile }}</mat-icon>
            <div class="document-data">
              <span class="document-title">{{doc.title}}</span>
<!--              <span>-->
<!--                <mat-icon>{{ helperService.appIcons.clock }}</mat-icon> Added 10 years ago-->
<!--              </span>-->
<!--              <span class="d-count">-->
<!--                <mat-icon>{{ helperService.appIcons.insertDriveFile }}</mat-icon> 20 documents-->
<!--              </span>-->
            </div>
            <div class="document-options">
              <mat-icon (click)="deleteDoc(doc.id)" color="warn" matTooltip="Delete File">{{helperService.appIcons.deleteSweep}}</mat-icon>
              <mat-icon (click)="viewDoc(doc.file)" color="primary" matTooltip="View File">{{helperService.appIcons.view}}</mat-icon>
<!--              <mat-icon color="primary" matTooltip="Download">{{helperService.appIcons.cloudDownload}}</mat-icon>-->
            </div>
          </mat-card>
          </ng-container>
          </ng-container>

          <ng-container class="document-row text-align-center"  *ngIf="!documentsData.folderDoc">
            <span class="no-document">{{helperService.translated.STRINGS.NO_DOCUMENTS}}</span>
          </ng-container>
          <!--/Document Row-->
        </mat-expansion-panel>
        </ng-container>
        </div>
        <div class="document-row" *ngIf="!documentsData.folderExist">
          <p class="document-title">{{helperService.translated.STRINGS.NO_FOLDERS}}</p>
        </div>
        <!--/Folder-->
      </mat-accordion>
    </mat-tab>
    <!--/Folders Tab-->
  </mat-tab-group>
</div>
