<div class="paddingbox">
  <div class="page-title">
    <h3>{{ helperService.translated.SITETITLE.DOCUMENTS }}</h3>
  </div>
  <div class="buttonRow">
    <button btn-primary mat-raised-button color="primary">
      <mat-icon>{{ helperService.appIcons.createEntity }}</mat-icon>
      {{ helperService.translated.BUTTONS.UPLOAD_DOCUMENT }}
    </button>
    <button btn-primary mat-raised-button color="primary">
      <mat-icon>{{ helperService.appIcons.createFolder }}</mat-icon>
      {{ helperService.translated.BUTTONS.CREATE_FOLDER }}
    </button>
  </div>
  <mat-tab-group class="documents-tab">
    <mat-tab label="All">
      <!-- Document Row -->
      <mat-card class="document-row">
        <mat-icon class="document-type">{{ helperService.appIcons.insertDriveFile }}</mat-icon>
        <div class="document-data">
          <span class="document-title">Sample Document</span>
          <span>
            <mat-icon>{{ helperService.appIcons.clock }}</mat-icon> Added 10 days ago
          </span>
        </div>
        <div class="document-options">
          <mat-icon color="warn">{{helperService.appIcons.deleteSweep}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.viewSite}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.cloudDownload}}</mat-icon>
        </div>
      </mat-card><!-- /Document Row -->
      <!-- Document Row -->
      <mat-card class="document-row">
        <mat-icon class="document-type">{{ helperService.appIcons.insertDriveFile }}</mat-icon>
        <div class="document-data">
          <span class="document-title">Sample Document</span>
          <span>
            <mat-icon>{{ helperService.appIcons.clock }}</mat-icon> Added 10 days ago
          </span>
        </div>
        <div class="document-options">
          <mat-icon color="warn">{{helperService.appIcons.deleteSweep}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.viewSite}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.cloudDownload}}</mat-icon>
        </div>
      </mat-card><!-- /Document Row -->
      <!-- Document Row -->
      <mat-card class="document-row">
        <mat-icon class="document-type">{{ helperService.appIcons.insertDriveFile }}</mat-icon>
        <div class="document-data">
          <span class="document-title">Sample Document</span>
          <span>
            <mat-icon>{{ helperService.appIcons.clock }}</mat-icon> Added 10 days ago
          </span>
        </div>
        <div class="document-options">
          <mat-icon color="warn">{{helperService.appIcons.deleteSweep}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.viewSite}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.cloudDownload}}</mat-icon>
        </div>
      </mat-card><!-- /Document Row -->
      <!-- Document Row -->
      <mat-card class="document-row">
        <mat-icon class="document-type">{{ helperService.appIcons.insertDriveFile }}</mat-icon>
        <div class="document-data">
          <span class="document-title">Sample Document</span>
          <span>
            <mat-icon>{{ helperService.appIcons.clock }}</mat-icon> Added 10 days ago
          </span>
        </div>
        <div class="document-options">
          <mat-icon color="warn">{{helperService.appIcons.deleteSweep}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.viewSite}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.cloudDownload}}</mat-icon>
        </div>
      </mat-card><!-- /Document Row -->
      <!-- Document Row -->
      <mat-card class="document-row">
        <mat-icon class="document-type">{{ helperService.appIcons.insertDriveFile }}</mat-icon>
        <div class="document-data">
          <span class="document-title">Sample Document</span>
          <span>
            <mat-icon>{{ helperService.appIcons.clock }}</mat-icon> Added 10 days ago
          </span>
        </div>
        <div class="document-options">
          <mat-icon color="warn">{{helperService.appIcons.deleteSweep}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.viewSite}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.cloudDownload}}</mat-icon>
        </div>
      </mat-card><!-- /Document Row -->
      <!-- Document Row -->
      <mat-card class="document-row">
        <mat-icon class="document-type">{{ helperService.appIcons.insertDriveFile }}</mat-icon>
        <div class="document-data">
          <span class="document-title">Sample Document</span>
          <span>
            <mat-icon>{{ helperService.appIcons.clock }}</mat-icon> Added 10 days ago
          </span>
        </div>
        <div class="document-options">
          <mat-icon color="warn">{{helperService.appIcons.deleteSweep}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.viewSite}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.cloudDownload}}</mat-icon>
        </div>
      </mat-card><!-- /Document Row -->
      <!-- Document Row -->
      <mat-card class="document-row">
        <mat-icon class="document-type">{{ helperService.appIcons.insertDriveFile }}</mat-icon>
        <div class="document-data">
          <span class="document-title">Sample Document</span>
          <span>
            <mat-icon>{{ helperService.appIcons.clock }}</mat-icon> Added 10 days ago
          </span>
        </div>
        <div class="document-options">
          <mat-icon color="warn">{{helperService.appIcons.deleteSweep}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.viewSite}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.cloudDownload}}</mat-icon>
        </div>
      </mat-card><!-- /Document Row -->
      <!-- Document Row -->
      <mat-card class="document-row">
        <mat-icon class="document-type">{{ helperService.appIcons.insertDriveFile }}</mat-icon>
        <div class="document-data">
          <span class="document-title">Sample Document</span>
          <span>
            <mat-icon>{{ helperService.appIcons.clock }}</mat-icon> Added 10 days ago
          </span>
        </div>
        <div class="document-options">
          <mat-icon color="warn">{{helperService.appIcons.deleteSweep}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.viewSite}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.cloudDownload}}</mat-icon>
        </div>
      </mat-card><!-- /Document Row -->
    </mat-tab>
    <mat-tab label="Recent">
      <!-- Document Row -->
      <mat-card class="document-row">
        <mat-icon class="document-type">{{ helperService.appIcons.insertDriveFile }}</mat-icon>
        <div class="document-data">
          <span class="document-title">Sample Document</span>
          <span>
            <mat-icon>{{ helperService.appIcons.clock }}</mat-icon> Added 10 days ago
          </span>
        </div>
        <div class="document-options">
          <mat-icon color="warn">{{helperService.appIcons.deleteSweep}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.viewSite}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.cloudDownload}}</mat-icon>
        </div>
      </mat-card><!-- /Document Row -->
      <!-- Document Row -->
      <mat-card class="document-row">
        <mat-icon class="document-type">{{ helperService.appIcons.insertDriveFile }}</mat-icon>
        <div class="document-data">
          <span class="document-title">Sample Document</span>
          <span>
            <mat-icon>{{ helperService.appIcons.clock }}</mat-icon> Added 10 days ago
          </span>
        </div>
        <div class="document-options">
          <mat-icon color="warn">{{helperService.appIcons.deleteSweep}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.viewSite}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.cloudDownload}}</mat-icon>
        </div>
      </mat-card><!-- /Document Row -->
      <!-- Document Row -->
      <mat-card class="document-row">
        <mat-icon class="document-type">{{ helperService.appIcons.insertDriveFile }}</mat-icon>
        <div class="document-data">
          <span class="document-title">Sample Document</span>
          <span>
            <mat-icon>{{ helperService.appIcons.clock }}</mat-icon> Added 10 days ago
          </span>
        </div>
        <div class="document-options">
          <mat-icon color="warn">{{helperService.appIcons.deleteSweep}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.viewSite}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.cloudDownload}}</mat-icon>
        </div>
      </mat-card><!-- /Document Row -->
      <!-- Document Row -->
      <mat-card class="document-row">
        <mat-icon class="document-type">{{ helperService.appIcons.insertDriveFile }}</mat-icon>
        <div class="document-data">
          <span class="document-title">Sample Document</span>
          <span>
            <mat-icon>{{ helperService.appIcons.clock }}</mat-icon> Added 10 days ago
          </span>
        </div>
        <div class="document-options">
          <mat-icon color="warn">{{helperService.appIcons.deleteSweep}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.viewSite}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.cloudDownload}}</mat-icon>
        </div>
      </mat-card><!-- /Document Row -->
      <!-- Document Row -->
      <mat-card class="document-row">
        <mat-icon class="document-type">{{ helperService.appIcons.insertDriveFile }}</mat-icon>
        <div class="document-data">
          <span class="document-title">Sample Document</span>
          <span>
            <mat-icon>{{ helperService.appIcons.clock }}</mat-icon> Added 10 days ago
          </span>
        </div>
        <div class="document-options">
          <mat-icon color="warn">{{helperService.appIcons.deleteSweep}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.viewSite}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.cloudDownload}}</mat-icon>
        </div>
      </mat-card><!-- /Document Row -->
      <!-- Document Row -->
      <mat-card class="document-row">
        <mat-icon class="document-type">{{ helperService.appIcons.insertDriveFile }}</mat-icon>
        <div class="document-data">
          <span class="document-title">Sample Document</span>
          <span>
            <mat-icon>{{ helperService.appIcons.clock }}</mat-icon> Added 10 days ago
          </span>
        </div>
        <div class="document-options">
          <mat-icon color="warn">{{helperService.appIcons.deleteSweep}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.viewSite}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.cloudDownload}}</mat-icon>
        </div>
      </mat-card><!-- /Document Row -->
      <!-- Document Row -->
      <mat-card class="document-row">
        <mat-icon class="document-type">{{ helperService.appIcons.insertDriveFile }}</mat-icon>
        <div class="document-data">
          <span class="document-title">Sample Document</span>
          <span>
            <mat-icon>{{ helperService.appIcons.clock }}</mat-icon> Added 10 days ago
          </span>
        </div>
        <div class="document-options">
          <mat-icon color="warn">{{helperService.appIcons.deleteSweep}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.viewSite}}</mat-icon>
          <mat-icon color="primary">{{helperService.appIcons.cloudDownload}}</mat-icon>
        </div>
      </mat-card><!-- /Document Row -->
    </mat-tab>
    <mat-tab label="Folders">
      <!-- Document Row -->

      <mat-accordion class="documents-tab">
        <mat-expansion-panel class="document-row">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon class="document-type">{{ helperService.appIcons.folder }}</mat-icon>
              <span class="document-title">Folder name</span>
            </mat-panel-title>
            <mat-panel-description>
              <div class="document-data">
                <span>
                  <mat-icon>{{ helperService.appIcons.clock }}</mat-icon> Added 10 years ago
                </span>
                <span class="d-count">
                  <mat-icon>{{ helperService.appIcons.insertDriveFile }}</mat-icon> 20 documents
                </span>
              </div>
              <div class="document-options">
                <mat-icon color="warn">{{helperService.appIcons.deleteSweep}}</mat-icon>
                <mat-icon color="primary">{{helperService.appIcons.viewSite}}</mat-icon>
                <mat-icon color="primary">{{helperService.appIcons.cloudDownload}}</mat-icon>
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Self aware panel
            </mat-panel-title>
            <mat-panel-description>
              Currently I am {{panelOpenState ? 'open' : 'closed'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-card class="document-row">
            <mat-icon class="document-type">{{ helperService.appIcons.folder }}</mat-icon>
            <div class="document-data">
              <span class="document-title">Folder name</span>
              <span>
                <mat-icon>{{ helperService.appIcons.clock }}</mat-icon> Added 10 years ago
              </span>
              <span class="d-count">
                <mat-icon>{{ helperService.appIcons.insertDriveFile }}</mat-icon> 20 documents
              </span>
            </div>
            <div class="document-options">
              <mat-icon color="warn">{{helperService.appIcons.deleteSweep}}</mat-icon>
              <mat-icon color="primary">{{helperService.appIcons.viewSite}}</mat-icon>
              <mat-icon color="primary">{{helperService.appIcons.cloudDownload}}</mat-icon>
            </div>
          </mat-card>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-tab>
  </mat-tab-group>
</div>