@mixin amte-documents($primary, $accent, $warn) {
  :host,
  app-documents {
    .paddingbox {
      padding: 1rem 5rem;
    }
    .element-inline{
      display: inline-block;
    }
    .file-inline{
      display: inline-block;
      max-width:200px;
      margin-right: 20px;
      margin-bottom: 20px;
      padding-bottom:0;
    }
    .file-type,
    .document-type{
      opacity: 0.5;
      padding-right: 5px;
    }
    .folders-wrapper{
      .content-area{
        mat-card{
          margin-right: 20px;
          margin-bottom: 20px;
          width: 150px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
    .files-wrapper{
    .file-info{
      display: flex;
      align-items: center;
      margin-bottom: 15px;
    }
    }
  }
}
