@mixin amte-createQuestion($primary, $accent, $warn) {
  :host,
  app-createQuestion {
    .mat-radio-button {
      float: right;
    }
    .mat-radio-label-content {
      padding-right: 8px;
    }
    @media (max-width: 575px) {
      .mat-radio-button {
        float: none;
        display: block;
      }
    }
  }
}
