<mat-grid-list cols="2" rowHeight="100%">
  <mat-grid-tile>
    <mat-card class="sideLegend">
      <div class="legendContent">
        <h3>{{translated.MESSAGES.WELCOME}}</h3>
        <h1>Anonymous !</h1>
        <p>{{translated.MESSAGES.WELCOME_MSG}}</p>
        <span>{{translated.MESSAGES.NOACCOUNT}}</span>
        <button mat-raised-button custom-btn btn-white routerLink="/signup" [disabled]="loading">{{translated.BUTTONS.REGISTER}}</button>
      </div>
    </mat-card>
  </mat-grid-tile>
  <span class="monogram">
    <img src="/assets/images/monogram.png" />
  </span>
  <mat-grid-tile>
    <mat-card class="midbox loginbox">
      <mat-card-title>{{translated.BUTTONS.LOGIN}}</mat-card-title>
      <p class="subheading">{{translated.MESSAGES.SIGNINMESSAGE}}</p>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
        <div class="input">
          <mat-form-field>
            <input matInput type="text" [placeholder]=translated.AUTH.USER formControlName=username required />
            <mat-error *ngIf="formValidation.username.errors">
              {{translated.AUTH.USERNAME_REQ}}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="password">
          <mat-form-field>
            <input matInput type="password" [placeholder]=translated.AUTH.PASSWORD formControlName=password required />
            <mat-error *ngIf="formValidation.password.errors">
              {{translated.AUTH.PASSWORD_REQ}}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="button">
          <button mat-raised-button [disabled]="loading" custom-btn btn-primary color="primary">{{translated.BUTTONS.LOGIN}}</button>
          <img *ngIf="loading" [src]=translated.MESSAGES.LOADING_URL />    
        </div>
        <div class="link">
          <a routerLink="/forgotPassword">{{translated.BUTTONS.FORGOTPASSWORD}}</a>
        </div>
      </form>
    </mat-card>
  </mat-grid-tile>
  <app-particle-container></app-particle-container>
</mat-grid-list>
