<mat-card class="midbox loginbox">
  <mat-card-title>{{translated.BUTTONS.LOGIN}}</mat-card-title>
  <p class="subheading">{{translated.MESSAGES.SIGNIN}}</p>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
    <div class="input">
      <mat-form-field>
        <input matInput type="text" [placeholder]=translated.AUTH.USER formControlName=username required />
        <mat-error *ngIf="formValidation.username.errors">
          {{translated.AUTH.USERNAME_REQ}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="password">
      <mat-form-field>
        <input matInput type="password" [placeholder]=translated.AUTH.PASSWORD formControlName=password required />
        <mat-error *ngIf="formValidation.password.errors">
          {{translated.AUTH.PASSWORD_REQ}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="button">
      <button mat-raised-button [disabled]="loading" type="submit" color="primary">{{translated.BUTTONS.LOGIN}}</button>
      <img *ngIf="loading" [src]=translated.MESSAGES.LOADING_URL />

      <span class="or">{{translated.MESSAGES.OR}}</span>
      <button mat-raised-button routerLink="/signup" [disabled]="loading">{{translated.BUTTONS.REGISTER}}</button>
    </div>
    <div class="link">
      <a routerLink="/forgotPassword">{{translated.BUTTONS.FORGOTPASSWORD}}</a>
    </div>
  </form>
</mat-card>