<div class="topnav">
  <a routerLink="">How it works</a>
  <a routerLink="">Customer reviews</a>
  <a routerLink="">Feedback</a>
  <a routerLink="">Contact</a>
  <button custom-btn btn-primary mat-button (click)="logoutUser()" [disabled]="logoutDisable">Logout</button>
</div>
<div class="legend-header">
  <mat-card-title class="mat-dialog-title mdc-typography">{{helperService.translated.MESSAGES.SAFETYBEAT_PRICING}}
  </mat-card-title>
  <p class="subheading">{{helperService.translated.MESSAGES.PRICING_TAGLINE}}</p>
</div>
<div class="paddingbox packages-wrapper">
  <mat-grid-list cols="3" rowHeight="530px" gutterSize="20">
    <mat-grid-tile class="package-box" *ngFor="let package of packages">
      <h4 class="package-label">{{package.package.packageName}}</h4>
      <h1 class="package-price">{{package.package.cost|currency:'USD'}} <span>/ month</span></h1>
      <p>{{helperService.translated.STRINGS.PACKAGE_DESCRIPTION_1}}</p>
      <mat-list class="package-features" role="list">
        <mat-list-item role="listitem" *ngFor="let feature of package.features">{{feature.name}}
          <mat-icon color="primary" *ngIf="feature.featureExist">done</mat-icon>
          <mat-icon color="warn" *ngIf="!feature.featureExist">clear</mat-icon>
        </mat-list-item>
      </mat-list>
      <a (click)=" updatePackage(package.package.id)" mat-raised-button custom-btn btn-primary
        class="package-button">Get
        Started</a>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<!-- Call to action -->
<div class="call-to-action">
  <h1>{{helperService.translated.MESSAGES.CALLTOACTION_TITLE}}</h1>
  <p>{{helperService.translated.MESSAGES.CALLTOACTION_DESCRIPTION}}</p>
  <a routerLink="#">
    <mat-icon>keyboard_arrow_right</mat-icon>
    Learn More
  </a>
</div>
<!-- /Call to action -->