<div class="paddingbox">
  <div class="page-title">
    <h3>{{ translated.SITETITLE.SITE_CENTRE }}</h3>
    <p>{{ translated.SITETITLE.SITE_CENTRE_DESCRIPTION }}</p>
  </div>
  <mat-progress-bar mode="indeterminate" *ngIf='empty'></mat-progress-bar>
  <div class="buttonRow">
    <button btn-primary mat-raised-button color="primary" (click)="joinEntity()">
      <mat-icon>{{ appIcons.createEntity }}</mat-icon>
      {{ translated.BUTTONS.ADD_SITE }}
    </button>
  </div>
  <table mat-table [dataSource]="dataSource" class="customTable mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>
        {{ translated.TABLEHEADINGS.SITE_NAME }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.site.name }}</td> 
    </ng-container>

    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef>
        {{ translated.TABLEHEADINGS.SITE_ADDRESS }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.site.location }}</td>
    </ng-container>

    <ng-container matColumnDef="safeZone">
      <th mat-header-cell *matHeaderCellDef>
        {{ translated.TABLEHEADINGS.SITE_SAFE_ZONE }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.site.safeZone }}</td>
    </ng-container>

    <ng-container matColumnDef="createdBy">
      <th mat-header-cell *matHeaderCellDef>
        {{ translated.TABLEHEADINGS.SITE_CREATED_BY }}
      </th>
      <td mat-cell *matCellDef="let element"><strong>{{ element.createdBy.username }} </strong><br>
        {{ element.createdBy.email }} </td>
    </ng-container>

    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef>
        {{ translated.TABLEHEADINGS.ACTIONS }}
      </th>
      <td mat-cell *matCellDef="let element">
        <button class="btn-table" btn-primary mat-raised-button color="primary" mat-button [matMenuTriggerFor]="menu">
          <mat-icon style="padding-right:0;">keyboard_arrow_down</mat-icon>
          Actions
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="entityCode(element.entityInfo.code, element.entityInfo.name)">
            <mat-icon>{{ appIcons.edit }}</mat-icon>Edit Site
          </button>
          <button mat-menu-item>
            <mat-icon>{{ appIcons.folderShared }}</mat-icon>View Site
          </button>
          <button mat-menu-item>
            <mat-icon>{{ appIcons.groupAdd }}</mat-icon>Site Question Control
          </button>
          <button mat-menu-item>
            <mat-icon>{{ appIcons.payment }}</mat-icon>Log
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
