@mixin amte-addsite-modal($primary, $accent, $warn) {
  :host,
  app-addsitemodal {
    .multiple-inputs {
      mat-form-field {
        width: 48%;
        margin: 1%;
      }
    }
    .site-map {
      width: 100%;
      height: 100%;
      margin-bottom: 10px;
    }
    .flexbox {
      mat-card {
        width: 100%;
      }
    }
    .mat-dialog-content,
    .mat-dialog-title {
      width: auto;
    }
  }
}
