@mixin amte-profile($primary, $accent, $warn) {
  :host,
  app-profile {
    position: relative;
    height: $fullValue;
    .not-checked {
      color: mat-color($warn-pallete, 500);
    }
    .viewsite {
      color: mat-color($primary);
      mat-icon {
        font-size: 18px;
        height: auto;
        width: auto;
        position: relative;
        top: 4px;
      }
    }
    .field-inline {
      mat-form-field {
        margin: 0 10px 0 0;
        width: 130px;
      }
      button {
        margin-bottom: 10px;
      }
    }
    .calendar-actions {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding-top: 10px;
      & > div {
        width: 100%;
      }
      button {
        padding: 0;
      }
      .mat-button-toggle {
        .mat-button-toggle-label-content {
          line-height: 30px;
        }
      }
    }
    mat-grid-list {
      //height: calc(100vh - 184px);
      min-height: 400px;
    }
    mat-card-title {
      font-size: 18px;
    }
    .mat-list-item-content {
      padding: 0 !important;
    }
    .navigator {
      width: 100%;
      .mat-list {
        padding-top: 0;
      }

      mat-list-item {
        font-size: 14px;
        cursor: pointer;
        mat-icon {
          font-size: 20px;
          margin-right: 10px;
        }
        span {
          cursor: pointer;
          font-size: 12px;
          display: flex;
          align-items: center;
        }
      }
    }
    .tab-switcher {
      text-indent: 10px;
      &.active {
        background: mat-color($primary);
        color: #fff;
        mat-icon {
          color: #fff;
        }
      }
    }
    .pagehead {
      height: auto !important;
      padding: 10px 16px !important;
      .user-avatar {
        width: 100px;
        position: relative;
        overflow: hidden;
        border-radius: $fullValue;
        height: 100px;
        img {
          max-width: $fullValue;
          border-radius: 100px;
          overflow: hidden;
          position: absolute;
          @include midBlock;
        }
        .change-avatar {
          @include midBlock;
          background: rgba(0, 0, 0, 0.6);
          z-index: 0;
          font-size: 12px;
          color: #fff;
          height: $fullValue;
          width: $fullValue;
          display: flex;
          white-space: normal;
          text-align: center;
          align-items: center;
          justify-content: center;
          line-height: 1.5;
          opacity: 0;
          visibility: hidden;
          cursor: pointer;
          input {
            opacity: 0;
            width: $fullValue;
            position: absolute;
            height: $fullValue;
            cursor: pointer;
          }
        }
        &:hover .change-avatar {
          opacity: 1;
          visibility: visible;
        }
      }
      .user-info {
        padding: 0 30px;
        width: $fullValue;
        text-transform: capitalize;
        p {
          margin: 0;
          font-size: 14px;
        }
      }
      .data-counts {
        display: flex;
        text-align: center;
        justify-content: center;
        .countbox {
          padding: 0 16px;
          &:nth-child(2) {
            border-left: 1px solid rgba(0, 0, 0, 0.2);
            border-right: 1px solid rgba(0, 0, 0, 0.2);
          }
          p {
            margin: 0;
          }
        }
      }
    }
    .mat-figure {
      align-items: baseline;
    }
    .dashboard-card {
      mat-list {
        padding-top: 0;
      }
      .mat-list-item {
        font-size: 14px;
      }
      tr.mat-row:last-child {
        td {
          border-bottom: 0;
        }
      }
      .mat-paginator-page-size {
        display: none;
      }
      .mat-paginator-container {
        min-height: auto;
      }
    }
    .mat-card {
      margin: 3px;
    }
    @media (max-width: 768px) {
      .dashboard-card[fullWidth] {
        width: auto !important;
      }
      .calendar-actions {
        flex-wrap: wrap;
        & > div {
          text-align: center;
        }
      }
    }
  }
}
