<div class="spinner-wrap" *ngIf="profileModel.loading">
    <mat-spinner [diameter]="helperService.constants.appConstant.spinnerConstant"></mat-spinner>
</div>
<mat-toolbar class="pagehead mat-elevation-z6">
    <div>
        <div class="user-avatar mat-elevation-z2">
            <div [class]="profileModel.loading ? 'preloading-wrap blur' : 'preloading-wrap'">
                <img src="{{ profileModel.profileImage != null ? profileModel.profileImage : helperService.appConstants.avatar}}"
                        (load)="onImageLoad()"/>
                <span class="change-avatar" *ngIf="profileModel.currentUserProfile">
        <input type='file' name="{{helperService.appConstants.profileImage}}"
               id="{{helperService.appConstants.profileImage}}" accept='image/*' (change)=uploadProfileImage($event)>
          {{ helperService.translated.STRINGS.CHANGEPICTURE }}</span>
            </div>
        </div>
    </div>
    <div class="user-info" *ngIf="profileModel.profileData">
        <h3 class="mat-body-strong" matTooltipPosition="after" matTooltip="{{profileModel.email}}"
            aria-label="Button that displays a tooltip when focused or hovered over">{{ profileModel.name }}
        </h3>
        <p>{{profileModel.role}} <strong>{{profileModel.entityName}}</strong></p>
    </div>
    <div class="data-counts">
        <div class="countbox">
            <h4 class="mat-display-1 mat-body-strong">{{profileModel.activitiesCount ? profileModel.activitiesCount :
                0}}</h4>
            <p class="mat-small">{{helperService.translated.MESSAGES.ACTIVITIESS}}</p>
        </div>
        <div class="countbox">
            <h4 class="mat-display-1 mat-body-strong">{{profileModel.connectionCount ? profileModel.connectionCount :
                0}}</h4>
            <p class="mat-small">{{helperService.translated.MESSAGES.CONNECTIONS}}</p>
        </div>
        <div class="countbox">
            <h4 class="mat-display-1 mat-body-strong">{{profileModel.leavesCount ? profileModel.leavesCount : 0}}</h4>
            <p class="mat-small">{{helperService.translated.MESSAGES.LEAVES}}</p>
        </div>
    </div>
</mat-toolbar>

<div class="paddingbox">
    <div class="grid-container">
        <mat-grid-list cols="3" rowHeight="fit" gutterSize="10px" class="dashboard-widgets">
            <mat-grid-tile class="overflow-unset" *ngFor="let card of cards | async" [colspan]="card.cols"
                           [rowspan]="card.rows">
                <mat-card class="dashboard-card" fullWidth *ngIf="card.title=='links'">
                    <div class="navigator">
                        <mat-list role="list">
                            <mat-list-item [ngClass]="profileFeatures.activities ? 'active' : ''"
                                           class="mat-body-strong tab-switcher" role="listitem" matRipple
                                           [matRippleColor]="red"
                                           (click)="onChangeFeatures('activities')">
                                <mat-icon color="primary">{{ helperService.appIcons.activities }}</mat-icon>
                                {{ helperService.translated.MESSAGES.ACTIVITIES }}
                            </mat-list-item>
                            <mat-list-item [ngClass]="profileFeatures.connections ? 'active' : ''"
                                           class="mat-body-strong tab-switcher" role="listitem" matRipple
                                           (click)="onChangeFeatures('connections')">
                                <mat-icon color="primary">{{helperService.appIcons.connections}}</mat-icon>
                                {{ helperService.translated.MESSAGES.CONNECTIONS }}
                            </mat-list-item>
                            <mat-list-item [ngClass]="profileFeatures.leaves ? 'active' : ''"
                                           class="mat-body-strong tab-switcher" role="listitem" matRipple
                                           (click)="onChangeFeatures('leaves')">
                                <mat-icon color="primary">{{helperService.appIcons.groupAdd}}</mat-icon>
                                {{ helperService.translated.MESSAGES.LEAVES }}
                            </mat-list-item>
                        </mat-list>
                    </div>
                </mat-card>

                <mat-card class="dashboard-card" fullWidth *ngIf="card.title=='accountInfo'">
                    <mat-card-title>{{ helperService.translated.SITETITLE.ACCOUNTINFO }}</mat-card-title>
                    <mat-list role="list">
                        <mat-list-item role="listitem">
                            <span class="mat-body-strong">{{helperService.translated.STRINGS.EMAIL + ' ' + profileModel.email}}</span>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item role="listitem">
              <span
                      class="mat-body-strong">{{helperService.translated.STRINGS.PHONENO + ': ' + profileModel.contactNo}}</span>
                        </mat-list-item>
                    </mat-list>
                </mat-card>

                <!-- for leaves insert content here -->
                <mat-card class="dashboard-card" fullWidth *ngIf="card.title=='userData'">
                    <mat-card-content *ngIf="profileFeatures.leaves">
                        <mat-card-title>{{ helperService.translated.SITETITLE.LEAVES }}
                            <button style="float:right;" mat-raised-button color="primary" class="addEvent"
                                    (click)="addLeaves()"
                                    *ngIf="profileModel.permissions.addLeaves"> Add
                                Leaves
                            </button>
                        </mat-card-title>
                        <p *ngIf="profileModel.userLeaves===null">No Leaves Found.</p>
                        <div class="row text-center calendar-actions">
                            <div class="btn-group text-left">
                                <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                                    <mat-button-toggle mat-button mwlCalendarPreviousView [view]="view"
                                                       [(viewDate)]="viewDate"
                                                       (viewDateChange)="closeOpenMonthViewDay()">Previous
                                    </mat-button-toggle>
                                    <mat-button-toggle mat-button mwlCalendarToday [(viewDate)]="viewDate">Today
                                    </mat-button-toggle>
                                    <mat-button-toggle mat-button mwlCalendarNextView [view]="view"
                                                       [(viewDate)]="viewDate"
                                                       [excludeDays]="excludeDays"
                                                       (viewDateChange)="closeOpenMonthViewDay()">Next
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                            <div class="text-center">
                                <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
                            </div>
                            <div class="btn-group text-right">

                                <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                                    <mat-button-toggle mat-button (click)="setView(CalendarView.Month)"
                                                       [class.active]="view === CalendarView.Month">
                                        Month
                                    </mat-button-toggle>
                                    <mat-button-toggle mat-button (click)="setView(CalendarView.Week)"
                                                       [class.active]="view === CalendarView.Week">
                                        Week
                                    </mat-button-toggle>
                                    <mat-button-toggle mat-button (click)="setView(CalendarView.Day)"
                                                       [class.active]="view === CalendarView.Day">
                                        Day
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>

                        <br/>
                        <div [ngSwitch]="view">
                            <mwl-calendar-month-view
                                    *ngSwitchCase="CalendarView.Month"
                                    [viewDate]="viewDate"
                                    [events]="profileModel.events"
                                    [activeDayIsOpen]="activeDayIsOpen"
                                    [refresh]="refresh"
                                    [excludeDays]="excludeDays"
                                    (dayClicked)="dayClicked($event.day)"
                                    (click)="selectDate()">
                            </mwl-calendar-month-view>
                            <mwl-calendar-week-view
                                    *ngSwitchCase="CalendarView.Week"
                                    [viewDate]="viewDate"
                                    [events]="profileModel.events"
                                    [excludeDays]="excludeDays"
                                    [refresh]="refresh"
                                    (click)="selectDate()">
                            </mwl-calendar-week-view>
                            <mwl-calendar-day-view
                                    *ngSwitchCase="CalendarView.Day"
                                    [viewDate]="viewDate"
                                    [events]="profileModel.events"
                                    [refresh]="refresh"
                                    (click)="selectDate()">
                            </mwl-calendar-day-view>
                        </div>
                    </mat-card-content>
                    <mat-card-content *ngIf="profileFeatures.activities">
                        <mat-card-title>Your Activities</mat-card-title>
                        <form [formGroup]="profileModel.filterForm"
                              (ngSubmit)=viewActivities(profileModel.filterForm,profileModel.firstIndex)
                              (keydown.enter)="$event.preventDefault()">
                            <div class="field-inline">
                                <mat-form-field appearance="outline">
                                    <input matInput [matDatepicker]="picker1"
                                           [formControlName]="helperService.appConstants.dateFrom"
                                           placeholder="Date From" readonly>
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                    <mat-error class="text-right" *ngIf="filterFormValidations.errors">
                    <span
                            *ngIf="filterFormValidations.dateFrom.errors.required">{{helperService.translated.AUTH.PASSWORD_REQ}}</span>
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field appearance="outline">
                                    <input matInput [matDatepicker]="picker2"
                                           [formControlName]="helperService.appConstants.dateTo"
                                           placeholder="Date To" readonly>
                                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                    <mat-datepicker #picker2></mat-datepicker>
                                    <mat-error class="text-right" *ngIf="filterFormValidations.errors">
                    <span
                            *ngIf="filterFormValidations.dateTo.errors.required">{{helperService.translated.AUTH.PASSWORD_REQ}}</span>
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field appearance="outline">
                                    <mat-label>{{helperService.translated.STRINGS.SELECT_FILTER}}</mat-label>
                                    <mat-select [(value)]="profileModel.selectedFilter"
                                                [formControlName]="helperService.appConstants.filter"
                                                (selectionChange)="filteredReport(profileModel.selectedFilter)">
                                        <mat-option *ngFor="let filter of profileModel.filters" [value]="filter.days">
                                            {{ filter.name }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error class="text-right" *ngIf="filterFormValidations.errors">
                    <span
                            *ngIf="filterFormValidations.filter.errors.required">{{helperService.translated.AUTH.PASSWORD_REQ}}</span>
                                    </mat-error>
                                </mat-form-field>
                                <button mat-raised-button custom-btn color="primary">
                                    {{helperService.translated.BUTTONS.SUBMIT}}
                                </button>
                            </div>
                        </form>
                        <div class="table-wrap">
                            <table mat-table [dataSource]="profileModel.dataSource" class="customTable">
                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef> Name</th>
                                    <td class="viewsite pointer" mat-cell *matCellDef="let element"
                                        (click)="viewSite(element.siteData)">
                                        {{element.siteData.name}}
                                        <mat-icon>{{helperService.appIcons.Launch}}</mat-icon>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="checkIn">
                                    <th mat-header-cell *matHeaderCellDef> Check-in</th>
                                    <td mat-cell *matCellDef="let element"> {{element.checkInCheckOut.checkedInAt |
                                        date:'medium'}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="checkOut">
                                    <th mat-header-cell *matHeaderCellDef> Check-Out</th>
                                    <td mat-cell *matCellDef="let element"
                                        [ngClass]="{'not-checked' : !element.checkInCheckOut.checkedOutAt}">
                                        {{element.checkInCheckOut.checkedOutAt ? (element.checkInCheckOut.checkedOutAt |
                                        date:'medium') : helperService.translated.MESSAGES.NOT_CHECKED_OUT}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="duration">
                                    <th mat-header-cell *matHeaderCellDef> Duration</th>
                                    <td mat-cell *matCellDef="let element"
                                        [ngClass]="{'not-checked' : !element.duration}"> {{element.duration ?
                                        element.duration : helperService.translated.MESSAGES.NOT_CHECKED_OUT}}
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="activitiesColumn"></tr>
                                <tr mat-row *matRowDef="let row; columns: activitiesColumn;"></tr>
                            </table>
                            <mat-card *ngIf="profileModel.recentActivities===null" class="text-center mat-elevation-z0">
                                {{helperService.translated.STRINGS.NO_ACTIVITIES}}
                            </mat-card>
                        </div>
                        <mat-paginator [pageSize]="profileModel.pageSize" [length]="profileModel.activitiesCount"
                                       (page)="viewActivities(profileModel.filterForm, paginator.pageIndex)"></mat-paginator>
                    </mat-card-content>

                    <!-- ================================================================================================= -->
                    <!-- for connections insert data here -->
                    <mat-card-content *ngIf="profileFeatures.connections">
                        <div class="table-wrap">
                            <mat-card-title>Your Connections</mat-card-title>
                            <table mat-table [dataSource]="profileModel.allConnectionsData" class="customTable">
                                <ng-container matColumnDef="img">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-icon>person</mat-icon>
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        <img class="table-img mat-elevation-z4"
                                             src="{{ element.profileImage != null ? element.profileImage : helperService.appConstants.avatar}}"/>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef>Name</th>
                                    <td mat-cell *matCellDef="let element"> {{element.name}}</td>
                                </ng-container>
                                <ng-container matColumnDef="email">
                                    <th mat-header-cell *matHeaderCellDef> Email</th>
                                    <td mat-cell *matCellDef="let element"> {{element.email}}</td>
                                </ng-container>
                                <ng-container matColumnDef="contact">
                                    <th mat-header-cell *matHeaderCellDef>{{helperService.translated.STRINGS.PHONENO}}
                                    </th>
                                    <td mat-cell *matCellDef="let element"> {{element.contact}}</td>
                                </ng-container>
                                <ng-container matColumnDef="remove_connection">
                                    <th mat-header-cell *matHeaderCellDef></th>
                                    <td mat-cell class="pointer" *matCellDef="let element"
                                        (click)="removeConnection(element.id)">
                                        <mat-icon>remove_circle_outline</mat-icon>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="connectionsColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: connectionsColumns;"></tr>
                            </table>
                            <mat-card *ngIf="profileModel.noConnection" class="text-center mat-elevation-z0">
                                {{helperService.translated.MESSAGES.NO_CONNECTIONS}}
                            </mat-card>
                        </div>
                        <mat-paginator [pageSize]="profileModel.pageSize" [length]="profileModel.connectionCount"
                                       (page)="getUserConnections(profileModel.userId, paginator.pageIndex)"></mat-paginator>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>
