<h3 class="setting-title">General Account Settings
  <button btn-primary mat-raised-button edit-btn color="primary" (click)="editGeneralForm()">
    <mat-icon>edit</mat-icon>
  </button>
</h3>
<form [formGroup]="generalObj.generalForm" class="settings-list"
      (ngSubmit)="updateGeneralInfo(generalObj.generalForm)">
  <mat-form-field role="listitem">
    <label>First Name</label>
    <input matInput type="text" formControlName="first_name" class="showonly" required/>
    <mat-error class="text-right" *ngIf="generalViewForm.first_name.errors">
      <span>Field is Required</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field role="listitem">
    <label>Last Name</label>
    <input matInput type="text" formControlName="last_name" class="showonly" required/>
    <mat-error class="text-right" *ngIf="generalViewForm.last_name.errors">
      <span>Field is Required</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field role="listitem">
    <label>Contact Number</label>
    <input matInput type="text" formControlName="contactNo" class="showonly" required/>
    <mat-error class="text-right" *ngIf="generalViewForm.contactNo.errors">
      <span>Field is Required</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field role="listitem">
    <label>Email</label>
    <input matInput type="text" formControlName="email" class="showonly" required/>
    <mat-error class="text-right" *ngIf="generalViewForm.email.errors">
      <span *ngIf="generalViewForm.email.errors.required">Field is Required</span>
      <span *ngIf="generalViewForm.email.errors.email">Enter Valid Email</span>
    </mat-error>
  </mat-form-field>
  <div class="btn-grp">
    <button type="submit" mat-raised-button *ngIf="generalObj.enabled" custom-btn btn-primary
            [disabled]="generalObj.generalForm.pristine || !generalObj.generalForm.valid">Save
    </button>
    <button type="button" mat-raised-button *ngIf="generalObj.enabled" (click)="cancelForm()" color="warn" custom-btn
            btn-danger> Cancel
    </button>
  </div>

</form>
