@mixin amte-general-settings($primary, $accent, $warn) {
  :host,
  app-general {
    .country-code {
      .code-input {
        position: relative;
        float: left;
        &:before {
          content: "+";
          display: block;
          position: absolute;
        }
        input {
          padding-right: 0;
          border-right: 0;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          width: 37px;
          padding-left: 10px;
          border-right: 1px solid rgba(0, 0, 0, 0.34);
        }
      }
      .number-input {
        width: 400px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        float: left;
        padding-left: 8px;
      }
    }
  }
}
