<h3 class="setting-title">General Account Settings</h3>
<mat-list role="list" class="settings-list">
  <mat-list-item role="listitem">
    <label>Name</label>
    <input matInput type="text" class="showonly" placeholder="BlueSky Software"/>
  </mat-list-item>
  <mat-list-item role="listitem">
    <label>City</label>
    <input matInput type="text" class="showonly" placeholder="Lahore"/>
  </mat-list-item>
  <mat-list-item role="listitem">
    <label>Country</label>
    <input matInput type="text" class="showonly" placeholder="Pakistan"/>
  </mat-list-item>
  <mat-list-item role="listitem">
    <label>Contact Number</label>
    <input matInput type="text" class="showonly" placeholder="+923157118511"/>
  </mat-list-item>
  <mat-list-item role="listitem">
    <label>Billing info</label>
    <input matInput type="text" class="showonly" placeholder="201, 2nd floor, Siddiq Trade Centre, Lahore"/>
  </mat-list-item>
</mat-list>
<div class="btn-grp">
  <button type="button" mat-raised-button routerLink="" custom-btn btn-primary>Save</button>
  <button type="button" mat-raised-button routerLink="" color="warn" custom-btn btn-danger> Cancel</button>
</div>
