<div class="paddingbox">
  <div class="page-title">
    <h3>{{ helperService.translated.SITETITLE.MEMBERCENTER_TITLE }}</h3>
  </div>
  <div class="buttonRow" *ngIf="memberCenter.currentRole">
    <button btn-primary mat-raised-button color="primary"
            *ngIf="memberCenter.currentRole===helperService.appConstants.roles.entityManager||memberCenter.currentRole===helperService.appConstants.roles.owner"
            (click)="inviteUser()">
      <mat-icon>{{ helperService.appIcons.createEntity }}</mat-icon>
      {{ helperService.translated.BUTTONS.INVITE_USER}}
    </button>
  </div>
  <table
    mat-table
    [dataSource]="memberCenter.dataSource"
    class="customTable mat-elevation-z8"
  >
    <ng-container matColumnDef="photos">
      <th mat-header-cell *matHeaderCellDef>
        <mat-icon>person</mat-icon>
      </th>
      <td mat-cell *matCellDef="let element">
        <img class="table-img"
             src="{{ element.profileImage  ? memberCenter.serverUrl+element.profileImage : helperService.appConstants.avatar}}"/>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>
        {{ helperService.translated.TABLEHEADINGS.NAME }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>
        {{ helperService.translated.TABLEHEADINGS.EMAIL }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <ng-container matColumnDef="contact">
      <th mat-header-cell *matHeaderCellDef>
        {{ helperService.translated.TABLEHEADINGS.CONTACT }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.contact }}</td>
    </ng-container>

    <ng-container matColumnDef="accessLevel">
      <th mat-header-cell *matHeaderCellDef>
        {{ helperService.translated.TABLEHEADINGS.ACCESS_LEVEL }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.accessLevel }}</td>
    </ng-container>

    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef>
        {{ helperService.translated.TABLEHEADINGS.ACTIONS }}
      </th>
      <td mat-cell *matCellDef="let element">&nbsp;
        <button
          *ngIf=" element.id !== memberCenter.userId"
          class="btn-table"
          btn-primary
          mat-raised-button
          color="primary"
          mat-button
          [matMenuTriggerFor]="menu"
        >
          <mat-icon style="padding-right:0;">keyboard_arrow_down</mat-icon>
          Actions
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item *ngIf="(memberCenter.currentRole  === helperService.appConstants.roles.owner) ||
          (memberCenter.currentRole  === helperService.appConstants.roles.entityManager)"
                  (click)="viewProfile(element)">
            <mat-icon>linear_scale</mat-icon>
            View Profile
          </button>
          <button mat-menu-item *ngIf="memberCenter.currentRole === helperService.appConstants.roles.owner ||
          (memberCenter.currentRole  === helperService.appConstants.roles.entityManager)"
                  (click)="connections(helperService.appConstants.connections.view)">
            <mat-icon>linear_scale</mat-icon>
            View Connections
          </button>
          <button
            *ngIf="!element.pendingConnection && !element.acceptedConnection "
            mat-menu-item
            (click)="connections(helperService.appConstants.connections.add, {'userId':element.id})">
            <mat-icon>linear_scale</mat-icon>
            Add Connections
          </button>

          <button *ngIf="element.pendingConnection && !element.acceptedConnection" mat-menu-item
                  (click)="connections(helperService.appConstants.connections.remove, {'userId':element.id})">
            <mat-icon>linear_scale</mat-icon>
            Cancel Request
          </button>

          <button *ngIf="element.acceptedConnection && !element.pendingConnection" mat-menu-item
                  (click)="connections(helperService.appConstants.connections.remove, {'userId':element.id})">
            <mat-icon>linear_scale</mat-icon>
            Remove Connections
          </button>
          <button mat-menu-item *ngIf="memberCenter.currentRole  === helperService.appConstants.roles.owner"
                  (click)="accessLevel()">
            <mat-icon>input</mat-icon>
            Change Access Level
          </button>
          <button mat-menu-item *ngIf="memberCenter.currentRole === helperService.appConstants.roles.owner"
                  (click)="element.status ? deactivateUsers(element.id) : activateUsers(element.id)">
            <mat-icon>remove_circle_outline</mat-icon>
            {{element.status ? 'Deactivate User' : 'Activate User'}}
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
