@mixin amte-removeConnections($primary, $accent, $warn) {
  :host,
  app-removeConnections {
    mat-list-item {
      height: auto !important;
      padding: 8px 0 !important;
      border-bottom: 1px solid #ddd;
      img {
        width: 40px;
        border-radius: 100px;
        margin-right: 10px;
      }
      label {
        font-weight: 600;
      }
    }
  }
}
