@mixin amte-forgot-password($primary, $accent, $warn) {
  app-forgot-password {
    mat-grid-list{
      height: calc(100% - 1px);
    }
    .mat-grid-tile {
      overflow: unset;
    }
    #particle-container {
      width: 100% !important;
      .particle:nth-child(even) {
        display: none;
      }
    }
    .loginbox {
      [btn-danger] {
        margin-left: 10px;
      }
    }
    .sideLegend {
      height: 100%;
      width: 100%;
      .legendContent {
        @include midBlock;
        padding: 50px;
        color: #fff;
        z-index: 3;
        h1 {
          font-size: 3em;
          margin: 0;
          font-weight: 500;
        }
        h3 {
          margin: 0;
          font-weight: 500;
        }
        p {
          line-height: 2;
          font-weight: 300;
          padding: 0 20px 0 0;
        }
        [custom-btn] {
          display: block;
          margin: 20px 0;
        }
      }
    }
  }
}
