@mixin amte-manageLeave($primary, $accent, $warn) {
  :host,
  app-manageLeave {
    .input-slim {
      .mat-form-field-wrapper {
        margin: 0;
        padding: 0;
      }
      .mat-form-field-infix {
        border-top-width: 6px;
        padding-top: 10px;
      }
      .mat-select-arrow-wrapper {
        transform: none;
      }
    }
    .form-group {
      margin-bottom: 20px;
    }
  }
}
