@mixin amte-manageLeave($primary, $accent, $warn) {
  :host,
  app-manageLeave {
    .data-filter {
      padding: 0 0 0 10px;
      top: 11px;
      position: relative;
      width: 160px;
      .input-wrap {
        display: flex;
        border: 1px solid #ddd;
        padding: 5px;
        border-radius: 4px;

        .search-input {
          border: 0;
          background: transparent;
          width: 100%;
          outline: 0 none;
        }
      }
    }
    .input-slim {
      .mat-form-field-wrapper {
        margin: 0;
        padding: 0;
      }
      .mat-form-field-infix {
        border-top-width: 6px;
        padding-top: 10px;
      }
      .mat-select-arrow-wrapper {
        transform: none;
      }
    }
    .form-group {
      margin-bottom: 20px;
    }
  }
}
