@mixin amte-common($primary, $accent, $warn) {
  [btn-primary]{
    background-color: mat-color($primary);
    color:#fff;
  }
  .midbox {
    border-color: mat-color($primary);
  }
  .monogram{
    background-color: mat-color($primary) !important;
  }
  mat-sidenav {
    background-color: mat-color($primary) !important;
  }
  .infoTitle:before{
    background: mat-color($primary);
  }
  .sideLegend {
    background-color: mat-color($primary) !important;
  }
  // Radio Button Coloring Start
  .mat-radio-button.mat-accent.mat-radio-checked {
    .mat-radio-outer-circle {
      border-color: mat-color($primary) !important;
    }
  }
  .mat-radio-checked {
    .mat-radio-inner-circle {
      background-color: mat-color($primary) !important;
    }
  }
  .mat-radio-button{
    .mat-ripple-element{
      background-color: mat-color($primary) !important;
    }
  }
  // Radio Button Coloring End
}
