@mixin amte-common($primary, $accent, $warn) {
  .midbox {
    border-color: mat-color($primary, 300);
  }
  .monogram {
    background-color: mat-color($primary) !important;
  }
  mat-sidenav {
    background-color: mat-color($primary, 600) !important;
  }
  .mat-tooltip {
    background: #000;
  }
  // Radio Button Coloring Start
  // .mat-radio-button.mat-accent.mat-radio-checked {
  //   .mat-radio-outer-circle {
  //     border-color: mat-color($primary, 400) !important;
  //   }
  // }
  // .mat-radio-checked {
  //   .mat-radio-inner-circle {
  //     background-color: mat-color($primary, 400) !important;
  //   }
  // }
  // .mat-radio-button {
  //   .mat-ripple-element {
  //     background-color: mat-color($primary, 400) !important;
  //   }
  // }
  // Radio Button Coloring End
}
//====================== All Variables ==========================//

$fullValue: 100%;
$centered: 0 auto;
$noPadding: 0;
//====================== All Mixins ==========================//
@mixin midBlock {
  margin: $centered;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
@mixin ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

}
@mixin clearSep {
  clear: both;
  display: block;
  width: $fullValue;
  height: 20px;
}
@mixin fabAction {
  width: 25px !important;
  height: 25px !important;
  .mat-button-wrapper {
    padding: 0;
  }
}
