@import "~@angular/material/theming";
@import "./common.scss";
@import "src/app/pages/loginRegistration/components/registration/registration.component.scss";
@import "src/app/pages/loginRegistration/components/login/login.component.scss";
@import "src/app/pages/loginRegistration/components/forgotPassword/forgotPassword.component.scss";
@import "src/app/pages/loginRegistration/components/passwordRecovery/passwordRecovery.component.scss";
@import "src/app/pages/loginRegistration/components/landing/landing.component.scss";
@import "src/app/Dialogs/verification/verification.component.scss";
@import "src/app/pages/navigation/components/fixedNav/fixedNav.component.scss";
@import "src/app/pages/navigation/components/navList/navList.component.scss";
@import "src/app/pages/navigation/components/navigation/navigation.component.scss";
@import "src/app/pages/navigation/components/notificationNav/notificationNav.component.scss";
@import "src/app/pages/profile/components/profile/profile.component.scss";
@import "src/app/pages/profile/components/user/user.component.scss";
@import "src/app/pages/settings/components/settingsMain/settings.component.scss";
@import "src/app/pages/settings/components/entitySetting/entitySetting.component.scss";
@import "src/app/pages/settings/components/organizationInfo/organizationInfo.component.scss";
@import "src/app/pages/settings/components/general/general.component.scss";
@import "src/app/pages/dashboard/components/dashboard/dashboard.component.scss";
@import "src/app/core/components/pageNotFound/pageNotFound.component.scss";
@import "src/app/pages/welcomeScreen/components/welcomeScreen/welcomeScreen.component.scss";
@import "src/app/pages/welcomeScreen/components/createEntity/createEntity.component.scss";
@import "src/app/common/toaster/toaster.component.scss";
@import "src/app/pages/adminControl/modules/entityControl/components/entityControl/entityControl.component.scss";
@import "src/app/pages/adminControl/modules/entityControl/dialogs/createEntityModal/createEntity.component.scss";
@import "src/app/pages/adminControl/modules/siteCenter/dialogs/addSiteModal/addSiteModal.component.scss";
@import "src/app/pages/adminControl/modules/siteCenter/components/viewSite/viewSite.component.scss";
@import "src/app/pages/adminControl/modules/entityControl/dialogs/entityCodeModal/entityCodeModal.component.scss";
@import "src/app/pages/adminControl/modules/siteCenter/dialogs/ImportSiteModal/ImportSiteModal.component.scss";
@import "src/app/pages/adminControl/modules/siteCenter/dialogs/addHazard/addHazard.component.scss";
@import "src/app/pages/adminControl/modules/hazardCenter/dialogs/hazardDetails/hazardDetails.component.scss";
@import "src/app/pages/adminControl/modules/hazardCenter/components/hazardCenter/hazardCenter.component.scss";
@import "src/app/pages/loginRegistration/components/packageDetails/packageDetails.component.scss";
@import "src/app/pages/adminControl/modules/memberCenter/components/memberCenter/memberCenter.component.scss";
@import "src/app/pages/adminControl/modules/questionCenter/components/questionCenter/questionCenter.component.scss";
@import "src/app/pages/adminControl/modules/questionCenter/dialogs/addQuestion/addQuestion.component.scss";
@import "src/app/pages/navigation/components/documents/documents.component.scss";
@import "src/app/pages/analyticsReport/components/actionReport/actionReport.component.scss";
@import "src/app/pages/analyticsReport/components/siteActivityReport/siteActivityReport.component.scss";
@import "src/app/pages/adminControl/modules/siteCenter/dialogs/siteMap/siteMap.component.scss";
@import "src/app/pages/adminControl/modules/myTeam/dialogs/viewTeam/viewTeam.component.scss";

@mixin amte-setTheme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  @include angular-material-theme($theme);
  @include amte-common($primary, $accent, $warn);
  @include amte-registration($primary, $accent, $warn);
  @include amte-login($primary, $accent, $warn);
  @include amte-forgot-password($primary, $accent, $warn);
  @include amte-app-landing($primary, $accent, $warn);
  @include amte-verification($primary, $accent, $warn);
  @include amte-fixed-nav($primary, $accent, $warn);
  @include amte-nav-list($primary, $accent, $warn);
  @include amte-navigation($primary, $accent, $warn);
  @include amte-notificationnav($primary, $accent, $warn);
  @include amte-profile($primary, $accent, $warn);
  @include amte-user($primary, $accent, $warn);
  @include amte-settings($primary, $accent, $warn);
  @include amte-entity-setting($primary, $accent, $warn);
  @include amte-organization-info($primary, $accent, $warn);
  @include amte-general-settings($primary, $accent, $warn);
  @include amte-dashboard($primary, $accent, $warn);
  @include amte-notfound($primary, $accent, $warn);
  @include amte-entityControl($primary, $accent, $warn);
  @include amte-passwordRecovery($primary, $accent, $warn);
  @include amte-entityCodeModal($primary, $accent, $warn);
  @include amte-createEntityModal($primary, $accent, $warn);
  @include amte-welcomeScreen($primary, $accent, $warn);
  @include amte-createEntity($primary, $accent, $warn);
  @include amte-addsite-modal($primary, $accent, $warn);
  @include amte-toaster($primary, $accent, $warn);
  @include amte-viewSite($primary, $accent, $warn);
  @include amte-org-registration-modal($primary, $accent, $warn);
  @include amte-ImportSiteModal($primary, $accent, $warn);
  @include amte-addHazard($primary, $accent, $warn);
  @include amte-hazard-details($primary, $accent, $warn);
  @include amte-hazardCenter($primary, $accent, $warn);
  @include amte-memberCenter($primary, $accent, $warn);
  @include amte-questionCenter($primary, $accent, $warn);
  @include amte-addQuestion($primary, $accent, $warn);
  @include amte-documents($primary, $accent, $warn);
  @include amte-action-report($primary, $accent, $warn);
  @include amte-siteActivityReport($primary, $accent, $warn);
  @include amte-site-map($primary, $accent, $warn);
  @include amte-viewTeam($primary, $accent, $warn);
}
