@import "~@angular/material/theming";
@import "./common.scss";
@import "~src/app/features/loginRegistration/components/registration/registration.component.scss";
@import "~src/app/features/loginRegistration/components/login/login.component.scss";
@import "~src/app/features/loginRegistration/components/forgotPassword/forgotPassword.component.scss";
@import "~src/app/features/loginRegistration/components/passwordRecovery/passwordRecovery.component.scss";
@import "~src/app/features/navigation/components/fixedNav/fixedNav.component.scss";
@import "~src/app/features/navigation/components/navList/navList.component.scss";
@import "~src/app/features/navigation/components/navigation/navigation.component.scss";
@import "~src/app/features/navigation/components/notificationNav/notificationNav.component.scss";
@import "~src/app/features/profile/components/profile/profile.component.scss";
@import "~src/app/features/profile/components/user/user.component.scss";
@import "~src/app/features/settings/components/settingsMain/settings.component.scss";
@import "~src/app/features/settings/components/entitySetting/entitySetting.component.scss";
@import "~src/app/features/settings/components/organizationInfo/organizationInfo.component.scss";
@import "~src/app/features/settings/components/general/general.component.scss";
@import "~src/app/features/adminControl/modules/dashboard/components/dashboard/dashboard.component.scss";
@import "../app/features/core/components/pageNotFound/pageNotFound.component.scss";
@import "~src/app/features/welcomeScreen/components/welcomeScreen/welcomeScreen.component.scss";
@import "~src/app/features/welcomeScreen/components/createEntity/createEntity.component.scss";
@import "../app/components/toaster/toaster.component.scss";
@import "~src/app/features/adminControl/modules/entityControl/components/entityControl/entityControl.component.scss";
@import "~src/app/features/adminControl/modules/documents/components/documents/documents.component.scss";
@import "~src/app/features/adminControl/modules/entityControl/dialogs/createEntityModal/createEntity.component.scss";
@import "~src/app/features/adminControl/modules/siteCenter/dialogs/addSiteModal/addSiteModal.component.scss";
@import "~src/app/features/adminControl/modules/siteCenter/components/viewSite/viewSite.component.scss";
@import "~src/app/features/adminControl/modules/entityControl/dialogs/entityCodeModal/entityCodeModal.component.scss";
@import "~src/app/features/adminControl/modules/siteCenter/dialogs/ImportSiteModal/ImportSiteModal.component.scss";
@import "~src/app/features/adminControl/modules/siteCenter/dialogs/addHazard/addHazard.component.scss";
@import "~src/app/features/adminControl/modules/hazardCenter/dialogs/hazardDetails/hazardDetails.component.scss";
@import "~src/app/features/adminControl/modules/hazardCenter/components/hazardCenter/hazardCenter.component.scss";
@import "~src/app/features/loginRegistration/components/packageDetails/packageDetails.component.scss";
@import "~src/app/features/adminControl/modules/memberCenter/components/memberCenter/memberCenter.component.scss";
@import "~src/app/features/adminControl/modules/questionCenter/components/questionCenter/questionCenter.component.scss";
@import "~src/app/features/adminControl/modules/questionCenter/dialogs/addQuestion/addQuestion.component.scss";
@import "~src/app/features/adminControl/modules/questionCenter/dialogs/createQuestion/createQuestion.component.scss";
@import "~src/app/features/adminControl/modules/documents/components/showFolderDocuments/showFolderDocuments.component.scss";
@import "~src/app/features/adminControl/modules/documents/dialogs/viewDoc/viewDoc.component.scss";
@import "~src/app/features/adminControl/modules/analyticsReport/components/actionReport/actionReport.component.scss";
@import "~src/app/features/adminControl/modules/analyticsReport/components/siteActivityReport/siteActivityReport.component.scss";
@import "~src/app/features/adminControl/modules/siteCenter/dialogs/siteMap/siteMap.component.scss";
@import "~src/app/features/adminControl/modules/myTeam/dialogs/viewTeam/viewTeam.component.scss";
@import "~src/app/features/adminControl/modules/siteCenter/components/siteCenter/siteCenter.component.scss";
@import "../app/dialogs/conformationModal/confirmationModal.component.scss";
@import "~src/app/features/adminControl/modules/myTeam/dialogs/registerTeam/registerTeam.component.scss";
@import "~src/app/features/adminControl/modules/siteCenter/dialogs/advanceSearch/advanceSearch.component.scss";
@import "~src/app/features/adminControl/modules/memberCenter/dialogs/changeAccessLevel/changeAccessLevel.component.scss";
@import "~src/app/features/adminControl/modules/documents/components/file/file.component.scss";
@import "~src/app/features/adminControl/modules/documents/components/showFolderDocuments/showFolderDocuments.component.scss";
@import "~src/app/features/loginRegistration/components/particleContainer/particleContainer.component.scss";
@import "../app/features/core/components/particleContainer/particleContainer2.component.scss";
@import "~src/app/features/adminControl/modules/siteCenter/dialogs/showSiteCode/showSiteCode.component.scss";
@import "~src/app/features/adminControl/modules/manageLeave/components/manageLeave/manageLeave.component.scss";
@import "~src/app/features/profile/dialogs/leaveinfo/leaveinfo.component.scss";
@import "~src/app/features/adminControl/modules/myTeam/components/myTeam/myTeam.component.scss";
@import "~src/app/features/profile/dialogs/addLeaves/addleaves.component.scss";
@import "~src/app/features/adminControl/modules/analyticsReport/components/checkinActivityReport/checkinActivityReport.component.scss";
@import "~src/app/features/adminControl/modules/analyticsReport/components/alertsPersonReport/alertsPersonReport.component.scss";
@import "~src/app/features/adminControl/modules/analyticsReport/components/actionAlertsReport/actionAlertsReport.component.scss";
@import "~src/app/features/adminControl/modules/analyticsReport/components/entityPulseReport/entityPulseReport.component.scss";
@import "~src/app/features/adminControl/modules/analyticsReport/components/compliantCheckoutReport/compliantCheckoutReport.component.scss";
@import "~src/app/features/adminControl/modules/analyticsReport/components/averageDailyActionsReport/averageDailyActionsReport.component.scss";
@import "~src/app/features/adminControl/modules/analyticsReport/components/hazardReport/hazardReport.component.scss";
@import "~src/app/features/loginRegistration/components/updateprofile/updateprofile.component.scss";
@import "~src/app/features/adminControl/modules/hazardCenter/dialogs/archived-hazards/archived-hazards.component.scss";
@import "~src/app/features/adminControl/modules/siteCenter/dialogs/archivedSites/archivedSites.component.scss";
@import "~src/app/features/adminControl/modules/myTeam/dialogs/archived-team/archived-team.component.scss";
@import "~src/app/features/adminControl/modules/entityControl/dialogs/archived-entity/archived-entity.component.scss";
@import "~src/app/features/adminControl/modules/entityControl/dialogs/checkInCategoryModal/checkInCategoryModal.component.scss";
@import "~src/app/features/adminControl/modules/entityControl/dialogs/pulseCategoyModal/pulseCategoyModal.component.scss";

@mixin amte-setTheme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  @include angular-material-theme($theme);
  @include amte-common($primary, $accent, $warn);
  @include amte-registration($primary, $accent, $warn);
  @include amte-login($primary, $accent, $warn);
  @include amte-forgot-password($primary, $accent, $warn);
  @include amte-fixed-nav($primary, $accent, $warn);
  @include amte-nav-list($primary, $accent, $warn);
  @include amte-navigation($primary, $accent, $warn);
  @include amte-notificationnav($primary, $accent, $warn);
  @include amte-profile($primary, $accent, $warn);
  @include amte-user($primary, $accent, $warn);
  @include amte-settings($primary, $accent, $warn);
  @include amte-entity-setting($primary, $accent, $warn);
  @include amte-organization-info($primary, $accent, $warn);
  @include amte-general-settings($primary, $accent, $warn);
  @include amte-dashboard($primary, $accent, $warn);
  @include amte-notfound($primary, $accent, $warn);
  @include amte-entityControl($primary, $accent, $warn);
  @include amte-passwordRecovery($primary, $accent, $warn);
  @include amte-entityCodeModal($primary, $accent, $warn);
  @include amte-createEntityModal($primary, $accent, $warn);
  @include amte-welcomeScreen($primary, $accent, $warn);
  @include amte-createEntity($primary, $accent, $warn);
  @include amte-addsite-modal($primary, $accent, $warn);
  @include amte-toaster($primary, $accent, $warn);
  @include amte-viewSite($primary, $accent, $warn);
  @include amte-org-registration-modal($primary, $accent, $warn);
  @include amte-ImportSiteModal($primary, $accent, $warn);
  @include amte-addHazard($primary, $accent, $warn);
  @include amte-hazard-details($primary, $accent, $warn);
  @include amte-hazardCenter($primary, $accent, $warn);
  @include amte-memberCenter($primary, $accent, $warn);
  @include amte-questionCenter($primary, $accent, $warn);
  @include amte-addQuestion($primary, $accent, $warn);
  @include amte-createQuestion($primary, $accent, $warn);
  @include amte-documents($primary, $accent, $warn);
  @include amte-viewDoc($primary, $accent, $warn);
  @include amte-action-report($primary, $accent, $warn);
  @include amte-siteActivityReport($primary, $accent, $warn);
  @include amte-site-map($primary, $accent, $warn);
  @include amte-viewTeam($primary, $accent, $warn);
  @include amte-siteCenter($primary, $accent, $warn);
  @include amte-confirmationModal($primary, $accent, $warn);
  @include amte-register-team($primary, $accent, $warn);
  @include amte-advanceSearch($primary, $accent, $warn);
  @include amte-changeAccessLevel($primary, $accent, $warn);
  @include amte-appfile($primary, $accent, $warn);
  @include amte-appfile($primary, $accent, $warn);
  @include amte-showDocuments($primary, $accent, $warn);
  @include amte-siteCodeModal($primary, $accent, $warn);
  @include amte-particle-container($primary, $accent, $warn);
  @include amte-particle2Container($primary, $accent, $warn);
  @include amte-leaveInfo($primary, $accent, $warn);
  @include amte-myTeam($primary, $accent, $warn);
  @include amte-manageLeave($primary, $accent, $warn);
  @include amte-addleaves($primary, $accent, $warn);
  @include amte-checkinActivityReport($primary, $accent, $warn);
  @include amte-alerts-person-report($primary, $accent, $warn);
  @include amte-actionAlertsReport($primary, $accent, $warn);
  @include amte-entityPulseReport($primary, $accent, $warn);
  @include amte-compliantCheckoutReport($primary, $accent, $warn);
  @include amte-averageDailyActionsReport($primary, $accent, $warn);
  @include amte-hazardReport($primary, $accent, $warn);
  @include amte-updateProfile($primary, $accent, $warn);
  @include amte-archivedHazards($primary, $accent, $warn);
  @include amte-archiveSites($primary, $accent, $warn);
  @include amte-archivedTeams($primary, $accent, $warn);
  @include app-archived-entity($primary, $accent, $warn);
  @include amte-app-check-in-category-modal($primary, $accent, $warn);
  @include amte-app-pulse-category-modal($primary, $accent, $warn);
}
