@mixin amte-hazard-details($primary, $accent, $warn) {
  :host,
  app-hazard-details {
    $boxShadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.2);
    $circle: 100px;
    .hazard-detail-grid {
      display: flex;
      flex-wrap: wrap;
      mat-card {
        width: 100%;
        box-shadow: none !important;
        border: 1px solid mat-color($primary-pallet, 50);
        flex: 1;
        margin: 3px;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        .mat-subheader {
          justify-content: center;
          margin: 0;
          padding: 3px 0 0;
          font-size: 12px;
          opacity: 0.5;
        }
        mat-icon {
          background-color: #fff;
          color: mat-color($primary-pallet, 500);
          padding-right: 5px;
          font-size: 18px;
          height: auto;
          width: auto;
        }
        p {
          margin: 5px 0;
          font-size: 14px;
          width: 100%;
        }
      }
    }
    .hazard-thumbnail {
      width: 130px;
      height: 130px;
      margin: 10px auto;
      overflow: hidden;
      border-radius: 100px;
      position: relative;
      img {
        // @include midBlock;
        // margin: $centered;
        z-index: 0;
      }
    }
  }
}
