@mixin amte-hazard-details($primary, $accent, $warn) {
  :host,
  app-hazard-details {
    $boxShadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.2);
    $circle: 100px;
    .hazard-detail-grid {
      display: flex;
      flex-wrap: wrap;
      mat-card {
        text-align: center;
        width: 100%;
        box-shadow: none !important;
        border: 1px solid mat-color($primary-pallet, 50);
        flex: 1;
        margin: 3px;
        .mat-subheader {
          justify-content: center;
          margin: 0;
          padding: 10px 0 0;
          font-size: 12px;
          opacity: 0.5;
        }
        mat-icon {
          box-shadow: $boxShadow;
          border-radius: $circle;
          padding: 5px;
          background-color: #fff;
          color: mat-color($primary-pallet, 500);
          width: 30px;
          height: 30px;
          line-height: 1.2;
          margin: 0 auto;
        }
        p {
          margin: 5px 0;
          font-size: 14px;
        }
      }
    }
    .hazard-thumbnail {
      max-width: 130px;
      margin: 10px auto;
      border-radius: $circle;
      position: relative;
      img {
        max-width: 100%;
        border-radius: $circle;
        box-shadow: $boxShadow;
      }
    }
  }
}
