<mat-card-title class="mat-dialog-title">
  Site Hazard Details
</mat-card-title>

<div mat-dialog-content>
  <form [formGroup]="hazardDetailForm"   >
    <div class="form-group">
      <div full-width>
        <mat-icon>{{helperService.appIcons.place}}</mat-icon>
        <strong>{{helperService.translated.STRINGS.SITE}}</strong>
        <p>{{data1.site.name}}</p>
      </div><hr>
      <div full-width>
        <mat-icon>{{helperService.appIcons.warning}}</mat-icon>
        <strong>{{helperService.translated.STRINGS.RISK}}</strong>
        <p>{{data1.risk.name}}</p>
      </div><hr>
      <div full-width>
        <mat-icon>{{helperService.appIcons.check_circle}}</mat-icon>
        <strong>{{helperService.translated.STRINGS.RESOLVED}}</strong>
        <p>{{data1.hazard.resolved}}</p>
      </div><hr>
      <div full-width>
        <mat-icon>{{helperService.appIcons.schedule}}</mat-icon>
        <strong>{{helperService.translated.STRINGS.DATE_TIME}}</strong>
        <p>{{data1.hazard.dateTime | date}}</p>
      </div><hr>
      <div full-width>
        <mat-icon>{{helperService.appIcons.person}}</mat-icon>
        <strong>{{helperService.translated.STRINGS.RESOLVED_BY}}</strong>
        <p>{{data1.hazard.resolvedBy}}</p>
      </div><hr>
      <div full-width>
        <mat-icon>{{helperService.appIcons.person}}</mat-icon>
        <strong>{{helperService.translated.STRINGS.ADDED_BY}}</strong>
        <p>{{data1.hazard.addedBy}}</p>
      </div><hr>
      <div full-width>
        <mat-icon>{{helperService.appIcons.description}}</mat-icon>
        <strong>{{helperService.translated.STRINGS.DESCRIPTION}}</strong>
        <p>{{data1.hazard.description}}</p>
      </div><hr>
    <mat-dialog-actions>
      <button mat-raised-button custom-btn btn-primary
              color="primary" mat-dialog-close>
        Done
      </button>

    </mat-dialog-actions>
    </div>
  </form>
</div>

