<mat-card-title class="mat-dialog-title">
  Site Hazard Details
</mat-card-title>

<div mat-dialog-content>
  <form [formGroup]="hazardDetailForm"   >
    <div class="form-group">
      <mat-form-field full-width>
        <input matInput type="text" placeholder="Risk"
               formControlName="risk" required />
<!--        <mat-error *ngIf="formValidation.siteName.errors">-->
<!--          <span-->
<!--            *ngIf="formValidation.siteName.errors.required">{{helperService.translated.MESSAGES.SITE_NAME_REQ}}</span>-->
<!--        </mat-error>-->
      </mat-form-field>
      <mat-form-field full-width>
        <input matInput type="text" placeholder="Resolved By"
               formControlName="resolvedBy" required />
<!--        <mat-error *ngIf="formValidation.siteSafetyPlan.errors">-->
<!--          <span-->
<!--            *ngIf="formValidation.siteSafetyPlan.errors.required">{{helperService.translated.MESSAGES.SAFETY_PLAN_REQ}}</span>-->
<!--        </mat-error>-->
      </mat-form-field>
      <mat-form-field full-width>
        <input matInput type="text" placeholder="Added By"
               formControlName="addedBy" required/>
<!--        <mat-error *ngIf="formValidation.siteAddress.errors">-->
<!--          <span-->
<!--            *ngIf="formValidation.siteAddress.errors.required">{{helperService.translated.MESSAGES.OFFICELOCATION_REQ}}</span>-->
<!--          <span-->
<!--            *ngIf="formValidation.siteAddress.errors.invalid">{{helperService.translated.MESSAGES.INVALIDADDRESS}}</span>-->
<!--        </mat-error>-->
      </mat-form-field>
    <mat-dialog-actions>
      <button mat-raised-button custom-btn btn-primary
              color="primary" >
        Done
      </button>
      <button mat-raised-button custom-btn btn-primary color="warn" mat-dialog-close>
        {{ helperService.translated.BUTTONS.CANCEL }}
      </button>

    </mat-dialog-actions>
    </div>
  </form>
</div>
