<mat-card-title class="mat-dialog-title mat-elevation-z6">{{helperService.translated.MESSAGES.INVITETEAMTITLE}}</mat-card-title>
<div mat-dialog-content>
  <mat-form-field appearance="outline" class="example-chip-list">
    <mat-label>{{helperService.translated.MESSAGES.INVITETEAMPLACEHOLDER}}</mat-label>
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let user of inviteTeamModel.users" [removable]="inviteTeamModel.removable"
        (removed)="remove(user)">
        {{user.first_name}}
        <mat-icon matChipRemove *ngIf="inviteTeamModel.removable">cancel</mat-icon>
      </mat-chip>
      <input #userInput [formControl]="inviteTeamModel.userCtrl" [matAutocomplete]="auto" [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="inviteTeamModel.separatorKeysCodes">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let user of inviteTeamModel.filteredUsers | async" [value]="user">
        {{user.first_name}}  {{user.last_name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-dialog-actions>
    <button class="mat-elevation-z1" mat-raised-button cdkFocusInitial custom-btn color="primary"
      [disabled]="inviteTeamModel.loading" (click)='inviteTeam()'>
      {{ helperService.translated.BUTTONS.INVITETEAM }}
      <div class="main-loader" *ngIf="inviteTeamModel.loading">
        <span class="loader1"></span>
        <span class="loader2"></span>
        <span class="loader3"></span>
      </div>
    </button>

    <!-- <img *ngIf="inviteTeamModel.loading" [src]=helperService.translated.MESSAGES.LOADING_URL /> -->
    <button mat-button mat-dialog-close (click)='onNoClick()'>
      {{ helperService.translated.BUTTONS.CANCEL }}
    </button>
  </mat-dialog-actions>
</div>
