<mat-card-title class="mat-dialog-title mat-elevation-z6">{{helperService.translated.MESSAGES.INVITETEAMTITLE}}
</mat-card-title>
<div mat-dialog-content>
    <div class="spinner-wrap" *ngIf="inviteTeamModel.loading">
        <mat-spinner [diameter]="helperService.constants.appConstant.spinnerConstantModal"></mat-spinner>
    </div>
    <mat-form-field appearance="outline" class="example-chip-list">
        <mat-label>{{helperService.translated.MESSAGES.INVITETEAMPLACEHOLDER}}</mat-label>
        <mat-chip-list #chipList>
            <mat-chip *ngFor="let user of inviteTeamModel.users" [removable]="inviteTeamModel.removable"
                      (removed)="remove(user)">
                {{user.name}}
                <mat-icon matChipRemove *ngIf="inviteTeamModel.removable">cancel</mat-icon>
            </mat-chip>
            <input #userInput [formControl]="inviteTeamModel.userCtrl" [matAutocomplete]="auto"
                   [matChipInputFor]="chipList"
                   [matChipInputSeparatorKeyCodes]="inviteTeamModel.separatorKeysCodes">
        </mat-chip-list>
      <mat-hint>Add users already added in member centre</mat-hint>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let user of inviteTeamModel.filteredUsers | async" [value]="user">
                {{user.name}} <{{user.email}}>
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <mat-dialog-actions>
        <button class="mat-elevation-z1" mat-raised-button cdkFocusInitial custom-btn btn-primary color="primary"
                [disabled]="inviteTeamModel.loading || !inviteTeamModel.users.length" (click)='inviteTeam()'>
            {{ helperService.translated.BUTTONS.INVITETEAM }}
        </button>

        <button mat-button mat-dialog-close (click)='onNoClick()'>
            {{ helperService.translated.BUTTONS.CANCEL }}
        </button>
    </mat-dialog-actions>
</div>
