@mixin amte-siteCenter($primary, $accent, $warn) {
  :host,
  app-siteCenter {
    position: relative;
    height: 100%;
    .safe-icon {
      color: #fff;
      border-radius: 100px;
      padding: 5px;
      &.safe {
        background-color: green;
      }
      &.unsafe {
        background-color: mat-color($warn);
      }
    }
  }
}
