@mixin amte-verification($primary, $accent, $warn) {
  :host,
  app-verification {
    display: block;
    #particle-container {
      width: 100%;
    }
    .loginbox {
      text-align: center;
      width: 50%;
      mat-card-title {
        margin-top: 60px;
      }
      .form-group {
        width: 100%;
      }
      [btn-danger] {
        margin-right: 10px;
      }
    }
    .monogram {
      top: -60px;
      transform: none;
      border: 3px solid #fff;
      box-shadow: 0px 6px 10px 2px #00000017;
    }
    .resend {
      font-size: 12px;
      display: block;
      padding: 20px;
    }
    .verification-form {
      /* Safari 4.0 - 8.0 */
      @-webkit-keyframes bgOp {
        0% {
          opacity: 0.5;
        }
        50% {
          opacity: 1;
        }
        100% {
          opacity: 0.5;
        }
      }

      /* Standard syntax */
      @keyframes bgOp {
        0% {
          opacity: 0.5;
        }
        50% {
          opacity: 1;
        }
        100% {
          opacity: 0.5;
        }
      }
      display: flex;
      input[type="text"],
      input[type="number"] {
        -webkit-animation: bgOp 2s infinite;
        animation: bgOp 2s infinite;
        width: 100%;
        background: rgba(255, 255, 255, 0.2);
        margin: 10px;
        border-radius: 100px;
        height: 40px;
        font-size: 20px;
        caret-color: #fff;
        &:nth-child(2) {
          animation-delay: 0.2s;
        }
        &:nth-child(3) {
          animation-delay: 0.4s;
        }
        &:nth-child(4) {
          animation-delay: 0.6s;
        }
        &:nth-child(5) {
          animation-delay: 0.8s;
        }
        &:nth-child(6) {
          animation-delay: 1s;
        }
      }
    }
  }
}
