<h1>We've got your email !</h1>
<p>
  We sent a 6-digit code to s.amjad@optergy.com. Enter it below to unlock your
  free trial of SafetyBeat
</p>
<form class="verification-form">
  <input class="ver-input"
    maxlength="1"
    type="text"
    matInput
    (keyup)="keyTab($event, test.value)"
    name="test"
    #test
  />
  <input class="ver-input"
    maxlength="1"
    type="text"
    matInput
    (keyup)="keyTab($event, test1.value)"
    name="test1"
    #test1
  />
  <input class="ver-input"
    maxlength="1"
    type="text"
    matInput
    (keyup)="keyTab($event, test2.value)"
    name="test2"
    #test2
  />
  <input class="ver-input"
    maxlength="1"
    maxlength="1"
    type="text"
    matInput
    (keyup)="keyTab($event, test3.value)"
    name="test3"
    #test3
  />
  <input class="ver-input"
    maxlength="1"
    type="text"
    matInput
    (keyup)="keyTab($event, test4.value)"
    name="test4"
    #test4
  />
  <input class="ver-input"
    maxlength="1"
    type="text"
    matInput
    (keyup)="keyTab($event, test5.value)"
    name="test5"
    #test5
  />
</form>
<span class="resend"
  >Didn't receive the code yet? <a href="#">Click here to send again.</a></span
>
