<mat-card-title class="mat-dialog-title">{{helperService.translated.MESSAGES.CHANGE_ACCESS_LEVEL}}</mat-card-title>
<div class="mat-dialog-content">
    <!--<mat-form-field appearance="outline" class="full-width">-->
    <!--<mat-label>{{helperService.translated.STRINGS.CHOOSE_ROLE}}</mat-label>-->
    <!--<mat-select>-->
    <!--<mat-option value="Paratha Role">User</mat-option>-->
    <!--<mat-option value="Cream Role">Entity Manager</mat-option>-->
    <!--<mat-option value="Chicken Role">Team Lead</mat-option>-->
    <!--<mat-option value="Rock Role">Site Safety Manager</mat-option>-->
    <!--</mat-select>-->
    <!--</mat-form-field>-->
    <!--<mat-form-field appearance="outline" class="full-width">-->
    <!--<mat-label>{{helperService.translated.STRINGS.SELECT_TEAM}}</mat-label>-->
    <!--<mat-select>-->
    <!--<mat-option value="Football Team">Team 1</mat-option>-->
    <!--<mat-option value="Cricket Team">Team 2</mat-option>-->
    <!--<mat-option value="SafetyBeat Team">Team 3</mat-option>-->
    <!--</mat-select>-->
    <!--</mat-form-field>-->
    <mat-tab-group>
        <mat-tab label="{{helperService.translated.BUTTONS.PERMISSIONS}}">
            <div class="permission-wrap">
                <mat-checkbox>Sites</mat-checkbox>
                <mat-card class="mat-elevation-z1">
                    <mat-checkbox>Can do this</mat-checkbox>&nbsp;&nbsp;
                    <mat-checkbox>Can do that</mat-checkbox>&nbsp;&nbsp;
                    <mat-checkbox>Can do this</mat-checkbox>&nbsp;&nbsp;
                    <mat-checkbox>Can do that</mat-checkbox>&nbsp;&nbsp;
                </mat-card>
            </div>

            <div class="permission-wrap">
                <mat-checkbox>Hazards</mat-checkbox>
                <mat-card class="mat-elevation-z1">
                    <mat-checkbox>Can do this</mat-checkbox>&nbsp;&nbsp;
                    <mat-checkbox>Can do that</mat-checkbox>&nbsp;&nbsp;
                    <mat-checkbox>Can do this</mat-checkbox>&nbsp;&nbsp;
                    <mat-checkbox>Can do that</mat-checkbox>&nbsp;&nbsp;
                </mat-card>
            </div>

            <div class="permission-wrap">
                <mat-checkbox>Access Level</mat-checkbox>
                <mat-card class="mat-elevation-z1">
                    <mat-checkbox>Can do this</mat-checkbox>&nbsp;&nbsp;<br>
                    <mat-checkbox>Can do that</mat-checkbox>&nbsp;&nbsp;<br>
                    <mat-checkbox>Can do this</mat-checkbox>&nbsp;&nbsp;<br>
                    <mat-checkbox>Can do that</mat-checkbox>&nbsp;&nbsp;
                </mat-card>
            </div>

            <div class="permission-wrap">
                <mat-checkbox>Permissions</mat-checkbox>
                <mat-card class="mat-elevation-z1">
                    <mat-checkbox>Can do this</mat-checkbox>&nbsp;&nbsp;<br>
                    <mat-checkbox>Can do that</mat-checkbox>&nbsp;&nbsp;<br>
                    <mat-checkbox>Can do this</mat-checkbox>&nbsp;&nbsp;<br>
                    <mat-checkbox>Can do that</mat-checkbox>&nbsp;&nbsp;
                </mat-card>
            </div>

            <div class="permission-wrap">
                <mat-checkbox>Entities</mat-checkbox>
                <mat-card class="mat-elevation-z1">
                    <mat-checkbox>Can do this</mat-checkbox>&nbsp;&nbsp;<br>
                    <mat-checkbox>Can do that</mat-checkbox>&nbsp;&nbsp;<br>
                    <mat-checkbox>Can do this</mat-checkbox>&nbsp;&nbsp;<br>
                    <mat-checkbox>Can do that</mat-checkbox>&nbsp;&nbsp;
                </mat-card>
            </div>

            <div class="permission-wrap">
                <mat-checkbox>Documents</mat-checkbox>
                <mat-card class="mat-elevation-z1">
                    <mat-checkbox>Can do this</mat-checkbox>&nbsp;&nbsp;<br>
                    <mat-checkbox>Can do that</mat-checkbox>&nbsp;&nbsp;<br>
                    <mat-checkbox>Can do this</mat-checkbox>&nbsp;&nbsp;<br>
                    <mat-checkbox>Can do that</mat-checkbox>&nbsp;&nbsp;
                </mat-card>
            </div>
        </mat-tab>
        <mat-tab label="{{helperService.translated.BUTTONS.REPORTS}}">
            <div class="permission-wrap">
                <mat-checkbox>Is main dekh lena kya kya add krna hai</mat-checkbox>
                <mat-card class="mat-elevation-z1">
                    <mat-checkbox>Can do this</mat-checkbox>&nbsp;&nbsp;<br>
                    <mat-checkbox>Can do that</mat-checkbox>&nbsp;&nbsp;<br>
                    <mat-checkbox>Can do this</mat-checkbox>&nbsp;&nbsp;<br>
                    <mat-checkbox>Can do that</mat-checkbox>&nbsp;&nbsp;
                </mat-card>
            </div>
            <div class="permission-wrap">
                <mat-checkbox>You got my point?</mat-checkbox>
                <mat-card class="mat-elevation-z1">
                    <mat-checkbox>Can do this</mat-checkbox>&nbsp;&nbsp;<br>
                    <mat-checkbox>Can do that</mat-checkbox>&nbsp;&nbsp;<br>
                    <mat-checkbox>Can do this</mat-checkbox>&nbsp;&nbsp;<br>
                    <mat-checkbox>Can do that</mat-checkbox>&nbsp;&nbsp;
                </mat-card>
            </div>
            <div class="permission-wrap">
                <mat-checkbox>She is dummy data</mat-checkbox>
                <mat-card class="mat-elevation-z1">
                    <mat-checkbox>Can do this</mat-checkbox>&nbsp;&nbsp;<br>
                    <mat-checkbox>Can do that</mat-checkbox>&nbsp;&nbsp;<br>
                    <mat-checkbox>Can do this</mat-checkbox>&nbsp;&nbsp;<br>
                    <mat-checkbox>Can do that</mat-checkbox>&nbsp;&nbsp;
                </mat-card>
            </div>
            <div class="permission-wrap">
                <mat-checkbox>Good night</mat-checkbox>
                <mat-card class="mat-elevation-z1">
                    <mat-checkbox>Can do this</mat-checkbox>&nbsp;&nbsp;<br>
                    <mat-checkbox>Can do that</mat-checkbox>&nbsp;&nbsp;<br>
                    <mat-checkbox>Can do this</mat-checkbox>&nbsp;&nbsp;<br>
                    <mat-checkbox>Can do that</mat-checkbox>&nbsp;&nbsp;
                </mat-card>
            </div>
            <div class="permission-wrap">
                <mat-checkbox>Dummy data</mat-checkbox>
                <mat-card class="mat-elevation-z1">
                    <mat-checkbox>Can do this</mat-checkbox>&nbsp;&nbsp;<br>
                    <mat-checkbox>Can do that</mat-checkbox>&nbsp;&nbsp;<br>
                    <mat-checkbox>Can do this</mat-checkbox>&nbsp;&nbsp;<br>
                    <mat-checkbox>Can do that</mat-checkbox>&nbsp;&nbsp;
                </mat-card>
            </div>
            <div class="permission-wrap">
                <mat-checkbox>Lots of reports</mat-checkbox>
                <mat-card class="mat-elevation-z1">
                    <mat-checkbox>Can do this</mat-checkbox>&nbsp;&nbsp;<br>
                    <mat-checkbox>Can do that</mat-checkbox>&nbsp;&nbsp;<br>
                    <mat-checkbox>Can do this</mat-checkbox>&nbsp;&nbsp;<br>
                    <mat-checkbox>Can do that</mat-checkbox>&nbsp;&nbsp;
                </mat-card>
            </div>
        </mat-tab>
    </mat-tab-group>
    <mat-dialog-actions>
        <button class="mat-elevation-z1" mat-raised-button cdkFocusInitial custom-btn btn-primary
                color="primary">{{helperService.translated.BUTTONS.SAVE}}
        </button>
        <button mat-button mat-dialog-close>{{helperService.translated.BUTTONS.CANCEL}}</button>
    </mat-dialog-actions>
</div>