<mat-card class="midbox loginbox">
  <mat-card-title>Login</mat-card-title>
  <p class="subheading">You need to sign in to get access</p>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="input">
      <mat-form-field>
        <input matInput type="text" placeholder="User Name/Email" formControlName="username" required />
        <mat-error *ngIf="submitted && f.username.errors">
          Username is required.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="password">
      <mat-form-field>
        <input matInput type="password" placeholder="Password" formControlName="password" required />
        <mat-error *ngIf="submitted && f.password.errors">
          Password is required.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="button">
      <button mat-raised-button [disabled]="loading" color="primary">Login</button>
      <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />

      <span class="or">OR</span>
      <button mat-raised-button routerLink="/signup">Sign Up</button>
    </div>
    <div class="link">
      <a routerLink="/forgotPassword">Forgot Password?</a>
    </div>
  </form>
</mat-card>