<h3 class="setting-title">Entity Setting
  <button btn-primary mat-raised-button edit-btn color="primary" (click)="editEntity()">
    <mat-icon>edit</mat-icon>
  </button>
</h3>

<form class="profile-form" [formGroup]="entitySettingObj.entityForm"
  (ngSubmit)="updateEntity(entitySettingObj.entityForm)">
  <mat-list role="list">
    <div class="form-group">
      <mat-list-item role="listitem">
        <label>{{ helperService.translated.TABLEHEADINGS.NAME }} </label>
        <input matInput type="text" formControlName="{{ helperService.appConstants.name }}" required />
      </mat-list-item>
      <mat-error class="text-right" *ngIf="entityFormValidations.errors">
        <span *ngIf="entityFormValidations.name.errors.required">{{helperService.translated.AUTH.PASSWORD_REQ}}</span>
      </mat-error>
    </div>
    <div class="form-group">
      <mat-list-item role="listitem">
        <label>Entity Code</label>
        <input matInput type="text" formControlName="{{ helperService.appConstants.code }}" required />
      </mat-list-item>
    </div>
    <div class="form-group" *ngIf="entitySettingObj.allUsersList">
      <mat-list-item role="listitem">
        <label>What is this?</label>
        <mat-select [(value)]="entitySettingObj.entityManagedBy.id"
          [formControlName]="helperService.appConstants.managedBy" required>
          <mat-option *ngFor="let user of entitySettingObj.allUsersList" [value]="user.id">
            {{user.username}}
          </mat-option>
        </mat-select>
      </mat-list-item>
    </div>
    <div class="form-group">
      <mat-list-item role="listitem">
        <label>{{ helperService.translated.TABLEHEADINGS.ENTITY_HEADOFFICE }}</label>
        <input matInput type="text" appGooglePlaces formControlName="{{ helperService.appConstants.headOffice }}"
          (onSelect)="helperService.setAddress($event,gMapElement,entityFormValidations.headOffice)"
          (keyup)="helperService.setFalse($event)" required />
      </mat-list-item>
    </div>
    <mat-card>
      <div #gmap class="site-map"></div>
    </mat-card>
  </mat-list>
  <div *ngIf="entitySettingObj.disabled" class="btn-grp">
    <button mat-raised-button custom-btn btn-danger color="primary" type="submit"
      [disabled]="entitySettingObj.entityForm.pristine">
      <mat-icon>{{ helperService.appIcons.save }}</mat-icon>
      {{ helperService.translated.BUTTONS.SAVE }}
    </button>
    <button mat-raised-button color="warn" type="button" (click)="cancelEditEntity()">
      {{helperService.translated.BUTTONS.CANCEL}}
    </button>
  </div>
</form>