@mixin amte-registration($primary, $accent, $warn) {
  :host,
  app-registration {
    .mat-step-icon {
      display: none;
    }
    .loginbox {
      a {
        color: mat-color($primary) !important;
      }
      [full-width] {
        width: 90% !important;
      }
      mat-step-header {
        .mat-step-label-active {
          color: mat-color($primary);
          mat-icon {
            border: 2px solid mat-color($primary);
            background-color: mat-color($primary);
            color: #fff;
          }
        }
        padding: 20px 10px;
        mat-icon {
          border: 2px dashed mat-color($primary);
          color: mat-color($primary);
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          margin: 14px auto 0;
          padding: 7px;
          border-radius: 100px;
        }
        .mat-step-label {
          margin: 30px 0 0;
        }
        &:hover {
          background-color: inherit !important;
        }
      }
    }
    #particle-container {
      width: 100%;
    }
    .loginbox {
      text-align: center;
      width: 50%;
      mat-card-title {
        margin-top: 60px;
      }
      .form-group {
        width: 100%;
      }
      [btn-danger] {
        margin-right: 10px;
      }
      .mat-horizontal-content-container {
        padding: 0;
      }
    }
    .mat-step-icon-content {
      display: none !important;
    }
    .mat-card {
      box-shadow: none;
    }
    [backtologin] {
      display: inline-block;
      text-decoration: none;
      padding: 20px 0 0;
    }
    .monogram {
      top: -60px;
      transform: none;
      border: 5px solid #fff;
      box-shadow: 0px 6px 10px 2px #00000017;
      background-color: mat-color($primary, 500);
    }
    .legend-title {
      border-color: mat-color($primary, 100);
      &:before,
      &:after {
        background-color: mat-color($primary, 100);
      }
    }
    .package-selectors {
      .mat-radio-button {
        background-color: mat-color($primary, 50);
        &.mat-radio-checked {
          &:before {
            background-color: mat-color($primary);
          }
          * {
            color: #fff;
          }
        }
        .radio-data {
          h3 {
            background: #fff;
            padding: 3px 10px;
            border-radius: 100px;
            color: mat-color($primary);
            font-size: 14px;
          }
        }
      }
    }
  }
}
