<mat-nav-list *ngFor="let link of navLinks">
  <mat-list-item mat-button *ngIf="link.disabled" [routerLink]="link.route" routerLinkActive="active">
    <a class="nav-link" (click)="customActions(link.displayName)">{{link.displayName}}</a>
  </mat-list-item>
</mat-nav-list>
<mat-nav-list class="bottom">
  <mat-list-item *ngFor="let link of navLinksBottom" mat-button [routerLink]="link.route" routerLinkActive="active">
    <a class="nav-link">{{ link.displayName }}</a>
  </mat-list-item>
</mat-nav-list>
