@mixin amte-nav-list($primary, $accent, $warn) {
  :host,
  app-nav-list {
    .nav-link {
      display: flex;
      align-items: center;
    }
    mat-nav-list.bottom {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
    }
    mat-nav-list:last-child {
      margin-top: 10em !important;
    }
    mat-list-item {
      .nav-link {
        .mat-icon {
          position: absolute;
          right: 0;
        }
      }
      &:hover {
        background: rgba(255, 255, 255, 0.07) !important;
      }
    }
  }
}
