<mat-card-title class="mat-dialog-title">
    {{helperService.translated.MESSAGES.SITE_HAZARD_DETAIL}}
</mat-card-title>
<div mat-dialog-content>
    <div [formGroup]="hazardDetailForm">
        <div (click)="imageView()" class="hazard-thumbnail mat-elevation-z6">
            <img src="{{ hazardInfo.image ? hazardInfo.image : helperService.appConstants.noHazard}}">
        </div>
        <div class="hazard-detail-grid">
            <mat-card>
                <mat-icon mat-list-icon>{{helperService.appIcons.place}}</mat-icon>
                <h4 mat-subheader class="m-0 mat-small">{{helperService.translated.STRINGS.SITE}}</h4>
                <p mat-line> {{hazardInfo.site.name}} </p>
            </mat-card>
            <mat-card>
                <mat-icon mat-list-icon>{{helperService.appIcons.warning}}</mat-icon>
                <h4 mat-subheader class="m-0 mat-small">{{helperService.translated.STRINGS.RISK}}</h4>
                <p mat-line>{{hazardInfo.risk.name}}</p>
            </mat-card>
            <mat-card>
                <mat-icon mat-list-icon>{{helperService.appIcons.check_circle}}</mat-icon>
                <h4 mat-subheader class="m-0 mat-small">{{helperService.translated.STRINGS.RESOLVED}}</h4>
                <p mat-line>{{hazardInfo.resolved}}</p>
            </mat-card>
        </div>
        <div class="hazard-detail-grid">
            <mat-card>
                <mat-icon mat-list-icon>{{helperService.appIcons.schedule}}</mat-icon>
                <h4 mat-subheader class="m-0 mat-small">{{helperService.translated.STRINGS.DATE_TIME}}</h4>
                <p mat-line>{{hazardInfo.dateTime | date}}</p>
            </mat-card>
            <mat-card>
                <mat-icon mat-list-icon>{{helperService.appIcons.person}}</mat-icon>
                <h4 mat-subheader class="m-0 mat-small">{{helperService.translated.STRINGS.RESOLVED_BY}}</h4>
                <p mat-line *ngIf="hazardInfo.resolvedBy">{{hazardInfo.resolvedBy.first_name}}
                    {{hazardInfo.resolvedBy.last_name}}</p>
                <p mat-line *ngIf="!hazardInfo.resolvedBy"> Not Resolved </p>
            </mat-card>
            <mat-card>
                <mat-icon mat-list-icon>{{helperService.appIcons.person}}</mat-icon>
                <h4 mat-subheader class="m-0 mat-small">{{helperService.translated.STRINGS.ADDED_BY}}</h4>
                <p mat-line>{{hazardInfo.addedBy.first_name}} {{hazardInfo.addedBy.last_name}}</p>
            </mat-card>
        </div>
        <div class="hazard-detail-grid">
            <mat-card>
                <mat-icon mat-list-icon>{{helperService.appIcons.description}}</mat-icon>
                <h4 mat-subheader class="m-0 mat-small">{{helperService.translated.STRINGS.DESCRIPTION}}</h4>
                <p mat-line>{{hazardInfo.description}}</p>
            </mat-card>
        </div>
    </div>
</div>
<mat-dialog-actions>
    <button mat-raised-button custom-btn btn-primary color="primary" mat-dialog-close>OK</button>
</mat-dialog-actions>
