<mat-progress-bar mode="indeterminate" *ngIf="entityControl.displayLoader"></mat-progress-bar>
<div class="paddingbox">
  <div class="page-title">
    <h3>{{ helperService.translated.SITETITLE.ENTITYCONTROL_TITLE }}</h3>
    <p>{{ helperService.translated.SITETITLE.ENTITYCONTROL_DESCRIPTION }}</p>
  </div>
  <div class="buttonRow">
    <button btn-primary mat-raised-button color="primary" *ngIf="entityControl.joinOption" (click)="joinEntity()">
      <mat-icon>{{ helperService.appIcons.joinEntity }}</mat-icon>
      {{ helperService.translated.BUTTONS.JOIN_ENTITY }}
    </button>
    <button btn-primary mat-raised-button color="primary" *ngIf="entityControl.createEntityOption"
            (click)="createEntity()">
      <mat-icon>{{ helperService.appIcons.createEntity }}</mat-icon>
      {{ helperService.translated.BUTTONS.CREATE_ENTITY }}
    </button>
  </div>
  <table mat-table [dataSource]="entityControl.dataSource" class="customTable mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>
        {{ helperService.translated.TABLEHEADINGS.ENTITY_NAME }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.entityInfo.name }}</td>
    </ng-container>

    <ng-container matColumnDef="headOffice">
      <th mat-header-cell *matHeaderCellDef>
        {{ helperService.translated.TABLEHEADINGS.ENTITY_HEADOFFICE }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.entityInfo.headOffice }}</td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef>
        {{ helperService.translated.TABLEHEADINGS.ACCESS_LEVEL }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.role }}</td>
    </ng-container>

    <ng-container matColumnDef="administrator">
      <th mat-header-cell *matHeaderCellDef>
        {{ helperService.translated.TABLEHEADINGS.ADMINISTRATED_BY }}
      </th>
      <td mat-cell *matCellDef="let element"><strong>{{ element.administrator.username }} </strong><br>
        {{ element.administrator.email }}</td>
    </ng-container>

    <ng-container matColumnDef="managedBy">
      <th mat-header-cell *matHeaderCellDef>
        {{ helperService.translated.TABLEHEADINGS.MANAGED_BY }}
      </th>
      <td mat-cell *matCellDef="let element"><strong>{{ element.managedBy.username }} </strong><br>
        {{ element.managedBy.email }}</td>
    </ng-container>

    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef>
        {{ helperService.translated.TABLEHEADINGS.ACTIONS }}
      </th>
      <td mat-cell *matCellDef="let element">
        <button class="btn-table" btn-primary mat-raised-button color="primary" mat-button [matMenuTriggerFor]="menu">
          <mat-icon style="padding-right:0;">keyboard_arrow_down</mat-icon>
          Actions
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="entityCode(element.entityInfo.code, element.entityInfo.name)">
            <mat-icon>{{ helperService.appIcons.fingerPrint }}</mat-icon>
            Entity Code
          </button>
          <button mat-menu-item *ngIf="entityControl.joinOption" (click)='inviteTeam(element)'>
            <mat-icon>{{ helperService.appIcons.folderShared }}</mat-icon>
            Invite Team
          </button>
          <button mat-menu-item>
            <mat-icon>{{ helperService.appIcons.groupAdd }}</mat-icon>
            Register Team
          </button>
          <button mat-menu-item>
            <mat-icon>{{ helperService.appIcons.payment }}</mat-icon>
            Payment History
          </button>
          <button mat-menu-item *ngIf="entityControl.createEntityOption"
                  (click)="confirmationModal(element.entityInfo.id)">
            <mat-icon>{{ helperService.constants.appIcons.deleteSweep }}</mat-icon>
            Delete Entity
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="entityControl.displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: entityControl.displayedColumns"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
