<mat-card-title class="mat-dialog-title">{{helperService.translated.MESSAGES.VIEW_CONNECTIONS}}</mat-card-title>
<div class="mat-dialog-content">
  <mat-list role="list">
    <mat-list-item role="listitem">
      <img src="../../../../../assets/images/useravatar.jpg">
      <div class="list-content">
        <label>Asad Fiaz</label>
        <span>
          <mat-icon>{{helperService.appIcons.email}}</mat-icon>
          s.amjad@optergy.com
        </span>
        <span>
          <mat-icon>{{helperService.appIcons.phone}}</mat-icon>
          03157118511
        </span>
      </div>
      <mat-icon color="warn" class="remove-btn">{{helperService.appIcons.deleteSweep}}</mat-icon>
    </mat-list-item>
    <mat-list-item role="listitem">
      <img src="../../../../../assets/images/useravatar.jpg">
      <div class="list-content">
        <label>Asad Fiaz</label>
        <span>
          <mat-icon>{{helperService.appIcons.email}}</mat-icon>
          s.amjad@optergy.com
        </span>
        <span>
          <mat-icon>{{helperService.appIcons.phone}}</mat-icon>
          03157118511
        </span>
      </div>
      <mat-icon color="warn" class="remove-btn">{{helperService.appIcons.deleteSweep}}</mat-icon>
    </mat-list-item>
    <mat-list-item role="listitem">
      <img src="../../../../../assets/images/useravatar.jpg">
      <div class="list-content">
        <label>Asad Fiaz</label>
        <span>
          <mat-icon>{{helperService.appIcons.email}}</mat-icon>
          s.amjad@optergy.com
        </span>
        <span>
          <mat-icon>{{helperService.appIcons.phone}}</mat-icon>
          03157118511
        </span>
      </div>
      <mat-icon color="warn" class="remove-btn">{{helperService.appIcons.deleteSweep}}</mat-icon>
    </mat-list-item>
    <mat-list-item role="listitem">
      <img src="../../../../../assets/images/useravatar.jpg">
      <div class="list-content">
        <label>Asad Fiaz</label>
        <span>
          <mat-icon>{{helperService.appIcons.email}}</mat-icon>
          s.amjad@optergy.com
        </span>
        <span>
          <mat-icon>{{helperService.appIcons.phone}}</mat-icon>
          03157118511
        </span>
      </div>
      <mat-icon color="warn" class="remove-btn">{{helperService.appIcons.deleteSweep}}</mat-icon>
    </mat-list-item>
  </mat-list>
  <br>
  <button class="mat-elevation-z1" color="warn" custom-btn btn-primary mat-button
    mat-dialog-close>{{helperService.translated.BUTTONS.CANCEL}}</button>
</div>
