<mat-card-title class="mat-dialog-title">{{helperService.translated.MESSAGES.VIEW_CONNECTIONS}}</mat-card-title>
<div class="mat-dialog-content">
  <mat-list role="list">
    <mat-list-item role="listitem">
      <img src="../../../../../assets/images/useravatar.jpg">
      <label>Asad Fiaz</label>
    </mat-list-item>
    <mat-list-item role="listitem">
      <img src="../../../../../assets/images/useravatar.jpg">
      <label>Asad Fiaz</label>
    </mat-list-item>
    <mat-list-item role="listitem">
      <img src="../../../../../assets/images/useravatar.jpg">
      <label>Asad Fiaz</label>
    </mat-list-item>
    <mat-list-item role="listitem">
      <img src="../../../../../assets/images/useravatar.jpg">
      <label>Asad Fiaz</label>
    </mat-list-item>
    <mat-list-item role="listitem">
      <img src="../../../../../assets/images/useravatar.jpg">
      <label>Asad Fiaz</label>
    </mat-list-item>
    <mat-list-item role="listitem">
      <img src="../../../../../assets/images/useravatar.jpg">
      <label>Asad Fiaz</label>
    </mat-list-item>
  </mat-list>
  <br>
  <button color="warn" custom-btn btn-primary mat-button mat-dialog-close>{{helperService.translated.BUTTONS.CANCEL}}</button>
</div>