<h1>
  Welcome to Anonymous project
</h1>

<mat-horizontal-stepper linear #stepper labelPosition="bottom">




  <mat-step [stepControl]="organizationForm">
    <form [formGroup]="organizationForm">
      <ng-template matStepLabel>Enter your Orginazation Details.</ng-template>


      <div class="form-group">
        <mat-form-field>
          <input matInput type="text" placeholder="Name" formControlName="name" required />
          <mat-error *ngIf="o.name.errors && o.name.errors.required">
            Please enter username.
          </mat-error>
        </mat-form-field>
      </div>

      <mat-form-field>
        <mat-select placeholder="Select Type" formControlName="type" required>
          <mat-option [value]="saab">Saab</mat-option>
          <mat-option [value]="mercedes">Mercedes</mat-option>
          <mat-option [value]="audi">Audi</mat-option>
          <!-- <mat-option *ngFor="let animal of animals" [value]="animal">
            {{animal.name}}
          </mat-option> -->
        </mat-select>
        <mat-error *ngIf="o.type.errors && o.type.errors.required">
          Please enter username.
        </mat-error>
      </mat-form-field>

      <div class="form-group">
        <mat-form-field>
          <input matInput type="text" placeholder="Address" formControlName="address" required />
          <mat-error *ngIf="o.address.errors && o.address.errors.required">
            Please enter Address.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <input matInput type="text" placeholder="Zip Code" formControlName="zipCode" required />
          <mat-error *ngIf="o.zipCode.errors && o.zipCode.errors.required">
            Please enter Zip Code.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <input matInput type="email" placeholder="Billing Email" formControlName="billingEmail" required />
          <mat-error *ngIf="o.billingEmail.errors && o.billingEmail.errors.required">
            Please enter Billing Email.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <input matInput type="number" placeholder="Account No" formControlName="accountNo" required />
          <mat-error *ngIf="o.accountNo.errors && o.accountNo.errors.required">
            Please enter Account No.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <input matInput type="number" placeholder="Phone No" formControlName="phoneNo" required />
          <mat-error *ngIf="o.phoneNo.errors && o.phoneNo.errors.required">
            Please enter Phone No.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <input matInput type="text" placeholder="Fax" formControlName="fax" required />
          <mat-error *ngIf="o.fax.errors && o.fax.errors.required">
            Please enter Zip Code.
          </mat-error>
        </mat-form-field>
      </div>



      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>






  <mat-step [stepControl]="moduleForm">
    <form [formGroup]="moduleForm">
      <ng-template matStepLabel>Select Module/Modules</ng-template>
      <!-- <mat-form-field>
        <input matInput placeholder="Address" formControlName="modules" required>
      </mat-form-field> -->
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="packageForm">
    <form [formGroup]="packageForm">
      <ng-template matStepLabel>Select Package</ng-template>
      <!-- <mat-form-field>
        <input matInput placeholder="Address" formControlName="package" required>
      </mat-form-field> -->
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>