<app-particle-container></app-particle-container>
<mat-card class="midbox loginbox">
    <span class="monogram">
        <img src="/assets/images/monogram.png" />
    </span>
    <mat-card-title>{{translated.MESSAGES.VERIFY_ACCOUNT}}</mat-card-title>
    <p class="subheading">{{translated.MESSAGES.VERIFY_MSG}}</p>
    <hr class="forheading">
    <p class="subheading">{{translated.MESSAGES.SIGNEDUP_EMAIL_MSG}} <a href="mailto:{{data.email}">{{data.userData.email}}</a></p>
    <p class="
            subheading">{{translated.MESSAGES.VERIFY_REQ}}</p>

    <button mat-raised-button custom-btn btn-primary color="primary" (click)="resendVerification()">{{translated.BUTTONS.RESEND_EMAIL}}</button>

    <form [formGroup]='verifyForm' (ngSubmit)="changeEmail(verifyForm)">

        <p class="subheading"><strong>{{translated.MESSAGES.OR}}</strong></p>
        <p class="subheading">{{translated.MESSAGES.CHANGE_EMAIL}}</p>

        <div [formGroup]='verifyForm'>
            <mat-form-field>
                <input matInput type="email" [placeholder]=translated.MESSAGES.EMAIL_RESET_PLACEHOLDER formControlName=email
                    required (blur)="checkEmail(verifyForm)">
                <mat-error *ngIf="formValidation.email.errors ">

                    <span *ngIf="formValidation.email.errors.email">{{translated.AUTH.EMAIL_REQ}}</span>
                    <span *ngIf="formValidation.email.errors?.exists">{{translated.AUTH.EMAIL_EXISTS}}</span>
                </mat-error>
            </mat-form-field>
            <button mat-raised-button custom-btn btn-primary [disabled]="formValidation.email.errors?.exists" onclick="changeEmail"
                color="secondary">{{translated.BUTTONS.CHANGE_EMAIL}}</button>
        </div>
    </form>
    <p class="subheading">{{translated.MESSAGES.QUESTION_QUERY}}</p>
    <p class="subheading">{{translated.MESSAGES.REACH_MSG}} <a href="mailto:help@safetybeat.com">{{translated.MESSAGES.HELP_EMAIL}}</a></p>
</mat-card>