@mixin amte-entity-setting($primary, $accent, $warn) {
  :host,
  app-entity-setting {
    .site-map {
      height: 300px;
      width: 100%;
    }
    @media (max-width: 768px) {
      .flexbox {
        display: block;
        mat-card {
          width: auto;
          padding: 0;
        }
      }
    }
  }
}
  