<mat-card-title class="mat-dialog-title">
  {{helperService.translated.MESSAGES.ADDQUESTION_MSG}}
</mat-card-title>
<div mat-dialog-content>
  <form [formGroup]="QuestionObj.addQuestionForm" (ngSubmit)=questionFormSubmit(QuestionObj.addQuestionForm)>
    <div class="form-group">
      <mat-form-field appearance="outline" full-width>
        <mat-label>{{helperService.translated.STRINGS.PARENT_QUESTION}}</mat-label>
        <mat-select [formControlName]="helperService.appConstants.parent">
          <input #input (change)="filterResult($event)">
          <mat-option *ngFor="let question of QuestionObj.parentQuestions | searchFilter" [value]="question.id">
            {{question.description}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" full-width>
        <mat-label>{{helperService.translated.STRINGS.CHILD_YES}}</mat-label>
        <mat-select [formControlName]="helperService.appConstants.childYes">
          <mat-option *ngFor="let question of QuestionObj.childQuestions" [value]="question.id">
            {{question.description}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" full-width>
        <mat-label>{{helperService.translated.STRINGS.CHILD_NO}}</mat-label>
        <mat-select [formControlName]="helperService.appConstants.childNo">
          <mat-option *ngFor="let question of QuestionObj.childQuestions" [value]="question.id">
            {{question.description}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-dialog-actions>
      <button mat-raised-button custom-btn btn-primary color="primary">
        {{ helperService.translated.BUTTONS.ADD_QUESTION }}
        <div class="main-loader" *ngIf="QuestionObj.loading">
          <span class="loader1"></span>
          <span class="loader2"></span>
          <span class="loader3"></span>
        </div>
      </button>

      <button mat-button mat-dialog-close>
        {{ helperService.translated.BUTTONS.CANCEL }}
      </button>
    </mat-dialog-actions>
  </form>
</div>
