@mixin amte-addQuestion($primary, $accent, $warn) {
  :host,
  app-addQuestion {
    mat-radio-group {
      width: 100%;
      display: block;
    }
    mat-radio-button {
      margin-right: 10px;
      float: right;
    }
  }
}
