<button mat-mini-fab edit>
    <mat-icon>{{ helperService.appIcons.edit }}</mat-icon>
</button>
<br><br>
<mat-divider></mat-divider><br><br>
<div role="list" class="settings-list">
    <mat-form-field fullWidth appearance="outline">
        <mat-label>Change Password</mat-label>
        <input matInput type="text" class="showonly"/>
    </mat-form-field>
    <mat-form-field fullWidth appearance="outline">
        <mat-label>Change Password</mat-label>
        <input matInput type="text" class="showonly"/>
    </mat-form-field>
    <mat-form-field fullWidth appearance="outline">
        <mat-label>Change Password</mat-label>
        <input matInput type="text" class="showonly"/>
    </mat-form-field>
    <mat-form-field fullWidth appearance="outline">
        <mat-label>Change Password</mat-label>
        <input matInput type="text" class="showonly"/>
    </mat-form-field>
    <mat-form-field fullWidth appearance="outline">
        <mat-label>Change Password</mat-label>
        <input matInput type="text" class="showonly"/>
    </mat-form-field>
</div>
<div class="btn-grp">
    <button type="button" mat-raised-button routerLink="" class="mat-elevation-z6" custom-btn>
        <mat-icon>{{ helperService.appIcons.save }}</mat-icon>
        Save
    </button>
    <button type="button" mat-raised-button routerLink="" class="mat-elevation-z6" color="warn" custom-btn btn-danger>
        Cancel
    </button>
</div>