<mat-card>
  <mat-card-title>Login Form</mat-card-title>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="input">
      <mat-form-field>
        <input matInput type="text" placeholder="User Name" formControlName="username" required />
        <mat-error *ngIf="submitted && f.username.errors">
          Username is required.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="input">
      <mat-form-field>
        <input matInput type="text" placeholder="Email" formControlName="email" />
        <mat-error *ngIf="submitted && f.email.errors">
          Email is required.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="password">
      <mat-form-field>
        <input matInput type="password" placeholder="Password" formControlName="password" required />
        <mat-error *ngIf="submitted && f.password.errors">
          Password is required.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="button">
      <button mat-raised-button [disabled]="loading" color="primary">Login</button>
      <button mat-raised-button routerLink="/signup">Register</button>
    </div>
    <div class="link">
      <a routerLink="/forgotpassword">Forgot Password?</a>
    </div>
  </form>
</mat-card>