<mat-card>
  <mat-card-title>Reset Your Password</mat-card-title>
  <div class="form-group">
    <mat-form-field>
      <input matInput type="email" placeholder="Email" formControlName="email" required />
      <mat-error *ngIf="submitted && f.email.errors ">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>
  </div>
  <button mat-raised-button [disabled]="loading" color="primary">
    Reset Password
  </button>
  <a mat-raised-button routerLink="/login">Cancel</a>
</mat-card>