@mixin amte-settings($primary, $accent, $warn) {
  :host,
  app-settings {
    display: table;
    position: relative;
    height: 100%;
    font-size: 14px;
    &:after {
      content: "";
      display: block;
      clear: both;
    }
    // Settings parent
    .settings-parent {
      width: 70%;
      display: block;
      margin: 50px auto;
      height: 100%;
      box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
      padding: 30px;
      border-radius: 4px;
      background: #fff;
    }
    .flexbox > div {
      text-align: left;
    }
    .btn-grp {
      text-align: right;
      margin-top: 20px;
      button {
        margin-left: 10px;
      }
    }
    .set-permission {
      .mat-list-item-content {
        flex-wrap: wrap;
        .populated-permissions {
          flex-basis: 100%;
        }
      }
    }
    .changetheme {
      .mat-radio-label {
        display: flex;
        align-items: center;
      }
    }
    .navigator {
      mat-list {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      mat-list-item {
        display: inline-block;
        width: auto;
      }
      .mat-list {
        padding-top: 0;
      }
      .mat-icon {
        float: left;
        padding-right: 10px;
      }
      .mat-list-item-content {
        padding: 0;
      }
      mat-list-item {
        font-size: 14px;
        text-align: center;
        mat-icon {
          display: block;
          clear: both;
          width: 100%;
        }
        span {
          text-decoration: none;
          display: block;
          width: 100%;
          padding: 15px 0;
          line-height: 1.7;
          color: rgba(0, 0, 0, 0.8);
          cursor: pointer;
          font-size: 12px;
          transition: all ease 0.3s;
          border-bottom-width: 2px;
          border-bottom-style: solid;
          border-color: transparent;
        }
      }
    }
    .settings-wrap {
      padding-top: 30px;
      padding-bottom: 50px;
      .mat-list-item-content {
        padding: 0;
      }
      label:not(.mat-radio-label) {
        width: 200px;
      }
      label:not(.mat-radio-label),
      input {
        width: 96%;
        font-size: 14px;
        margin: 0 0 10px;
        display: block;
      }
      .mat-form-field-underline {
        display: none;
      }
      .mat-form-field-wrapper {
        padding-bottom: 0;
      }
      label {
        font-weight: 500;
      }
      mat-form-field {
        width: 50%;
      }
      .mat-form-field-infix {
        width: 100%;
        padding: 0.4375em;
      }
      input,
      mat-select {
        border: 1px solid #ddd;
        padding: 10px;
        border-radius: 4px;
      }
      .mat-list-item {
        border-bottom: 1px solid #ddd;
        padding: 10px 0;
      }
    }
    .setting-title {
      margin: 0;
      display: flex;
      align-items: center;
      [edit-btn] {
        margin-left: auto;
      }
    }
    .theme-selector {
      .mat-radio-button {
        width: 100%;
        margin-bottom: 10px;
      }
      .mat-list-item {
        height: auto !important;
        border: 0 !important;
      }
    }
  }
}
