@mixin amte-alerts-person-report($primary, $accent, $warn) {
  :host,
  app-alerts-person-report {
    position: relative;
    height: 100%;
    .form-group {
      margin-bottom: 20px;
      mat-form-field {
        margin: 0 10px 0 0;
      }
    }
    @media (max-width: 575px) {
      .form-group {
        mat-form-field {
          width: 100%;
        }
      }
    }
  }
}
