<form class="profile-form set-permission">
    <mat-form-field appearance="outline">
        <mat-label>Select a Role</mat-label>
        <mat-select>
            <mat-option value="administrator">Administrator</mat-option>
            <mat-option value="moderator">Moderator</mat-option>
            <mat-option value="manager">Manager</mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <section class="populated-permissions">
        <mat-checkbox class="example-margin">Site creation</mat-checkbox>
        <mat-checkbox class="example-margin">Site import</mat-checkbox>
        <mat-checkbox class="example-margin">Entity Creation</mat-checkbox>
        <mat-checkbox class="example-margin">Entity Join</mat-checkbox>
        <mat-checkbox class="example-margin">Generate Report</mat-checkbox>
        <mat-checkbox class="example-margin">Invite User</mat-checkbox>
        <mat-checkbox class="example-margin">Report Hazard</mat-checkbox>
        <mat-checkbox class="example-margin">Upload Document</mat-checkbox>
    </section>
    <div class="btn-grp">
        <button mat-raised-button class="mat-elevation-z6" custom-btn btn-danger color="primary">
            <mat-icon>{{ helperService.appIcons.save }}</mat-icon>
            {{ helperService.translated.BUTTONS.SAVE }}
        </button>
        <button mat-raised-button class="mat-elevation-z6" custom-btn color="warn">
            {{ helperService.translated.BUTTONS.CANCEL }}
        </button>
    </div>
</form>