<h3>{{helperService.translated.TABLEHEADINGS.NOTIFICATIONS}}</h3>
<mat-divider></mat-divider>
<mat-tab-group animationDuration="22ms">
  <mat-tab label="Direct">
    <mat-list role="list">
      <mat-list-item role="listitem">
        <mat-icon class="clear-notif">{{helperService.appIcons.clear}}</mat-icon>
        <mat-icon class="unread-notif"></mat-icon>
        <h5><a href="#">This is some notification</a></h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
        <span class="timelog">10 days ago</span>
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon class="clear-notif">{{helperService.appIcons.clear}}</mat-icon>
        <mat-icon class="unread-notif"></mat-icon>
        <h5><a href="#">This is some notification</a></h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
        <span class="timelog">10 days ago</span>
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon class="clear-notif">{{helperService.appIcons.clear}}</mat-icon>
        <mat-icon class="read-notif"></mat-icon>
        <h5><a href="#">This is some notification</a></h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
        <span class="timelog">10 days ago</span>
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon class="clear-notif">{{helperService.appIcons.clear}}</mat-icon>
        <mat-icon class="unread-notif"></mat-icon>
        <h5><a href="#">This is some notification</a></h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
        <span class="timelog">10 days ago</span>
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon class="clear-notif">{{helperService.appIcons.clear}}</mat-icon>
        <mat-icon class="unread-notif"></mat-icon>
        <h5><a href="#">This is some notification</a></h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
        <span class="timelog">10 days ago</span>
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon class="clear-notif">{{helperService.appIcons.clear}}</mat-icon>
        <mat-icon class="read-notif"></mat-icon>
        <h5><a href="#">This is some notification</a></h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
        <span class="timelog">10 days ago</span>
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon class="clear-notif">{{helperService.appIcons.clear}}</mat-icon>
        <mat-icon class="read-notif"></mat-icon>
        <h5><a href="#">This is some notification</a></h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
        <span class="timelog">10 days ago</span>
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon class="clear-notif">{{helperService.appIcons.clear}}</mat-icon>
        <mat-icon class="unread-notif"></mat-icon>
        <h5><a href="#">This is some notification</a></h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
        <span class="timelog">10 days ago</span>
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon class="clear-notif">{{helperService.appIcons.clear}}</mat-icon>
        <mat-icon class="unread-notif"></mat-icon>
        <h5><a href="#">This is some notification</a></h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
        <span class="timelog">10 days ago</span>
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon class="clear-notif">{{helperService.appIcons.clear}}</mat-icon>
        <mat-icon class="unread-notif"></mat-icon>
        <h5><a href="#">This is some notification</a></h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
        <span class="timelog">10 days ago</span>
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon class="clear-notif">{{helperService.appIcons.clear}}</mat-icon>
        <mat-icon class="read-notif"></mat-icon>
        <h5><a href="#">This is some notification</a></h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
        <span class="timelog">10 days ago</span>
      </mat-list-item>
    </mat-list>
  </mat-tab>
  <mat-tab label="Requests">
    <mat-list role="list">
      <mat-list-item role="listitem">
        <mat-icon class="clear-notif">{{helperService.appIcons.clear}}</mat-icon>
        <mat-icon class="unread-notif"></mat-icon>
        <h5><a href="#">Asad Fiaz sent you request</a></h5>
        <span class="timelog">10 days ago</span>
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon class="clear-notif">{{helperService.appIcons.clear}}</mat-icon>
        <mat-icon class="unread-notif"></mat-icon>
        <h5><a href="#">Taqi sent you request</a></h5>
        <span class="timelog">10 days ago</span>
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon class="clear-notif">{{helperService.appIcons.clear}}</mat-icon>
        <mat-icon class="read-notif"></mat-icon>
        <h5><a href="#">Asad Fiaz sent you request</a></h5>
        <span class="timelog">10 days ago</span>
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon class="clear-notif">{{helperService.appIcons.clear}}</mat-icon>
        <mat-icon class="unread-notif"></mat-icon>
        <h5><a href="#">Asad Fiaz sent you request</a></h5>
        <span class="timelog">10 days ago</span>
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon class="clear-notif">{{helperService.appIcons.clear}}</mat-icon>
        <mat-icon class="unread-notif"></mat-icon>
        <h5><a href="#">Asad Fiaz sent you request</a></h5>
        <span class="timelog">10 days ago</span>
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon class="clear-notif">{{helperService.appIcons.clear}}</mat-icon>
        <mat-icon class="read-notif"></mat-icon>
        <h5><a href="#">Asad Fiaz sent you request</a></h5>
        <span class="timelog">10 days ago</span>
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon class="clear-notif">{{helperService.appIcons.clear}}</mat-icon>
        <mat-icon class="read-notif"></mat-icon>
        <h5><a href="#">Asad Fiaz sent you request</a></h5>
        <span class="timelog">10 days ago</span>
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon class="clear-notif">{{helperService.appIcons.clear}}</mat-icon>
        <mat-icon class="unread-notif"></mat-icon>
        <h5><a href="#">Asad Fiaz sent you request</a></h5>
        <span class="timelog">10 days ago</span>
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon class="clear-notif">{{helperService.appIcons.clear}}</mat-icon>
        <mat-icon class="unread-notif"></mat-icon>
        <h5><a href="#">Asad Fiaz sent you request</a></h5>
        <span class="timelog">10 days ago</span>
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon class="clear-notif">{{helperService.appIcons.clear}}</mat-icon>
        <mat-icon class="unread-notif"></mat-icon>
        <h5><a href="#">Asad Fiaz sent you request</a></h5>
        <span class="timelog">10 days ago</span>
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon class="clear-notif">{{helperService.appIcons.clear}}</mat-icon>
        <mat-icon class="unread-notif"></mat-icon>
        <h5><a href="#">Asad Fiaz sent you request</a></h5>
        <span class="timelog">10 days ago</span>
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon class="clear-notif">{{helperService.appIcons.clear}}</mat-icon>
        <mat-icon class="unread-notif"></mat-icon>
        <h5><a href="#">Asad Fiaz sent you request</a></h5>
        <span class="timelog">10 days ago</span>
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon class="clear-notif">{{helperService.appIcons.clear}}</mat-icon>
        <mat-icon class="unread-notif"></mat-icon>
        <h5><a href="#">Asad Fiaz sent you request</a></h5>
        <span class="timelog">10 days ago</span>
      </mat-list-item>
    </mat-list>
  </mat-tab>
</mat-tab-group>