@mixin amte-notificationnav($primary, $accent, $warn) {
  :host,
  app-notificationnav {
    padding: 0 20px;
    display: block;
    mat-list-item[role="listitem"] {
      .mat-list-item-content {
        display: block;
        padding:0;
      }
      h5 {
        margin: 10px 0;
      }
      p {
        margin: 10px 0;
        font-size: 12px;
      }
      .clear-notif {
        float: right;
        font-size: 14px;
        text-align: right;
        cursor: pointer;
        height: auto;
        width: auto;
        font-weight: bold;
        opacity: 0;
        transform: scale(0);
        transition: all ease 0.3s;
      }
      .read-notif {
        float: left;
        width: 10px;
        height: 10px;
        border-radius: 100px;
        margin: 2px 5px 0 0;
      }
      &:hover{
        .clear-notif{
            transform: scale(1);
            opacity: 1;
        }
      }
    }
  }
}
