<mat-card-title class="mat-dialog-title">{{helperService.translated.MESSAGES.TEAM}}</mat-card-title>
<div class="mat-dialog-content">
  <mat-list role="list">
    <mat-list-item role="listitem">
      <div class="member-thumbnail mat-elevation-z3">
        <!-- <img src="{{ team.teamLead.profileImage != null ? team.teamLead.profileImage : helperService.appConstants.avatar}}"> -->
        <img src="{{ team.teamLead | profileImage }}">
      </div>
      <div class="list-content">
        <label>{{team.teamLead.first_name}} {{team.teamLead.last_name}} <div class="role">Team Lead</div></label>
        <span>
          <mat-icon>{{helperService.appIcons.email}}</mat-icon>
          {{team.teamLead.email}}
        </span>
        <span>
          <mat-icon>{{helperService.appIcons.phone}}</mat-icon>
          {{team.teamLead.contactNo}}
        </span>
      </div>
    </mat-list-item>
    <mat-list-item role="listitem" *ngFor="let member of team.users">
      <div class="member-thumbnail">
        <!-- <img src="{{ member.profileImage != null ? member.profileImage : helperService.appConstants.avatar}}"> -->
        <img src="{{ member | profileImage}}">
      </div>
      <div class="list-content">
        <label>{{member.first_name}} {{member.last_name}} </label>
        <span>
          <mat-icon>{{helperService.appIcons.email}}</mat-icon>
          {{member.email}}
        </span>
        <span>
          <mat-icon>{{helperService.appIcons.phone}}</mat-icon>
          {{member.contactNo}}
        </span>
      </div>
    </mat-list-item>
  </mat-list>
  <br>
  <button mat-button mat-dialog-close>{{helperService.translated.BUTTONS.CANCEL}}</button>
</div>