/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/theming";
@import "~angular-notifier/styles";
@include mat-core();
@import "./theme/theme.light.scss";
@import "./theme/theme.dark.scss";
@import "./theme/olive-green.scss";
@import "./theme/dark-forest.scss";

html,
body {
  height: 100%;
  display: block;
  width: 100%;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
* {
  font-family: "Montserrat", sans-serif;
}
.paragraph {
  line-height: 1.7;
}
[btn-primary] {
  color: #fff !important;
}
.monogram {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  z-index: 999;
  border-radius: 100px;
  text-align: center;
  transform: translateY(-50%);
  box-shadow: -8px 0px 10px 0px #0000001f;
  border: 3px solid #fff;
  img {
    margin: 24px;
    width: 65px;
  }
}
.topbar {
  box-shadow: 0px 4px 7px 1px #00000036;
}
.noflex {
  display: block !important;
  height: auto !important;
}
[full-width] {
  width: 100% !important;
}
.marginGrid {
  margin-bottom: 20px;
  .mat-figure {
    margin: 16px !important;
    align-items: normal !important;
  }
}
.text-right {
  text-align: right;
}
.paddingbox {
  padding: 16px;
}
.infoTitle {
  font-size: 18px !important;
  font-weight: 600;
  position: relative;
  margin: 10px 0 !important;
  &:before {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    float: left;
    margin-top: 10px;
    margin-right: 8px;
  }
}
.sideLegend {
  &:after {
    content: "";
    display: block;
    height: 100%;
    width: 3px;
    position: absolute;
    right: -3px;
    top: 0;
  }
}
.mat-drawer-side {
  border-right: 0 !important;
}
.pagehead {
  height: auto !important;
  margin-bottom: 50px;
  padding: 20px 16px !important;
  .user-avatar {
    width: 150px;
    display: inline-block;
    margin-bottom: -80px;
    img {
      max-width: 100%;
      border-radius: 100px;
      overflow: hidden;
      box-shadow: 0 0 10px 0px #00000075;
      border: 2px solid #fff;
    }
  }
  .user-info {
    display: inline-block;
    padding: 30px;
    text-transform: capitalize;
    p {
      margin: 0;
      font-size: 14px;
    }
  }
}
.midbox {
  border-top: 4px solid;
  .mat-form-field-underline {
    background-color: rgba(0, 0, 0, 0.1);
  }
  width: 60%;
  margin: 100px auto;
  box-shadow: 0 0px 60px -20px #0000007a !important;
  border-radius: 10px !important;
  &:before {
    content: "";
    height: 4px;
    width: 32%;
    position: absolute;
    left: 20%;
    top: -4px;
  }
  &:after {
    content: "";
    background: #66cdaa;
    height: 4px;
    width: 30%;
    position: absolute;
    left: 50%;
    top: -4px;
  }
}
.mat-dialog-content {
  overflow: unset !important;
}
.notifier__notification-button {
  opacity: 1 !important;
  svg {
    width: 20px;
    height: 20px;
    background: transparent;
    opacity: 1 !important;
  }
}
[no-box-shadow] {
  box-shadow: none !important;
}
.mat-dialog-actions {
  margin-bottom: 0 !important;
}
.loginbox {
  padding: 40px !important;
  mat-card-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
  }
  div.button {
    margin: 20px 0;
    span.or {
      padding: 16px;
    }
  }
  div.link {
    a {
      text-decoration: none;
      text-transform: capitalize;
      font-weight: 500;
      font-size: 14px;
    }
  }
}
[custom-btn] {
  padding: 6px 15px !important;
  text-transform: capitalize;
  font-weight: 700;
  line-height: 30px !important;
}
[btn-white] {
  background-color: #fff !important;
}
.clearsep {
  clear: both;
  display: block;
  width: 100%;
  height: 20px;
}
@for $i from 1 through 30 {
  @keyframes particle-animation-#{$i} {
    100% {
      transform: translate3d(
        (random(90) * 1vw),
        (random(90) * 1vh),
        (random(100) * 1px)
      );
    }
  }

  .particle:nth-child(#{$i}) {
    animation: particle-animation-#{$i} 50s infinite;
    $size: random(5) + 5 + px;
    // opacity: random(100)/100;
    opacity: 0.1;
    height: $size;
    width: $size;
    transition: all ease 0.3s;
    animation-delay: -$i * 0.2s;
    transform: translate3d(
      (random(90) * 1vw),
      (random(90) * 1vh),
      (random(100) * 1px)
    );
    // background: hsl(random(360), 70%, 50%);
    &:hover {
      opacity: 1;
      cursor: pointer;
      mat-icon {
        transform: scale(1.2);
      }
    }
  }
}
#particle-container {
  position: fixed;
  left: 0;
  height: 100%;
  top: 0;
  overflow: hidden;
  .particle {
    position: absolute;
    border-radius: 50%;
    color: #fff;
    mat-icon {
      font-size: 40px;
      transition: all cubic-bezier(0.45, 0.01, 0, 3) 0.3s;
      transform: scale(1);
    }
    &:hover {
      mat-icon {
        transform: scale(1.3);
      }
    }
  }
}
.package-selectors {
  .mat-radio-container {
    display: none;
  }
  .radio-data {
    p {
      margin: 0;
    }
  }
  .mat-radio-button {
    margin: 10px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    &:before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 0;
      transition: all ease 0.3s;
      // transform: scale(0);
      opacity: 0;
      visibility: hidden;
    }
    &.mat-radio-checked:before {
      // transform: scale(1);
      opacity: 1;
      visibility: visible;
    }
  }
  .mat-radio-label {
    display: block;
    padding: 30px 50px !important;
    position: relative;
    z-index: 1;
  }
  .mat-radio-label-content {
    display: block;
    padding: 0 !important;
  }
}
.legend-title {
  margin: 10px 0 20px !important;
  font-size: 0.8rem !important;
  border: 1px solid;
  width: auto;
  display: inline-block !important;
  padding: 0.8rem 1.5rem;
  border-radius: 100px;
  position: relative;
  &:before,
  &:after {
    content: "";
    display: block;
    width: 70px;
    position: absolute;
    top: 20px;
    height: 0.9px;
  }
  &:before {
    left: -70px;
  }
  &:after {
    right: -70px;
  }
}
.package-selectors {
  .circ {
    stroke: #fff !important;
    opacity: 0;
    stroke-dasharray: 130;
    stroke-dashoffset: 130;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }
  .tick {
    stroke: #fff !important;
    stroke-dasharray: 50;
    stroke-dashoffset: 50;
    -webkit-transition: stroke-dashoffset 1s 0.5s ease-out;
    -moz-transition: stroke-dashoffset 1s 0.5s ease-out;
    -ms-transition: stroke-dashoffset 1s 0.5s ease-out;
    -o-transition: stroke-dashoffset 1s 0.5s ease-out;
    transition: stroke-dashoffset 1s 0.5s ease-out;
  }
  svg {
    border-radius: 100px;
    opacity: 0.1;
    width: 40px;
  }
  .mat-radio-checked {
    .trigger + svg .path {
      opacity: 1;
      stroke-dashoffset: 0;
    }
    .trigger + svg {
      opacity: 1;
    }
  }
}

hr.forheading {
  width: 30%;
  opacity: 0.4;
}
@media (max-width: 992px) {
  .monogram {
    width: 100px;
    height: 100px;
    border: 3px solid #fff;
    img {
      width: 46px;
    }
  }
  .midbox {
    width: 60% !important;
  }
  .sideLegend {
    &:after {
      content: "";
      display: block;
      height: 100%;
      width: 3px;
      position: absolute;
      right: -3px;
      top: 0;
    }
    .legendContent {
      h1 {
        font-size: 2.5em !important;
      }
      p {
        font-size: 14px;
        padding: 0 40px 0 0;
      }
    }
  }
}
@media (max-width: 768px) {
  .dashboard-widgets{
    height:auto !important;
    .mat-grid-tile{
      width:100% !important;
      position: relative;
      left:0 !important;
      top:0 !important;
      .highcharts-container,
      .highcharts-root {
        height:auto !important;
      }
    }
  }
  app-profile {
    .grid-container {
      .mat-grid-tile {
        width: 100% !important;
      }
    }
    .pagehead {
      display: block;
      text-align: center;
      margin-bottom: 10px;
      .user-avatar {
        display: block;
        margin: 0 auto;
      }
      .user-info {
        padding: 0;
        p {
          white-space: normal;
        }
      }
    }
  }
  .midbox {
    width: 70% !important;
  }
  .monogram {
    width: 80px;
    height: 80px;
    img {
      margin: 15px;
    }
  }
  .loginbox {
    .subheading {
      font-size: 14px;
    }
  }
  .sideLegend {
    .legendContent {
      padding: 20px !important;
      h1 {
        font-size: 1.8em !important;
      }
    }
  }
  .loginbox {
    mat-card-title {
      font-size: 16px;
    }
  }
}
@media (max-width: 575px) {
  app-login,
  app-forgot-password {
    app-particle-container {
      display: none;
    }
    .monogram {
      display: none;
    }
    mat-grid-tile {
      left: auto !important;
      width: 100% !important;
      top: 0px !important;
      height: auto !important;
      position: relative !important;
    }
    .mat-figure {
      position: relative !important;
      display: block !important;
    }
    .legendContent {
      position: relative !important;
      transform: none !important;
      top: auto !important;
    }
    .mat-card {
      border-radius: 0;
      padding: 0;
    }
  }
  .midbox {
    width: 80% !important;
    padding: 20px !important;
  }
  app-login {
    .loginbox {
      margin: 20px auto;
    }
  }
  .loginbox {
    div.button {
      span.or {
        padding: 0;
        opacity: 0;
      }
    }
    mat-card-title {
      font-size: 16px;
    }
    .subheading {
      font-size: 14px;
    }
    mat-step-header {
      padding: 20px 5px;
    }
    mat-step-header {
      .mat-step-label {
        font-size: 12px;
      }
      .material-icons {
        font-size: 20px;
      }
    }
    .mat-form-field-label {
      font-size: 12px;
    }
  }
  app-registration {
    [backtologin] {
      font-size: 14px;
    }
  }
  .sideLegend .legendContent {
    padding: 20px !important;
  }
  .mat-card-header {
    .mat-card-title {
      font-size: 16px !important;
    }
  }
  .infoTitle:before {
    width: 15px;
    margin-top: 8px;
  }
  .notfound-data {
    h1 {
      font-size: 7rem !important;
    }
    h5 {
      font-size: 1rem !important;
      margin:20px 0 !important;
    }
    p {
      padding: 0 20px;
      font-size: 14px;
    }
  }
}
