<mat-grid-list cols="2" rowHeight="100%">
  <mat-grid-tile>
    <mat-card class="sideLegend">
      <div class="legendContent">
        <h3>{{translated.MESSAGES.WELCOME}}</h3>
        <h1>{{translated.MESSAGES.ANONYMOUS}}</h1>
        <p>{{translated.MESSAGES.WELCOME_MSG}}</p>
        <span>{{translated.MESSAGES.NOACCOUNT}}</span>
        <button mat-raised-button custom-btn btn-white routerLink="/signup">{{translated.BUTTONS.REGISTER}}</button>
      </div>
    </mat-card>
  </mat-grid-tile>
  <span class="monogram">
    <img src="/assets/images/monogram.png" />
  </span>
  <mat-grid-tile>
    <mat-card class="midbox loginbox">
      <mat-card-title>{{translated.MESSAGES.RESET_MSG}}</mat-card-title>
      <p class="subheading">{{translated.MESSAGES.RESETMESSAGE}}</p>
      <form [formGroup]="forgotPassForm" (ngSubmit)="onSubmit(forgotPassForm)">
        <div class="form-group">
          <mat-form-field full-width>
            <input matInput type={{translated.STRINGS.EMAIL}} [placeholder]=translated.AUTH.EMAIL formControlName={{appConstants.email}}
              [errorStateMatcher]="formErrorMatcher" required (ngModelChange)="checkEmail(forgotPassForm)" />
            <mat-error *ngIf="formValidation.email.errors">
              <span *ngIf="formValidation.email.errors.required">{{translated.AUTH.EMAIL_REQ}}</span>
              <span *ngIf="formValidation.email.errors?.exists">{{translated.MESSAGES.EMAIL_NOT_REGISTERED}}</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="clearsep"></div>
        <button mat-raised-button custom-btn btn-primary onclick="onsubmit" color="primary">
          {{translated.BUTTONS.RESET}}
        </button>
        <a mat-raised-button routerLink="" custom-btn btn-danger color="warn">{{translated.BUTTONS.CANCEL}}</a>
      </form>
    </mat-card>
  </mat-grid-tile>
  <app-particle-container></app-particle-container>
</mat-grid-list>
