<div id="particle-container">
  <div class="particle">
    <mat-icon>{{appConstants.moveVert}}</mat-icon>
  </div>
  <div class="particle">
    <mat-icon>{{appConstants.dataUsage}}</mat-icon>
  </div>
  <div class="particle">
    <mat-icon>{{appConstants.changeHistory}}</mat-icon>
  </div>
  <div class="particle">
    <mat-icon>{{appConstants.cropDin}}</mat-icon>
  </div>
  <div class="particle">
    <mat-icon>{{appConstants.panoramaHorizontal}}</mat-icon>
  </div>
  <div class="particle">
    <mat-icon>{{appConstants.texture}}</mat-icon>
  </div>
  <div class="particle">
    <mat-icon>{{appConstants.allInclusive}}</mat-icon>
  </div>
  <div class="particle">
    <mat-icon>{{appConstants.radioButtonUnchecked}}</mat-icon>
  </div>
  <div class="particle">
    <mat-icon>{{appConstants.panoramaWideAngle}}</mat-icon>
  </div>
  <div class="particle">
    <mat-icon>{{appConstants.myLocation}}</mat-icon>
  </div>
  <div class="particle">
    <mat-icon>{{appConstants.share}}</mat-icon>
  </div>
  <div class="particle">
    <mat-icon>{{appConstants.waves}}</mat-icon>
  </div>
  <div class="particle">
    <mat-icon>{{appConstants.gpsNotFixed}}</mat-icon>
  </div>
  <div class="particle">
    <mat-icon>{{appConstants.scatterPlot}}</mat-icon>
  </div>
  <div class="particle">
    <mat-icon>{{appConstants.details}}</mat-icon>
  </div>
  <div class="particle">
    <mat-icon>{{appConstants.moveVert}}</mat-icon>
  </div>
  <div class="particle">
    <mat-icon>{{appConstants.dataUsage}}</mat-icon>
  </div>
  <div class="particle">
    <mat-icon>{{appConstants.changeHistory}}</mat-icon>
  </div>
  <div class="particle">
    <mat-icon>{{appConstants.cropDin}}</mat-icon>
  </div>
  <div class="particle">
    <mat-icon>{{appConstants.panoramaHorizontal}}</mat-icon>
  </div>
  <div class="particle">
    <mat-icon>{{appConstants.texture}}</mat-icon>
  </div>
  <div class="particle">
    <mat-icon>{{appConstants.allInclusive}}</mat-icon>
  </div>
  <div class="particle">
    <mat-icon>{{appConstants.radioButtonUnchecked}}</mat-icon>
  </div>
  <div class="particle">
    <mat-icon>{{appConstants.panoramaWideAngle}}</mat-icon>
  </div>
  <div class="particle">
    <mat-icon>{{appConstants.myLocation}}</mat-icon>
  </div>
  <div class="particle">
    <mat-icon>{{appConstants.share}}</mat-icon>
  </div>
  <div class="particle">
    <mat-icon>{{appConstants.waves}}</mat-icon>
  </div>
  <div class="particle">
    <mat-icon>{{appConstants.gpsNotFixed}}</mat-icon>
  </div>
  <div class="particle">
    <mat-icon>{{appConstants.scatterPlot}}</mat-icon>
  </div>
  <div class="particle">
    <mat-icon>{{appConstants.details}}</mat-icon>
  </div>
</div>
