<mat-card-title class="mat-dialog-title" *ngIf="!hazardObj.editModal">
  {{ helperService.translated.MESSAGES.ADD_HAZARD }}
</mat-card-title>
<mat-card-title class="mat-dialog-title" *ngIf="hazardObj.editModal">
  {{ helperService.translated.MESSAGES.EDIT_HAZARD }}
</mat-card-title>
<div mat-dialog-content>
  <form [formGroup]="hazardObj.addHazardForm" (ngSubmit)="hazardFormSubmit(hazardObj.addHazardForm)">
    <div class="form-group change-picture">
      <span>{{ helperService.translated.STRINGS.CHANGEPICTURE }}</span>
      <img [src]="url">
      <input type='file' accept='image/*' (change)=onFileSelected($event.target.files) />
      <mat-icon class="remove-picture" (click)="removePicture()">{{ helperService.appIcons.deleteForever }}</mat-icon>
    </div>
    <div class="form-group">
      <mat-form-field full-width appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput type="text" formControlName="title" required />
        <mat-error class="text-right" *ngIf="addHazardControls.title.errors">
          <span>{{ helperService.translated.AUTH.REQUIRED_FIELD }}</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field full-width appearance="outline">
        <mat-label>Location</mat-label>
        <input matInput appGooglePlaces type="text" formControlName="location" required />
        <mat-error class="text-right" *ngIf="addHazardControls.location.errors">
          <span>{{ helperService.translated.AUTH.REQUIRED_FIELD }}</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field full-width appearance="outline">
        <mat-label>Description</mat-label>
        <input matInput type="text" formControlName="description" required />
        <mat-error class="text-right" *ngIf="addHazardControls.description.errors">
          <span>{{ helperService.translated.AUTH.REQUIRED_FIELD }}</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field full-width appearance="outline">
        <mat-label>Precautionary Note</mat-label>
        <input matInput type="text" formControlName="note" required />
        <mat-error class="text-right" *ngIf="addHazardControls.note.errors">
          <span>{{ helperService.translated.AUTH.REQUIRED_FIELD }}</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field full-width appearance="outline">
        <mat-label>Select Risk</mat-label>
        <mat-select formControlName="risk" name="risk" required>
          <mat-option *ngFor="let risk of risks" [value]="risk.id">
            {{risk.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-dialog-actions>
        <button mat-raised-button custom-btn btn-primary color="primary" [disabled]="!hazardObj.addHazardForm.valid">
          {{helperService.translated.BUTTONS.SAVE}}
        </button>
        <button mat-button [mat-dialog-close]="'CANCEL'">
          {{ helperService.translated.BUTTONS.CANCEL }}
        </button>
      </mat-dialog-actions>
    </div>
  </form>
</div>
