<mat-card-title class="mat-dialog-title" >
  Add Hazard
</mat-card-title>
<div mat-dialog-content>
  <form [formGroup]="addHazardForm" (ngSubmit)="addHazard(this.addHazardForm)">
    <div class="form-group">
      <mat-form-field full-width>
        <input matInput type="text" formControlName="title"  placeholder="Title" required/>
        <mat-error class="text-right" *ngIf="addHazardControls.title.errors">
          <span>Field is Required</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field full-width >
        <input matInput type="text" formControlName="description" required placeholder="Description"/>
        <mat-error class="text-right" *ngIf="addHazardControls.description.errors">
          <span>Field is Required</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field full-width>
          <mat-select formControlName="risk" placeholder="Select Risk" name="risk" required>
            <mat-option *ngFor="let risk of risks" [value]="risk.id">
              {{risk.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="form-group">
          <input
            type='file'
            name="{{helperService.appConstants.importSite}}"
            id="{{helperService.appConstants.importSite}}"
            accept='image/*'
            (change) = onFileSelected($event)
          />
        </div>
      <mat-dialog-actions>
        <button mat-raised-button custom-btn btn-primary color="primary"  [disabled]="!this.addHazardForm.valid">
          Save
        </button>
        <button mat-raised-button custom-btn btn-primary color="warn" mat-dialog-close>
          {{ helperService.translated.BUTTONS.CANCEL }}
        </button>

      </mat-dialog-actions>
    </div>
  </form>
</div>
