<h3 class="setting-title">
  <button btn-primary mat-raised-button edit-btn color="primary">
    <mat-icon>edit</mat-icon>
  </button>
</h3>
<div role="list" class="settings-list">
  <mat-form-field full-width appearance="outline">
    <mat-label>Change Password</mat-label>
    <input matInput type="text" class="showonly" />
  </mat-form-field>
  <mat-form-field full-width appearance="outline">
    <mat-label>Change Password</mat-label>
    <input matInput type="text" class="showonly" />
  </mat-form-field>
  <mat-form-field full-width appearance="outline">
    <mat-label>Change Password</mat-label>
    <input matInput type="text" class="showonly" />
  </mat-form-field>
  <mat-form-field full-width appearance="outline">
    <mat-label>Change Password</mat-label>
    <input matInput type="text" class="showonly" />
  </mat-form-field>
  <mat-form-field full-width appearance="outline">
    <mat-label>Change Password</mat-label>
    <input matInput type="text" class="showonly" />
  </mat-form-field>
</div>
<div class="btn-grp">
  <button type="button" mat-raised-button routerLink="" custom-btn btn-primary> Save</button>
  <button type="button" mat-raised-button routerLink="" color="warn" custom-btn btn-danger> Cancel</button>
</div>