<h3 class="setting-title">Group Settings</h3>
<div role="list" class="settings-list">
  <mat-form-field full-width>
    <label>Change Password</label>
    <input matInput type="text" class="showonly" />
  </mat-form-field>
  <mat-form-field full-width>
    <label>Confirm Password</label>
    <input matInput type="text" class="showonly" />
  </mat-form-field>
  <mat-form-field full-width>
    <label>Security Question 1</label>
    <input matInput type="text" class="showonly" />
  </mat-form-field>
  <mat-form-field full-width>
    <label>Security Question 2</label>
    <input matInput type="text" class="showonly" />
  </mat-form-field>
  <mat-form-field full-width>
    <label>Contact Number</label>
    <input matInput type="text" class="showonly" />
  </mat-form-field>
</div>
<div class="btn-grp">
  <button type="button" mat-raised-button routerLink="" custom-btn btn-primary> Save</button>
  <button type="button" mat-raised-button routerLink="" color="warn" custom-btn btn-danger> Cancel</button>
</div>