<div class="theme-selector">
  <mat-toolbar class="pagehead">
    <mat-icon class="siteicon">language</mat-icon>
    <div class="user-info" *ngIf="viewSiteObj.siteInfo">
      <h3>
        <strong>{{viewSiteObj.siteInfo.name}}</strong>
      </h3>
      <p>{{viewSiteObj.siteInfo.location}}</p>
    </div>
  </mat-toolbar>
  <div class="paddingbox">
    <mat-grid-list cols="4" rowHeight="250px" gutterSize="10px">

      <!-- Site Activity -->
      <mat-grid-tile colspan="2">
        <mat-card class="dashboard-card">
          <mat-card-header class="infoTitle">
            <mat-card-title>Site Activity</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="activity-card">
              <div class="row"><strong>BlueSky Hardware</strong><span><a routerLink="">
                    <mat-icon>link</mat-icon> View Site
                  </a></span></div>
              <div class="row"><strong>Check-in</strong><span>12-Mar | 12:40 PM</span></div>
              <div class="row"><strong>Check-out</strong><span>13-Apr | 06:12 AM</span></div>
              <div class="row"><strong>Duration</strong><span>10 days</span></div>
            </div>
            <div class="activity-card">
              <div class="row"><strong>BlueSky Hardware</strong><span><a routerLink="">
                    <mat-icon>link</mat-icon> View Site
                  </a></span></div>
              <div class="row"><strong>Check-in</strong><span>12-Mar | 12:40 PM</span></div>
              <div class="row"><strong>Check-out</strong><span>13-Apr | 06:12 AM</span></div>
              <div class="row"><strong>Duration</strong><span>10 days</span></div>
            </div>
            <div class="activity-card">
              <div class="row"><strong>BlueSky Hardware</strong><span><a routerLink="">
                    <mat-icon>link</mat-icon> View Site
                  </a></span></div>
              <div class="row"><strong>Check-in</strong><span>12-Mar | 12:40 PM</span></div>
              <div class="row"><strong>Check-out</strong><span>13-Apr | 06:12 AM</span></div>
              <div class="row"><strong>Duration</strong><span>10 days</span></div>
            </div>
            <div class="activity-card">
              <div class="row"><strong>BlueSky Hardware</strong><span><a routerLink="">
                    <mat-icon>link</mat-icon> View Site
                  </a></span></div>
              <div class="row"><strong>Check-in</strong><span>12-Mar | 12:40 PM</span></div>
              <div class="row"><strong>Check-out</strong><span>13-Apr | 06:12 AM</span></div>
              <div class="row"><strong>Duration</strong><span>10 days</span></div>
            </div>
            <div class="activity-card">
              <div class="row"><strong>BlueSky Hardware</strong><span><a routerLink="">
                    <mat-icon>link</mat-icon> View Site
                  </a></span></div>
              <div class="row"><strong>Check-in</strong><span>12-Mar | 12:40 PM</span></div>
              <div class="row"><strong>Check-out</strong><span>13-Apr | 06:12 AM</span></div>
              <div class="row"><strong>Duration</strong><span>10 days</span></div>
            </div>

            <div class="activity-card">
              <div class="row"><strong>BlueSky Hardware</strong><span><a routerLink="">
                    <mat-icon>link</mat-icon> View Site
                  </a></span></div>
              <div class="row"><strong>Check-in</strong><span>12-Mar | 12:40 PM</span></div>
              <div class="row"><strong>Check-out</strong><span>13-Apr | 06:12 AM</span></div>
              <div class="row"><strong>Duration</strong><span>10 days</span></div>
            </div>

            <div class="activity-card">
              <div class="row"><strong>BlueSky Hardware</strong><span><a routerLink="">
                    <mat-icon>link</mat-icon> View Site
                  </a></span></div>
              <div class="row"><strong>Check-in</strong><span>12-Mar | 12:40 PM</span></div>
              <div class="row"><strong>Check-out</strong><span>13-Apr | 06:12 AM</span></div>
              <div class="row"><strong>Duration</strong><span>10 days</span></div>
            </div>

            <div class="activity-card">
              <div class="row"><strong>BlueSky Hardware</strong><span><a routerLink="">
                    <mat-icon>link</mat-icon> View Site
                  </a></span></div>
              <div class="row"><strong>Check-in</strong><span>12-Mar | 12:40 PM</span></div>
              <div class="row"><strong>Check-out</strong><span>13-Apr | 06:12 AM</span></div>
              <div class="row"><strong>Duration</strong><span>10 days</span></div>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile><!-- /Site Activity -->

      <!-- Site Information -->
      <mat-grid-tile colspan="2">
        <mat-card class="dashboard-card activities">
          <mat-card-header class="infoTitle">
            <mat-card-title>{{helperService.translated.STRINGS.SITEINFORMATION}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div *ngIf="viewSiteObj.siteInfo">
              <div class="siteinfo-row" *ngIf="viewSiteObj.siteSafetyManager">
                <mat-icon>{{helperService.appIcons.permIdentity}}</mat-icon>
                <strong>{{helperService.translated.STRINGS.SITESAFETYMANAGER}}</strong>
                <p>{{viewSiteObj.siteSafetyManager.first_name}} {{viewSiteObj.siteSafetyManager.last_name}}</p>
              </div>
              <div class="siteinfo-row">
                <mat-icon class="safe-icon safe" *ngIf="viewSiteObj.siteInfo.safeZone">{{helperService.appIcons.check}}
                </mat-icon>
                <mat-icon class="safe-icon unsafe" *ngIf="!viewSiteObj.siteInfo.safeZone">
                  {{helperService.appIcons.clear}}</mat-icon>
                <strong>{{helperService.translated.STRINGS.SAFEZONE}}</strong>
                <p *ngIf="viewSiteObj.siteInfo.safeZone">
                  {{viewSiteObj.siteInfo.name}}{{helperService.translated.MESSAGES.SITE_IS_SAFE}}</p>
                <p *ngIf="!viewSiteObj.siteInfo.safeZone">
                  {{viewSiteObj.siteInfo.name}}{{helperService.translated.MESSAGES.SITE_IS_NOT_SAFE}}</p>
              </div>
              <div class="siteinfo-row">
                <mat-icon>{{helperService.appIcons.security}}</mat-icon>
                <strong>{{helperService.translated.STRINGS.SITESAFETYPLAN}}</strong>
                <p>{{viewSiteObj.siteInfo.siteSafetyPlan}}</p>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile><!-- /Site Activity -->

      <!--  -->
      <mat-grid-tile colspan="2">
        <mat-card class="dashboard-card activities">
          <mat-card-header class="infoTitle">
            <mat-card-title>Site Hazards</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div *ngIf="viewSiteObj.siteInfo">
              <div class="activity-card">
                <div class="row"><strong>BlueSky Hardware</strong><span><a routerLink="">
                      <mat-icon>link</mat-icon> View Site
                    </a></span></div>
                <div class="row"><strong>Check-in</strong><span>12-Mar | 12:40 PM</span></div>
                <div class="row"><strong>Check-out</strong><span>13-Apr | 06:12 AM</span></div>
                <div class="row"><strong>Duration</strong><span>10 days</span></div>
              </div>
              <mat-divider></mat-divider>
              <div class="activity-card">
                <div class="row"><strong>BlueSky Hardware</strong><span><a routerLink="">
                      <mat-icon>link</mat-icon> View Site
                    </a></span></div>
                <div class="row"><strong>Check-in</strong><span>12-Mar | 12:40 PM</span></div>
                <div class="row"><strong>Check-out</strong><span>13-Apr | 06:12 AM</span></div>
                <div class="row"><strong>Duration</strong><span>10 days</span></div>
              </div>
              <mat-divider></mat-divider>
              <div class="activity-card">
                <div class="row"><strong>BlueSky Hardware</strong><span><a routerLink="">
                      <mat-icon>link</mat-icon> View Site
                    </a></span></div>
                <div class="row"><strong>Check-in</strong><span>12-Mar | 12:40 PM</span></div>
                <div class="row"><strong>Check-out</strong><span>13-Apr | 06:12 AM</span></div>
                <div class="row"><strong>Duration</strong><span>10 days</span></div>
              </div>
              <mat-divider></mat-divider>
              <div class="activity-card">
                <div class="row"><strong>BlueSky Hardware</strong><span><a routerLink="">
                      <mat-icon>link</mat-icon> View Site
                    </a></span></div>
                <div class="row"><strong>Check-in</strong><span>12-Mar | 12:40 PM</span></div>
                <div class="row"><strong>Check-out</strong><span>13-Apr | 06:12 AM</span></div>
                <div class="row"><strong>Duration</strong><span>10 days</span></div>
              </div>
              <mat-divider></mat-divider>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile><!-- / -->

      <!-- Site Location -->
      <mat-grid-tile colspan="2">
        <mat-card class="dashboard-card">
          <mat-card-header class="infoTitle">
            <mat-card-title>Site Location</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div #gmap class="site-map"></div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile><!-- /Site Location -->
    </mat-grid-list>
  </div>
