<mat-card-title class="mat-dialog-title">{{helperService.translated.MESSAGES.CHANGE_ACCESS_LEVEL}}</mat-card-title>
<div class="mat-dialog-content">
  <h4>Choose role for this user</h4>
  <mat-form-field class="full-width">
    <mat-label>Roles</mat-label>
    <mat-select>
      <mat-option value="Paratha Role">User</mat-option>
      <mat-option value="Cream Role">Entity Manager</mat-option>
      <mat-option value="Chicken Role">Team Lead</mat-option>
      <mat-option value="Rock Role">Site Safety Manager</mat-option>
    </mat-select>
  </mat-form-field>
  <h4>Select team</h4>
  <mat-form-field class="full-width">
    <mat-label>Teams</mat-label>
    <mat-select>
      <mat-option value="Football Team">Team 1</mat-option>
      <mat-option value="Cricket Team">Team 2</mat-option>
      <mat-option value="SafetyBeat Team">Team 3</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-dialog-actions>
    <button mat-raised-button cdkFocusInitial custom-btn btn-primary
      color="primary">{{helperService.translated.BUTTONS.SAVE}}</button>
    <button mat-button mat-dialog-close>{{helperService.translated.BUTTONS.CANCEL}}</button>
  </mat-dialog-actions>
</div>
