@mixin amte-organization-info($primary, $accent, $warn) {
  :host,
  app-organization-info {
    .site-map {
      height: 300px;
      width: 100%;
    }
    button[edit] {
      float: right;
    }
    .flexbox{
      mat-card{
        width: 50%;
      }
    }
    @media (max-width: 992px) {
      .flexbox {
        display: block;
        mat-card {
          width: 100%;
          padding: 0;
        }
      }
    }
  }
}
