<h4>{{helperService.translated.TABLEHEADINGS.NOTIFICATIONS}}</h4>
<mat-tab-group>
  <mat-tab label="Direct">
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor = "let directMessage of directMessages">
        <h5><a href="#">{{directMessage.type}}</a></h5>
        <p>{{directMessage.message}}</p>
        <span class="timelog">{{directMessage.time | date:'medium'}}</span>
      </mat-list-item>
    </mat-list>
  </mat-tab>
  <mat-tab label="Requests">
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor = "let request of requests">
        <h5><a href="#">{{request.first_name}} {{request.last_name}} {{this.translated.STRINGS.SENT_REQUEST}}</a></h5>
        <span class="timelog">{{this.translated.STRINGS.REQUST_DAYS}}</span>
      </mat-list-item>
    </mat-list>
  </mat-tab>
</mat-tab-group>
