@mixin amte-siteCodeModal($primary, $accent, $warn) {
  :host,
  app-showSiteCode {
    .mat-dialog-content,
    .mat-dialog-title {
      width: auto;
    }
    mat-dialog-actions {
      justify-content: center;
    }
    @keyframes animate {
      0% {
        background-position: -500%;
      }
      100% {
        background-position: 500%;
      }
    }
    .entity-code {
      font-weight: 400;
      font-size: 1.25rem;
      text-align: center;
      border: 1px solid lightgrey;
      padding: 9px 5px 8px 15px;
      display: block;
      letter-spacing: 12px;
      color: mat-color($primary, 500);
      position: relative;
      overflow: hidden;
      background: linear-gradient(90deg, mat-color($primary, 500), #fff, mat-color($primary, 500));
      background-repeat: no-repeat;
      background-size: 80%;
      animation: animate 3s linear infinite;
      -webkit-background-clip: text;
      -webkit-text-fill-color: rgba(0, 0, 0, 0.25);
    }
  }
}
