<mat-card>
  <mat-card-title>{{translated.MESSAGES.RESET_MSG}}</mat-card-title>
  <form [formGroup]="forgotPassForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <mat-form-field>
        <input matInput type="email" [placeholder]=translated.AUTH.EMAIL formControlName=email required />
        <mat-error *ngIf="formValidation.email.errors ">
          {{translated.AUTH.EMAIL_REQ}}
        </mat-error>
      </mat-form-field>
    </div>
    <button mat-raised-button [disabled]="loading" color="primary" onclick="onsubmit">
      {{translated.BUTTONS.RESET}}
    </button>
    <img *ngIf="loading" [src]=translated.MESSAGES.LOADING_URL />
    <a mat-raised-button routerLink="">{{translated.BUTTONS.CANCEL}}</a>
  </form>
</mat-card>